{% extends "search_base.html" %}

{% block js %}
{{ block.super }}

<meta name="og:title" content="Sunlight Foundation's Valentine's E-cards">
<meta name="og:description" content="">
<meta name="og:type" content="cause">
<meta name="og:image" content="{{ card_url }}">
<meta name="og:url" content="http://influenceexplorer.com/valentines/ecard/{{ label }}/">
<meta name="og:site_name" content="Influence Explorer">
<meta name="fb:admins" content="7812952">
{% endblock %}

{% block main %}
<div class="module">
    <div class="vdayShareLinks">
        <a id="facebookShare" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Finfluenceexplorer.com%2Fvalentines%2Fecard%2F{{ label }}%2F&t=Check%20out%20this%20Sunlight%20Foundation%20Valentine%27s%20e-card%21">Share on Facebook</a>
        <a id="twitterShare" href="http://twitter.com/?status=Check%20out%20this%20Sunlight%20Foundation%20Valentine%27s%20e-card%21%20http%3A%2F%2Finfluenceexplorer.com%2Fvalentines%2Fecard%2F{{ label }}%2F">Share on Twitter</a>
    </div>
    <div class="clear"></div>
    <img class="vdayImg" src="{{ card_url }}" />
    <div id="vdayMessage">
        {% if info_url %}
            <a class="standOut" href="{{ info_url }}">See more details on the {{ name }} industry.</a>
        {% endif %}
        {% if message %}
        <div class="message">
            {{ message.message|linebreaksbr }}
        </div>
        {% endif %}
    </div>
    
    <div id="vdaySignup">
        <a class="standOut" id="vdayLink" href="/valentines">Send your own ecard!</a>
        <p>Like this product? Become part of our community to get regular updates and find out how you can help open up your government by signing up below.</p>
        <form id="signupForm" action="/valentines/signup/" method="post">
            <ul>
              <li>
                <label>Email</label>
                <input id="id_email" type="text" name="email"/>
              </li>
              <li>
                <label>Zip Code</label>
                <input id="id_zip" type="text" name="zipcode"/>
              </li>
              <li>
                <button class="signupBtn" type="submit">
                  <span>Sign Up</span>
                </button>
              </li>
            </ul>
            <div class="clear"></div>
            </form>
    </div>
</div>
{% endblock %}