{% extends "search_base.html" %}

{% block main %}
<div id="contentHeader">
    <h2 class="h3">Special Interests for That Special Someone?</h2>
</div>
<div class="module">
    <div id="description">
        <p>Sweethearts aren’t the only ones receiving gifts this Valentine’s Day. Lawmakers benefit year-round from the greeting card, restaurant, candy and other industries that capitalize on Cupid’s arrow.</p>
    </div>
    <p id="vdayStandout" class="standOut">Choose a e-card from below to send to someone special.</p>
    <ul class="ecards">
        <li>
            <h3 class="withTip"><a href="sample/">Jewelry Industry</a></h3>
            <a href="#"><img alt="spoof of a diamond is forever ad" src="/media/images/ecards/jewelry_sm.jpg" /></a>
        </li>
        <li>
            <h3 class="withTip"><a href="sample/">Movie Theatre Industry</a></h3>
            <a href="#"><img alt="spoof of Let's all go to the lobby animation" src="/media/images/ecards/movies_sm.jpg" /></a>
        </li>
        <li>
            <h3 class="withTip"><a href="sample/">Restaurant Industry</a></h3>
            <a href="#"><img alt="spoof of Let's all go to the lobby animation" src="/media/images/ecards/restaurants_sm.jpg" /></a>
        </li>
        <li>
            <h3 class="withTip"><a href="sample/">Flower Industry</a></h3>
            <a href="#"><img alt="spoof of saying, say it with flowers" src="/media/images/ecards/flowers_sm.jpg" /></a>
        </li>
        <li>
            <h3 class="withTip"><a href="sample/">Candy Industry</a></h3>
            <a href="#"><img alt="conversation hearts" src="/media/images/ecards/candy_sm.jpg" /></a>
        </li>
    </ul>
</div>
{% endblock %}