{% extends "search_base.html" %}

{% block js %}
{{ block.super }}

<meta name="og:title" content="Sunlight Foundation's Valentine's E-cards">
<meta name="og:description" content="">
<meta name="og:type" content="cause">
<meta name="og:image" content="http://influenceexplorer.com/media/images/ecards/jewelry_sm.jpg">
<meta name="og:url" content="http://influenceexplorer.com/valentines/">
<meta name="og:site_name" content="Influence Explorer">
<meta name="fb:admins" content="7812952">
{% endblock %}

{% block main %}
<div id="contentHeader">
    <h2 class="h3">Special Interests for That Special Someone?</h2>
</div>
<div class="module">
    <div class="vdayShareLinks">
        <a id="facebookShare" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Finfluenceexplorer.com%2Fvalentines%2F&t=Special%20interests%20for%20that%20special%20someone%3F%20Send%20a%20Sunlight%20Foundation%20Valentine%27s%20Day%20e-card%21">Share on Facebook</a>
        <a id="twitterShare" href="http://twitter.com/?status=Special%20interests%20for%20that%20special%20someone%3F%20Send%20a%20Sunlight%20Foundation%20Valentine%27s%20Day%20e-card%21%20http%3A//bit.ly/el0ZmP">Share on Twitter</a>
    </div>
    <div id="description">
        <p>Sweethearts aren’t the only ones receiving gifts this Valentine’s Day. Lawmakers benefit year-round from the greeting card, restaurant, candy and other industries that capitalize on Cupid’s arrow.</p>
    </div>
    <p id="vdayStandout" class="standOut">Choose a e-card from below to send to someone special.</p>
    <ul class="ecards">
        <li>
            <h3 class="withTip"><a href="jewelry/">Jewelry Industry</a></h3>
            <a href="jewelry/"><img alt="spoof of a diamond is forever ad" src="/media/images/ecards/jewelry_sm.jpg" /></a>
        </li>
        <li>
            <h3 class="withTip"><a href="movies/">Movie Theatre Industry</a></h3>
            <a href="movies/"><img alt="spoof of Let's all go to the lobby animation" src="/media/images/ecards/movies_sm.jpg" /></a>
        </li>
        <li>
            <h3 class="withTip"><a href="restaurants/">Restaurant Industry</a></h3>
            <a href="restaurants/"><img alt="spoof of Let's all go to the lobby animation" src="/media/images/ecards/restaurants_sm.jpg" /></a>
        </li>
        <li>
            <h3 class="withTip"><a href="flowers/">Flower Industry</a></h3>
            <a href="flowers/"><img alt="spoof of saying, say it with flowers" src="/media/images/ecards/flowers_sm.jpg" /></a>
        </li>
        <li>
            <h3 class="withTip"><a href="candy/">Candy Industry</a></h3>
            <a href="candy/"><img alt="conversation hearts" src="/media/images/ecards/candy_sm.jpg" /></a>
        </li>
    </ul>
</div>
{% endblock %}