<html>
    <body>
        Dear {{ recipient_name }},
        <br /><br />
        {{ sender_name }} sent you a special interest Valentine's Day card from the Sunlight Foundation. Industries that profit from Valentine's Day spend hundreds of thousands of dollars on lobbying and campaign contributions. Pick up your card to learn more. 
        <br /><br />
        {{ sender_name }}'s special Valentine's Day message for you:
        <br /><br />
        {{ message|linebreaksbr }}
        <br /><br />
        <a href="{{ card_page_url }}{{ id }}/{{ hash }}/">Click here to view your e-card.</a>
    </body>
</html>