{% extends "brisket_base.html" %}

{% block body_class %}fortune flatText{% endblock %}

{% block pagetitle %}Fixed Fortunes | {% endblock %}

{% block metadesc %}In just six years, 200 of US’ most politically active corporations received $4.4 billion in federal business and support.{% endblock %}

{% block og %}
  <meta name="og:title" content="Fixed Fortunes: Biggest corporate political interests spend billions, get trillions">
  <meta name="og:description" content="In just six years, 200 of US’ most politically active corporations received $4.4 billion in federal business and support.">
  <meta name="og:type" content="cause">
  <meta name="og:image" content="http://s3.amazonaws.com/assets.sunlightfoundation.com/brisket/1.0/images/projects_icon_influencexplorer.png">
  <meta name="og:url" content="http://{{ OG_DOMAIN }}{{ request.path }}">
  <meta name="og:site_name" content="Influence Explorer">
  <meta name="fb:admins" content="7812952,5308565">
{% endblock %}

{% block sitesocial %}
<div id="share-buttons" class="clear">
    <a class="socialite facebook-share" href="http://facebook.com/sharer/sharer.php?">Facebook</a>
    <a class="socialite twitter-simple" href="http://twitter.com/share" data-text="Fixed Fortunes: Powerful US companies spent billions on politics and earned trillions in return, via @sunfoundation">Twitter</a>
</div>
{% endblock %}

{% block sitecss %}
{% comment %}Put CSS in here to keep everything self-contained and not muck around with dryrub, etc., for a one-off.{% endcomment %}
{{ block.super }}
<style type="text/css">
    #td_nav {
        margin-top: -15px;
        list-style: none;
    }
    #td_nav li {
        list-style: none;
    }
    #td_nav li:hover {
        font-weight: normal !important;
    }

    .module .fx00-table {
        padding: 0 30px;
    }

    .fx00-table .table-scroll {
        overflow-x: hidden;
        margin-bottom: 30px;
    }
    .table-scroll #mainPageTable {
        margin-bottom: 0;
        margin-top: 15px;
    }
    tr.special td {
        background: #e4e2e2 !important;
        border-bottom: 1px solid #cccccc;
        font-weight: bold;
    }

    .fx00-table #mainPageTable th.noleft {
          padding: 10px 5px 10px 0px;
    }

    #mainPageTable td {
        padding: 10px 5px;
    }

    #mainPageTable td.subsidy-link {
        padding-left: 26px;
    }

    td.subsidy-link a {
        text-indent: -9999px;
        display: block;
        width: 16px;
        height: 16px;
        background: url('/static/dryrub/images/doc_text_image.png') no-repeat top center;
    }

    td.numeric {
        text-align: right;
    }

    h1.ff_logo {
        float: left;
        padding-top: 0px;
        padding-left: 20px;
        margin-bottom: 0px;
        width: 347px; 
        height: 121px;
        margin-left: 10px;
    }

    #ff_logo {
        color: #000;
        text-decoration: none;
        text-indent:-9999em;
        background: url(/static/dryrub/images/ff_logo.png) top left no-repeat;
        width: 347px;
        height: 121px;
    }

    figure {
        width: 720px;
        margin: 20px auto 20px auto;
    }

    figcaption {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px dashed #999292;
        font-family: Georgia, Times New Roman, Times, serif;
        color: #827d7d;
        font-style: italic;
    }

</style>
{% endblock %}

{% block main %}

<div id="content_header">
    <h1 class="ff_logo">
        <a href="{% url "fortune-index-view" %}" id="ff_logo">Fixed Fortunes</a>
    </h1>
</div>
<div class="clear"></div>
{% endblock %}

