{% extends "brisket_base.html" %}

{% block body_class %}fortune flatText{% endblock %}

{% block pagetitle %}Fortune Blank Hundred | {% endblock %}

{% block sitecss %}
{% comment %}Put CSS in here to keep everything self-contained and not muck around with dryrub, etc., for a one-off.{% endcomment %}
{{ block.super }}
<style type="text/css">
#td_nav {
    margin-top: -15px;
    list-style: none;
}
#td_nav li {
    list-style: none;
}
#td_nav li:hover {
    font-weight: normal !important;
}

.module .fx00-table {
    padding: 0 30px;
}

.fx00-table .table-scroll {
    overflow-x: hidden;
    margin-bottom: 30px;
}
.table-scroll #mainPageTable {
    margin-bottom: 0;
    margin-top: 15px;
}
tr.special td {
    background: #e4e2e2 !important;
    border-bottom: 1px solid #cccccc;
    font-weight: bold;
}

.fx00-table #mainPageTable th.rotate {
      /* height: 140px; */
      width: 30px;
      white-space: nowrap;
      padding: 10px 5px 10px 5px;
}

.fx00-table #mainPageTable th.noleft {
      padding: 10px 5px 10px 0px;
}

.fx00-table th.rotate > div {
      transform: 
        /* Magic Numbers */
        translate(0px, 0px)
        /* 45 is really 360 - 45 */
        rotate(270deg);
        width: 30px;
}

/*
.fx00-table th.rotate > div > span {
      border-bottom: 1px solid #ccc;
            padding: 5px 10px;
}
*/

#mainPageTable td {
    padding: 10px 5px;
}

#mainPageTable td.subsidy-link {
    padding-left: 26px;
}

td.subsidy-link a {
    text-indent: -9999px;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/static/dryrub/images/doc_text_image.png') no-repeat top center;
}

td.numeric {
    text-align: right;
}

h1.ff_logo {
    float: left;
    padding-top: 0px;
    padding-left: 20px;
    margin-bottom: 0px;
    width: 347px; 
    height: 121px;
    margin-left: 10px;
}

#ff_logo {
    color: #000;
    text-decoration: none;
    text-indent:-9999em;
    background: url(/static/dryrub/images/ff_logo.png) top left no-repeat;
    width: 347px;
    height: 121px;
}

</style>
{% endblock %}

{% block main %}

<div id="content_header">
    <h1 class="ff_logo">
        <a href="{% url "fortune-index-view" %}" id="ff_logo">Fixed Fortunes</a>
    </h1>
</div>
<div class="clear"></div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(function() {
    // deal with negative dollars
    $.tablesorter.addParser({
        // set a unique id
        id: 'negnumbers',
        is: function(s) {
            // return false so this parser is not auto detected
            return false;
        },
        format: function(s) {
            // format your data for normalization
            var out = $.trim(s.replace(/(<([^>]+)>)/ig,"").replace(/\$/,'').replace(/,/g,'').replace(/%/g,''));
            return (out == "" ? -99999999 : out);
        },
        // set type, either numeric or text
        type: 'numeric'
    });

    // deal with total and average rows
    $.tablesorter.addWidget({
        // give the widget a id
        id: "specialRows",
        // format is called when the on init and when a sorting has finished
        format: function(table) {
            // cache and collect all TH headers
            if (!this.specials) {
                var s = this.specials = [];
                $("tbody tr.special", table).each(function() {
                    s.push($(this));
                });
            }
            
            // remove appended headers by classname.
            $("tbody tr.special", table).remove();
            
            // loop all tr elements and insert a copy of the "headers"
            for (var i=0; i < this.specials.length; i++) {
                // insert a copy of the table head every 10th row
                $("tbody", table).append(this.specials[i]);
            }
        }
    });
    
    $('#mainPageTable').tablesorter({
        headers: {
            6: {
                sorter: 'negnumbers'
            },
            8: {
                sorter: 'negnumbers'
            }
        },
        widgets: ['specialRows', 'zebra']
    });
});
</script>
{% endblock %}
