{% extends "fortune_blank_hundred/base.html" %}
{% load influence_extras %}
{% load humanize %}

{% block main %}

{{ block.super }}

<div class="module" id="overview-snippet">
    <p >Between 2007 and 2012, 200 of America&#8217;s most politically active corporations spent a combined $5.8 billion on federal lobbying and campaign contributions. A year-long analysis by the Sunlight Foundation suggests, however, that what they gave pales compared to what those same corporations got: $4.4 trillion in federal business and support.</p>
    <p >That figure, more than the $4.3 trillion the federal government paid the nation&#8217;s 50 million Social Security recipients over the same period, is the result of an unprecedented effort to quantify the less-examined side of the campaign finance equation: Do political donors get something in return for what they give?</p>
    <p >Four years ago, the U.S. Supreme Court suggested the answer to that question was no. Corporate spending to influence federal elections would not &#8220;give rise to corruption or the appearance of corruption,&#8221; the majority wrote in the landmark Citizens United v. Federal Election Commission&#160;decision.</p>
    <p >Sunlight decided to test that premise by examining influence and its potential results on federal decision makers over six years, three before the 2010 Citizens United&#160;decision and three after. </p>
        <a href="{% url 'fortune-overview-view' %}" class="moreLink">Read more</a>
        <div class="clear"></div> 
</div>

<div class="module" id="data-intro">
    <h3>The Data</h3>
    <p>Below is a table representing the summary totals involved. All data is downloadable and released under <b>FIXME: LICENSE?</b>. 
    <ul>
        <li>Summary (table, below) as <a href="https://docs.google.com/spreadsheets/d/1vMdkh3xLuYXli18_4iPs9y1CX1yvoghoW3bvd1p4vnw/edit?usp=sharing">spreadsheet</a>, <a href="https://docs.google.com/spreadsheets/d/1vMdkh3xLuYXli18_4iPs9y1CX1yvoghoW3bvd1p4vnw/pubhtml">html</a>, or <a href="https://docs.google.com/spreadsheets/d/1vMdkh3xLuYXli18_4iPs9y1CX1yvoghoW3bvd1p4vnw/export?format=csv">csv</a></li>
        <li>Full data set as <a href="#">zipped csv</a></li>
    </ul>
    <p>For clarification on column names, please refer to the <a href="#data-dictionary">data dictionary</a> below</p>
</div>

<div class="module fx00-table">
    <div class="table-scroll" id="data-table">
        <table id="mainPageTable" class="tablesorter">
            <thead>
                <tr>
                    <th class="sort rotate headerSortDown">
                        <div>
                            <span>Rank</span>
                        </div>
                    </th>
                    <th class="sort">
                        <div>
                            <span>Organization</span>
                        </div>
                    </th>
                    <th class="sort">
                        <div>
                            <span>Contrib-<br/>utions</span>
                        </div>
                    </th>
                    <th class="sort">
                        <div>
                            <span>Lobbying</span>
                        </div>
                    </th>
                    <th class="sort">
                        <div>
                            <span>Total Influence</span>
                        </div>
                    </th>
                    <th class="sort">
                        <div>
                            <span>Hill Cover-</br>age</span>
                        </div>
                    </th>
                    <th class="sort">
                        <div>
                            <span>Federal Business</span>
                        </div>
                    </th>
                    <th class="sort">
                        <div>
                            <span>Federal Support</span>
                        </div>
                    </th>
                    <th class="sort">
                        <div>
                            <span>Effective Tax Rate</span>
                        </div>
                    </th>
                    <th class="{sorter: false} noleft">
                        <div>
                            <span>State Subsidies</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for row in table %}
                <tr class="{% if row.special_title %}special{% else %}{% cycle 'even' 'odd' %}{% endif %}">
                    {% if row.special_title %}
                        <td colspan=2>{{ row.special_title }}</td>
                    {% else %}
                        <td style="background: #{{ row.color }}; color: #ffffff;">{{ row|get:"Rank" }}</td>
                        <td data-organization="{{ row|get:"Organization" }}">
                            <a href="/organization/{{ row|get:"Organization"|standardize_organization_name|slugify }}/{{ row|get:"Influence Explorer ID" }}">
                                {{ row|get:"Organization" }}
                            </a>
                        </td>
                    {% endif %}
                    <td class="numeric" data-contributions="{{ row|get:"Contributions" }}">
                        ${{ row|get:"Contributions"|money_to_int|illionize:"short .1f" }}
                    </td>
                    <td class="numeric" data-lobbying="{{ row|get:"Lobbying" }}">
                        ${{ row|get:"Lobbying"|money_to_int|illionize:"short .1f" }}
                    </td>
                    <td class="numeric" data-total-influence="{{ row|get:"Total Influence" }}">
                        ${{ row|get:"Total Influence"|money_to_int|illionize:"short .1f" }}
                    </td>
                    <td class="numeric" data-hill-coverage="{{ row|get:"Hill Coverage" }}">
                        {{ row|get:"Hill Coverage" }}
                    </td>
                    <td class="numeric" data-federal-business="{{ row|get:"Federal Business" }}">
                        {% if row|get:"Federal Business"|add:"0" < 0 %}
                            -${{ row|get:"Federal Business"|slice:"1:"|money_to_int|illionize:"short .1f" }}
                        {% else %}
                            ${{ row|get:"Federal Business"|money_to_int|illionize:"short .1f" }}
                        {% endif %}
                        </td>
                    <td class="numeric" data-federal-support="{{ row|get:"Federal Support" }}">
                        ${{ row|get:"Federal Support"|money_to_int|illionize:"short .1f" }}</td>
                    <td class="numeric" data-effective-tax-rate="{{ row|get:"Effective Tax Rate" }}">
                        {% with row|get:"Effective Tax Rate" as efr %}
                            {% if efr != "#N/A" %}
                                {% with row|get:"Citizens for Tax Justice ID" as cti %}
                                    <a href="http://ctj.org/corporatetaxdodgers/tax-dodgers.php?id={{ cti }}">{{ efr }}%</a>
                                {% endwith %}
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td class="subsidy-link" data-subsidy-tracker-slug="{{ row|get:"Subsidy Tracker Slug" }}">
                        {% with row|get:"Subsidy Tracker Slug" as st %}
                            {% if st != "#N/A" %}
                                <a href="http://subsidytracker.goodjobsfirst.org/prog.php?parent={{ st }}">View</a>
                            {% endif %}
                        {% endwith %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="module" id="data-intro">
    <h3>Data Dictionary</h3>
</div>

<div class="module fx00-table">
    <div class="table-scroll" id="data-dictionary-table">
        <table id="mainPageTable">
            <thead>
                <tr>
                    <th>
                        <div>
                            <span>Column</span>
                        </div>
                    </th>
                    <th>
                        <div>
                            <span>Definition</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>
                        <div>
                            <span>Rank</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span><b>FIXME: Needs Definition</b></span>
                        </div>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <div>
                            <span>Organization</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>The organization's name, with a link to their Influence Explorer profile</span>
                        </div>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <div>
                            <span>Contributions</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>Includes PAC and individual contributions to federal committees made between Jan. 1, 2007 and Dec. 31, 2012. Data downloaded from the <a href="http://opensecrets.org">Center for Responsive Politics</a> and analyzed by the Sunlight Foundation.</span>
                        </div>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <div>
                            <span>Lobbying</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>Disclosed spending on federal lobbying from 2007 to 2012. Data downloaded from the Center for Responsive Politics and analyzed by the Sunlight Foundation.</span>
                        </div>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <div>
                            <span>Total Influence</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>Sum of the contribution and lobbying totals.</span>
                        </div>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <div>
                            <span>Hill Coverage</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>Average percentage of incumbent members of Congress receiving contributions from the organization over the course of the 2008, 2010 and 2012 election cycles.</span>
                        </div>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <div>
                            <span>Federal Business</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>Company business generated or facilitated by the federal government. Includes federal contracts, foreign sales created through the Export-Import Bank, Federal Reserve purchases of asset-backed securities and payments made to counter-parties of American International Group after the federal government took over the insurance giant.</span>
                        </div>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <div>
                            <span>Federal Support</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>Government support for businesses, including loans, loan guarantees, grants, and money advanced to companies in the aftermath of the financial crisis through an array of mechanisms including the Capital Purchase Program, the Auto Industry Financing Program, the Targeted Investment Program, the Term Auction Facility, the Term Securities Lending Facility, the Commercial Paper Funding Facility, the Term Asset-Backed Securities Loan Facility and the Asset-Backed Commercial Paper Money Market Mutual Fund Liquidity Facility.</span>
                        </div>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <div>
                            <span>Effective Tax Rate</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span><a href="http://www.ctj.org">Citizens for Tax Justice</a> analyzed the effective corporate tax rate for 125 publicly traded companies covering the years 2008 through 2013. Many of the companies CTJ analyzed were also companies Sunlight examined. CTJ has much more information on corporate taxation in their <a href="http://www.ctj.org/corporatetaxdodgers/">Sorry State of Corporate Taxation report</a>. </span>
                        </div>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <div>
                            <span>State Subsidies</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span><a href="http://www.goodjobsfirst.org/">Good Jobs First</a> tracks state and local subsidies won by for-profit companies. Many of the companies examined in the Fixed Fortunes study also have won subsidies from state and local governments. Click the link to see those subsidies for each company listed above, or visit the Good Jobs First\n<a href="http://www.goodjobsfirst.org/subsidy-tracker">Subsidy Tracker</a> to learn more.</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
