{% extends "brisket_base.html" %}
{% load influence_extras %}
{% load humanize %}

{% block body_class %}fortune flatText{% endblock %}

{% block pagetitle %}Fortune Blank Hundred | {% endblock %}

{% block sitecss %}
{% comment %}Put CSS in here to keep everything self-contained and not muck around with dryrub, etc., for a one-off.{% endcomment %}
{{ block.super }}
<style type="text/css">
#td_nav {
    margin-top: -15px;
    list-style: none;
}
#td_nav li {
    list-style: none;
}

.fx00-table .table-scroll {
    overflow-x: auto;
    margin-bottom: 30px;
}
.table-scroll #mainPageTable {
    margin-bottom: 0;
}
tr.special {
    background: #e4e2e2 !important;
    border-bottom: 1px solid #cccccc;
    font-weight: bold;
}
td.subsidy-link a {
    text-indent: -9999px;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/static/dryrub/images/doc_text_image.png') no-repeat top left;
}
</style>
{% endblock %}

{% block main %}

<div id="contentHeader">
    <h2>Fortune Blank Hundred</h2>
</div>
<nav id="td_nav">
    <ul>
        <li class="last"><a href="#findings">Findings</a></li>
        <li><a href="#data-table">Data</a></li>
        <li><a href="#methodology">Methodology</a></li>
    </ul>
    <div class="clear"></div>
</nav>

<div class="module" id="methodology">
<p>Grapheme-color synesthesia is a form of synesthesia in which an individual's perception of numbers and letters is associated with the experience of colors. Like all forms of synesthesia, grapheme-color synesthesia is involuntary, consistent, and memorable. Grapheme-color synesthesia is one of the most common forms of synesthesia, and because of the extensive knowledge of the visual system, one of the most studied.</p>

<p>While it is extremely unlikely that any two synesthetes will report the same colors for all letters and numbers, studies of large numbers of synesthetes find that there are some commonalities across letters (e.g., "A" is likely to be red). Early studies argued that grapheme-color synesthesia was not due to associative learning, such as from playing with colored refrigerator magnets. However, one recent study has documented a case of synesthesia in which synesthetic associations could be traced back to colored refrigerator magnets. Despite the existence of this individual case, the majority of synesthetic associations do not seem to be driven by learning of this sort. Rather, it seems that more frequent letters are paired with more frequent colors, and some meaning-based rules, such as ‘b’ being blue, drive most synesthetic associations.</p>

<p>There has been a lot more research as to why and how synesthesia occurs with more recent technology and as synesthesia has become more well known. It has been found that grapheme-color synesthetes have more grey matter in their brain. There is evidence of an increased grey matter volume in the left caudal intra-parietal sulcus (IPS). There was also found to be an increased grey matter volume in the right fusiform gyrus. These results are consistent with another study on the brain functioning of grapheme-color synesthetes. Grapheme-color synesthetes tend to have an increased thickness, volume, and surface area of the fusiform gyrus. Furthermore, the area of the brain where word, letter, and color processing are located, V4a, is where the most significant difference in make-up was found. Though not certain, these differences are thought to be part of the reasoning for the presence of grapheme-color synesthesia.</p>
</div>

<div class="module fx00-table">
    <div class="table-scroll" id="data-table">
        <table id="mainPageTable" class="tablesorter">
            <thead>
                <tr>
                    <th class="sort headerSortDown">Rank</th>
                    <th class="sort">Organization</th>
                    <th class="sort">Donor Total</th>
                    <th class="sort">Lobby Total</th>
                    <th class="sort">Influence Total</th>
                    <th class="sort">Incumbent&nbsp;%</th>
                    <th class="sort">Federal Business Total</th>
                    <th class="sort">Federa Aid Total</th>
                    <th class="sort">Effective Tax Rate</th>
                    <th class="{sorter: false}">More Info</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table %}
                <tr class="{% if row.special_title %}special{% else %}{% cycle 'even' 'odd' %}{% endif %}">
                    {% if row.special_title %}
                        <td>{{ row.special_title }}</td>
                    {% else %}
                        <td style="background: #{{ row.color }}; color: #ffffff;">{{ row.rank }}</td>
                    {% endif %}
                    <td><a href="/organization/{{ row.organization|standardize_organization_name|slugify }}/{{ row.ie_id }}">{{ row.organization }}</a></td>
                    <td>${{ row.donor_total|intcomma }}</td>
                    <td>${{ row.lobby_total|intcomma }}</td>
                    <td>${{ row.influence_total|intcomma }}</td>
                    <td>{{ row.incumbent_pct }}</td>
                    <td>
                        {% if row.federal_biz_total|add:"0" < 0 %}
                            -${{ row.federal_biz_total|slice:"1:"|intcomma }}
                        {% else %}
                            ${{ row.federal_biz_total|intcomma }}
                        {% endif %}
                        </td>
                    <td>${{ row.federal_aid_total|intcomma }}</td>
                    <td>
                        {% if row.effective_tax_rate.strip != "" %}
                            <a href="{{ row.tax_link }}">{{ row.effective_tax_rate }}</a>
                        {% endif %}
                    </td>
                    <td class="subsidy-link">
                        {% if row.state_subsidy_link %}
                            <a href="{{ row.state_subsidy_link }}">{{ row.organization }}</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="module" id="findings">
    <h3>Findings</h3>
    <p>These are the most commonly sighted of the three populations in the coastal waters of the northeast Pacific. Residents' diets consist primarily of fish and sometimes squid, and they live in complex and cohesive family groups called pods. Female residents characteristically have rounded dorsal fin tips that terminate in a sharp corner. They visit the same areas consistently. British Columbia and Washington resident populations are amongst the most intensively studied marine mammals. Researchers have identified and named over 300 killer whales over the past 30 years.</p>
    <p>The diets of these whales consist almost exclusively of marine mammals. Transients generally travel in small groups, usually of two to six animals, and have less persistent family bonds than residents. Transients vocalize in less variable and less complex dialects. Female transients are characterized by more triangular and pointed dorsal fins than those of residents. The gray or white area around the dorsal fin, known as the "saddle patch", often contains some black colouring in residents. However, the saddle patches of transients are solid and uniformly gray. Transients roam widely along the coast; some individuals have been sighted in both southern Alaska and California. Transients are also referred to as Bigg's killer whale in honor of Michael Bigg. The term has become increasingly common and may eventually replace the transient label.</p>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(function() {
    // deal with negative dollars
    $.tablesorter.addParser({
        // set a unique id
        id: 'negnumbers',
        is: function(s) {
            // return false so this parser is not auto detected
            return false;
        },
        format: function(s) {
            // format your data for normalization
            var out = $.trim(s.replace(/(<([^>]+)>)/ig,"").replace(/\$/,'').replace(/,/g,'').replace(/%/g,''));
            return (out == "" ? -99999999 : out);
        },
        // set type, either numeric or text
        type: 'numeric'
    });

    // deal with total and average rows
    $.tablesorter.addWidget({
        // give the widget a id
        id: "specialRows",
        // format is called when the on init and when a sorting has finished
        format: function(table) {
            // cache and collect all TH headers
            if (!this.specials) {
                var s = this.specials = [];
                $("tbody tr.special", table).each(function() {
                    s.push($(this));
                });
            }
            
            // remove appended headers by classname.
            $("tbody tr.special", table).remove();
            
            // loop all tr elements and insert a copy of the "headers"
            for (var i=0; i < this.specials.length; i++) {
                // insert a copy of the table head every 10th row
                $("tbody", table).append(this.specials[i]);
            }
        }
    });
    
    $('#mainPageTable').tablesorter({
        headers: {
            6: {
                sorter: 'negnumbers'
            },
            8: {
                sorter: 'negnumbers'
            }
        },
        widgets: ['specialRows', 'zebra']
    });
});
</script>
{% endblock %}