    <ul id="dataTabs">
        <li><a href="/contributions/" class="contributions">Campaign Finance</a></li>
        <li><a href="/contributions/dc/" class="contributions_dc">Campaign Finance (DC)</a></li>
        <li><a href="/earmarks/" class="earmarks">Earmarks</a></li>
        <li><a href="/lobbying/" class="lobbying">Lobbying</a></li>
        <li><a href="/grants/" class="grants">Grants</a></li>
        <li><a href="/contracts/" class="contracts">Contracts</a></li>
        <li><a href="/contractor_misconduct/" class="contractorMisconduct">Contractor Misconduct</a></li>
        <li><a href="/epa_echo/" class="epaEcho">EPA</a></li>
        <li><a href="/faca/" class="faca">FACA</a></li>
        <li><a href="/contributions/bundled/" class="bundling">Bundled Contribs</a></li>
    </ul>
