{% extends "search_base.html" %}
{% load media %}

{% block js %}
{{ block.super }}
{% css 'data/css/3rdparty.css' %}
{% endblock %}

{% block pagetitle %}
    Data: Preview | 
{% endblock %}

{% block body_class %}tdata flexwidth{% endblock %}

{% block main %}
{% include "data/second_nav.html" %}
{% include "data/data_tabs.html" %}
{{ block.super }}

<div id="lgRightColumn">
    <div id="datafilter" class="datafilter">
    	<h3>Add additional fields to refine your search</h3>
    	<form>
    		<select id="filterselect">
    			<option value="">Select a filter to add...</option>
    	    </select>
    		<ul id="filters"></ul>
    	</form>
    	<div class="clear"></div>
    	<a id="previewButton" href="#" class="previewButton linkBtn">Preview Data</a>
    </div>
	    <div id="tableScroll">
	        <div id="tableDescriptors">
	            <p id="displayCount">Displaying <span id="previewCount"></span> of <span id="recordCount"></span> records</p>
	            <a id="downloadButton" href="#" class="downloadButton linkBtn">Download </a>
	            <div class="clear"></div>
	        </div>
            <table id="mainTable" class="clear">
            	<thead>
            		<tr id="titles">
						{% block table_header %}{% endblock %}
                   	</tr>
                </thead>
                <tbody></tbody>
            </table>
		</div>
		<div id="nodata">No records match your filter criteria.</div>
		<div id="loading">Loading a few records to preview your filter...</div>
		<div id="downloading" class="dialog">
			<p>
				Complex queries may take a few minutes to process.
				You may close this dialog once your download completes.
			</p>
		</div>
		<div id="suggestbulk" class="dialog">
			<p>Your selected filters will return a very large amount of data. We appreciate your zeal for transparency, but our database can't handle the load. Please add additional filters or see our <a href="/bulk/">bulk download</a> page.</p>
		</div>
		<div id="excellimit" class="dialog">
			<p>We return data in Excel 2000-compatible format. Unfortunately, this format can only support sheets with up to 65,536 rows, and your selected filters will return more data than this. Please add additional filters or see our <a href="/bulk/">bulk download</a> page for data in CSV format.</p>
		</div>
		<div class="license">		
			{% block dataset_license %}{% endblock %}
    	</div>
        <div class="clear"></div>
    </div>
    {% block dataset_scripts %}
    {{ block.super }}
    {% js "data/3rdparty.js" %}
    <script type="text/javascript">
        TD.DATA_API_BASE_URL = "{{ DATA_API_BASE_URL }}";
        $(function() {
            $('#dataTabs li a.{% block bodyid %}{% endblock %}').parent().addClass('active');
            /* scroll to the top of the filter box; animate it in Mozilla and Webkit, straight jump elsewhere */
            var top = $('#datafilter').offset().top;
            if ($.browser.mozilla) {
                $('html').animate({'scrollTop': top}, 'ease');
            } else if ($.browser.webkit) {
                $('body').animate({'scrollTop': top}, 'ease');
            } else {
                $(document).scrollTop(top);
            }
        });
    </script>
    {% endblock %}
{% endblock %}
