{% extends "search_base.html" %}
{% load media %}
{% block body_class %}tdata{% endblock %}

{% block main %}
    <div id="fullColumn">
        <p id="intro">
            Transparency Data is a central source for <b>federal lobbying disclosure</b>, <b>federal grants and contracts</b>, <b>earmarks</b> and <b>federal and state campaign contributions</b>.
            Here you can begin your search, find the information you need, and then download records of what a <b>candidate</b> has received, what an <b>individual</b> has given, how much an <b>organization</b> has spent on lobbying, and many other queries.
        </p>
        {% include "data_tabs.html" %}
        <div class="clear"></div>
        <ul id="mainSearchFilter">
            <li id="intro-contributions">
                <h3>Search Campaign Contributions</h3>
                <div class="leftIntro">
                    <form id="contributionDataFilter" class="datafilter">
                        <fieldset>
                            <span class="tip tipHeight">Have a specific committee, recipient or date in mind? Add some filters below to search them</span>
                            <label class="mainLabel">Filter</label>
                            <select id="filterselect">
                                <option value="">Select a category to narrow your search...</option>
                            </select>
                        </fieldset>
                        <ul id="filters"></ul> <!-- end filters -->
                    </form>
                </div>
                <div class="rightIntro">
                    <span class="tip tipHeight">Once you're done adding filters press the button below to view the sorted data.</span>
                    <a id="contributionPreviewButton" class="previewButton linkBtn" href="#">Preview Data</a>
                </div>
            </li>
            <li style="visibility: hidden;" id="intro-earmarks">
                <h3>Search Earmarks</h3>
                <div class="leftIntro">
                    <span class="tip tipHeight">Have a specific member of congress, state or bill? Add some filters below to search them</span>
                    <form id="earmarksDataFilter" class="datafilter">
                        <fieldset>
                            <label class="mainLabel">Search for</label>
                            <select id="filterselect">
                                <option value="">Select a field to search...</option>
                            </select>
                        </fieldset>
                        <ul id="filters"></ul> <!-- end filters -->
                    </form>
                </div>
                <div class="rightIntro">
                    <span class="tip tipHeight">Once you're done adding filters press the button below to view the sorted data.</span>
                    <a id="earmarksPreviewButton" class="previewButton linkBtn" href="#">Preview Data</a>
                </div>
            </li>
            <li style="visibility: hidden;" id="intro-lobbying">
                <h3>Search Federal Lobbying</h3>
                <div id="leftIntro">
                    <form  id="lobbyingDataFilter" class="datafilter">
                        <fieldset>
                            <span class="tip tipHeight">Have a specific organization or issue in mind? Add some filters below to search them</span>
                            <label class="mainLabel">Search for</label>
                            <select id="filterselect">
                                <option value="">Select a field to search...</option>
                            </select>
                        </fieldset>
                        <ul id="filters"></ul> <!-- end filters -->
                    </form>
                </div>
                <div id="rightIntro">
                    <span class="tip tipHeight">Once you're done adding filters press the button below to view the sorted data.</span>
                    <a id="lobbyingPreviewButton" class="previewButton linkBtn" href="#">Preview Data</a>
                </div>
            </li>
            <li style="visibility: hidden;" id="intro-grants">
                <h3>Search Federal Grants</h3>
                <div id="leftIntro">
                    <form id="grantsDataFilter" class="datafilter"> 
                        <fieldset>
                            <span class="tip tipHeight">Have a specific organization or agency in mind? Add some filters below to search them</span>
                            <label class="mainLabel">Search for</label>
                            <select id="filterselect">
                                <option value="">Select a field to search...</option>
                            </select>
                        </fieldset>
                        <ul id="filters"></ul> <!-- end filters -->
                    </form>
                </div>
                <div id="rightIntro">
                    <span class="tip tipHeight">Once you're done adding filters press the button below to view the sorted data.</span>
                    <a id="grantsPreviewButton" class="previewButton linkBtn" href="#">Preview Data</a>
                </div>
            </li>
            <li style="visibility: hidden;" id="intro-contracts">
                <h3>Search Federal Contracts</h3>
                <div id="leftIntro">
                    <form id="contractsDataFilter" class="datafilter">
                        <fieldset>
                            <span class="tip tipHeight">Have a specific organization or agency in mind? Add some filters below to search them</span>
                            <label class="mainLabel">Search for</label>
                            <select id="filterselect">
                                <option value="">Select a field to search...</option>
                            </select>
                        </fieldset>
                        <ul id="filters"></ul> <!-- end filters -->
                    </form>
                </div>
                <div id="rightIntro">
                    <span class="tip tipHeight">Once you're done adding filters press the button below to view the sorted data.</span>
                    <a id="contractsPreviewButton" class="previewButton linkBtn" href="#">Preview Data</a>
                </div>
            </li>
            <li style="visibility: hidden;" id="intro-contractor-misconduct">
                <h3>Search Contractor Misconduct</h3>
                <div id="leftIntro">
                    <form id="contractorMisconductDataFilter" class="datafilter">
                        <fieldset>
                            <span class="tip tipHeight">Have a specific contractor, contracting party or enforcement agency in mind? Add some filters below to search them</span>
                            <label class="mainLabel">Search for</label>
                            <select id="filterselect">
                                <option value="">Select a field to search...</option>
                            </select>
                        </fieldset>
                        <ul id="filters"></ul> <!-- end filters -->
                    </form>
                </div>
                <div id="rightIntro">
                    <span class="tip tipHeight">Once you're done adding filters press the button below to view the sorted data.</span>
                    <a id="contractorMisconductPreviewButton" class="previewButton linkBtn" href="#">Preview Data</a>
                </div>
            </li>
            <li style="visibility: hidden;" id="intro-epa-echo">
                <h3>Search EPA ECHO</h4>
                <div id="leftIntro">
                    <form id="epaEchoDataFilter" class="datafilter">
                        <fieldset>
                            <span class="tip tipHeight">Have a specific defendant in mind? Add some filters below to search through them.</span>
                            <label class="mainLabel">Search for</label>
                            <select id="filterselect">
                                <option value="">Select a field to search...</option>
                            </select>
                        </fieldset>
                        <ul id="filters"></ul> <!-- end filters -->
                    </form>
                </div>
                <div id="rightIntro">
                    <span class="tip tipHeight">Once you're done adding filters press the button below to view the sorted data.</span>
                    <a id="epaEchoPreviewButton" class="previewButton linkBtn" href="#">Preview Data</a>
                </div>
            </div>
            <li style="visibility: hidden;" id="intro-faca">
                <h3>Search FACA</h3>
                <div id="leftIntro">
                    <form id="facaDataFilter" class="datafilter">
                        <fieldset>
                            <span class="tip tipHeight">Have a specific member, organization affiliation or agency in mind? Add some filters below to search through them.</span>
                            <label class="mainLabel">Search for</label>
                            <select id="filterselect">
                                <option value="">Select a field to search...</option>
                            </select>
                            <ul id="filters"></ul> <!-- end filters -->
                        </fieldset>
                    </form>
                </div>
                <div id="rightIntro">
                    <span class="tip tipHeight">Once you're done adding filters press the button below to view the sorted data.</span>
                    <a id="facaPreviewButton" class="previewButton linkBtn" href="#">Preview Data</a>
                </div>
            </div>
            <li style="visability: hidden;" id="intro-bundling">
                <h3>Search Bundled Contributions</h3>
                <div id="leftIntro">
                    <form id="bundlingDataFilter" class="datafilter">
                        <fieldset>
                            <span class="tip tipHeight">Have a specific bundler, politician or lobbying firm in mind? Add some filters below to search through them.</span>
                            <label class="mainLabel">Search for</label>
                            <select id="filterselect">
                                <option value="">Select a field to search...</option>
                            </select>
                            <ul id="filters"></ul> <!-- end filters -->
                        </fieldset>
                    </form>
                </div>
                <div id="rightIntro">
                    <span class="tip tipHeight">Once you're done adding filters press the button below to view the sorted data.</span>
                    <a id="bundlingPreviewButton" class="previewButton linkBtn" href="#">Preview Data</a>
                </div>
            </div>
        </ul>
    </div>
    {% js "data/3rdparty.js" %}
    {% js "data/index.js" %}
	<script type="text/javascript">

		$().ready(function() {
            var all_filters = [];

            all_filters['lobbying'] = TD.LobbyingFilter;
            all_filters['earmarks'] = TD.EarmarksFilter;
            all_filters['grants'] = TD.GrantsFilter;
            all_filters['contracts'] = TD.ContractsFilter;
            all_filters['contribution'] = TD.ContributionFilter;
            all_filters['contractorMisconduct'] = TD.ContractorMisconductFilter;
            all_filters['epaEcho'] = TD.EpaEchoFilter;
            all_filters['faca'] = TD.FacaFilter;
            all_filters['bundling'] = TD.BundlingFilter;

			$('#dataTabs li a').bind('click', function() {
				var df = $(this).attr('class');
				$('body').attr('id', df);

                if (df in all_filters) {
                    TD.activeFilter = all_filters[df];
                }

				return false;
			});

            for (key in all_filters) {
                all_filters[key].bindDataFilter('#' + key + 'DataFilter');
                all_filters[key].bindPreview('#' + key + 'PreviewButton');
                all_filters[key].init();
            }

            TD.HashMonitor.setAnchor('');
		    TD.activeFilter = TD.ContributionFilter;
			TD.init();
		});

	</script>
{% endblock %}
