<nav id="td_nav">
    <ul>
        <li id="downloads" class="last"><a href="{% url bulk_index %}">Bulk Downloads</a></li>
        <li id="documentation" ><a href="{% url docs_index %}">Documentation</a></li>
        <li id="api"><a href="{% url api_index %}">API</a></li>
        <li id="searchTD"><a href="/">Search the Database</a></li>
    </ul>
    <div class="clear"></div>
</nav>

{% if is_redirect %}
<div id="infoPopup">
    <a class="buttonLink" id="closeBtn" href="#">Close Popup</a>
    <p><strong>Don't worry, you're in the right place!</strong></p>
    <p>Transparency Data's functionality has been incorporated into Influence Explorer in order to better show the connections between Influence Explorer's pages for people, organizations, politicians and industries, and the raw data that powers them.</p>
</div>
<script type="text/javascript">$(function() { $('#infoPopup .buttonLink').click(function() { $('#infoPopup').slideUp('fast'); }); });</script>
{% endif %}