*~
*.pyc
.project
.pydevproject
local_settings.py
fabfile.py
media/sitemaps
postcards/static/svg/candidate*.svg
postcards/static/svg/resources/Univers*
postcards/static/svg/resources/photos/*
postcards/static/pdf/*
postcards/static/png/*
