psycopg2
django==1.2.3
BeautifulSoup
boto
-e git+http://github.com/sunlightlabs/django-mediasync.git#egg=mediasync
-e svn+http://feedparser.googlecode.com/svn/trunk/feedparser@315#egg=feedparser-dev_r315
