psycopg2
django==1.2.3
BeautifulSoup
boto
-e git+http://github.com/sunlightlabs/django-mediasync.git#egg=mediasync
nose
django-nose
django-nose-selenium
selenium
django-indexer
django-paging
django-sentry
