psycopg2==2.4.1
django==1.4.4
BeautifulSoup==3.2.0
boto
-e git://github.com/sunlightlabs/django-mediasync.git@2.1.0#egg=mediasync
nose
django-nose
django-indexer
django-paging
requests
selenium
name-cleaver
-e git://github.com/sunlightlabs/python-transparencydata.git#egg=transparencydata
-e git://github.com/sunlightlabs/django-simplepay.git#egg=simplepay
-e git://github.com/sunlightlabs/django-feedinator.git@6576475059babb9923ccfc78aa96612346a02dbb#egg=django_feedinator-dev
gunicorn
python-googleanalytics
feedparser
