{% extends "base.html" %}
{% load media %}

{% block js %}
{% css "css/wax-controls.css" %}
{% css "css/leaflet.css" %}
{% js "js/leaflet.js" %}
{% js "js/wax.leaf.min.js" %}
<!-- extrajs is where the charts are loaded and must go *before* the --
  -- div is hidden -->
{% endblock %}

{% block title %}Maps!{% endblock %}
{% block body_class %}individual{% endblock %}

{% block main %}
<h1 style="margin-left: 20px">Origin of Presidential Race Contributions (of at least $50,000 total per state) 2012</h1>

<div id="mapbox_pres_contribs" style="width: 760px; height: 570px; margin-left: 20px;"></div>
<script type="text/javascript">
    var url = "http://a.tiles.mapbox.com/v3/sunlightlabs-datacommons.InfluenceExplorerMaps.jsonp";

    wax.tilejson(url, function(tilejson) {
        var map = new L.Map('mapbox_pres_contribs', {maxZoom: 11, maxBounds: L.LatLngBounds(new L.LatLng(-111.893596,26.029345), new L.LatLng(-71.070738,47.064327)) }) 
            .setView(new L.LatLng(39.100,-76.8916), 8)
            .addLayer(new wax.leaf.connector(tilejson), {maxZoom: 11});

        wax.leaf.interaction()
            .map(map)
            .tilejson(tilejson)
            .on(wax.tooltip().animate(true).parent(map._container).events());
    });
</script>
{% endblock %}

