{% load humanize %}
{% load influence_extras %}

<div class="overviewBar withNav withTip">
    <h3>Earmarks</h3>
    <span class="amount">${{ entity_info.totals.earmark_amount|floatformat:0|intcomma }} Allocated</span>
    <div class="interiorMethodology">
        <a class="descriptor" title="More Information" href="#earmarksDescriptor">Information</a>
        <div class="clear"></div>      
        <div class="descriptorText" id='earmarksDescriptor'>
            <p>Figures are based on both committee earmark disclosures and on analysis of appropriations bill text. Table shows top 10 earmarks, ordered by dollar amount in the final version of the bill. Earmarks from the president's budget proposal are not included.</p>
            <p>For more information, see our <a href="/about/methodology/earmarks/">Earmark Methodology</a> page.</p>
        </div> 
    </div>     
    <div class="clear"></div>
</div>

<div class="chartModule withNav">
    <span class="tip external"></span>
    <ul>
        <li class="oneColumn chart">
	        <h4 class="withTip">In State vs. Out of State</h4>
	        <span class="tip">in dollars</span>
	        <div class="graph piechart" id="earmarks_local">
	            <!-- raphael charts -->
	        </div>
	  </li>
      <li>
          {% include "entities/earmarks_table.html" with earmarks=section.earmarks %}
      </li>
  </ul>
  <div class="clear"></div>
  
  {% include "section_base/external_links.html" with external_links=section.earmark_links %}
</div><!-- end chartModule -->
