{% extends "search_base.html" %}

{% block body_class %}about flatText{% endblock %}

{% block main %}

<div id="contentHeader">
    <h2>FEC Thing</h2>
</div>

<div id="fullColumn">
    <h3>Intro</h3>
	
	<p>Below is fundraising data for candidates for the House and Senate released by the Federal Election Commission for the first six months of 2011. The FEC released the complete list of amounts raised by candidates for the Senate and the complete list of  amounts spent by their campaigns.  But the lists released for the House only include candidates falling into the top 50 spots for those two categories – raising money and spending money.  Users should be aware that a candidate might appear in the top 50 for one category, but will not necessarily be in the top 50 the other category.  For House incumbents, totals for the same time period in 2009 are displayed if available using data from an FEC analysis released that year.</p>  
	
    <p class="external">Influence Explorer is a project of <a href="http://sunlightlabs.com/">Sunlight Labs</a>, the technology arm of the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a></p>
    
    <div class="fec-display">
        <div class="tab-bar">
            <span id="tab-house" class="tab">House</span><span id="tab-senate" class="tab">Senate</span>
        </div>
        <div class="tab-areas">
            <div id="tab-area-house" class="tab-area">
                
            </div>
            <div id="tab-area-senate" class="tab-area">
                
            </div>
        </div>
    </div>
    
</div>

<script type="text/html" id="table-template">
	<div class="external">Download the csv of this data at <a href="#">thisurl.com</a></div>
    <table class="sortable fecThing">
        <thead>
            <tr id="titles">
                <% for (var i = 0; i < columns.length; i++) { %>
                <th class="header sort"><%=columns[i].label%></th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < data.length; i++) { %>
                <tr class="<%=(i % 2 == 0 ? "even" : "odd")%>">
                    <% for (var j = 0; j < columns.length; j++) { %>
                        <% if (columns[j].field == 'district') { %>
                            <td><%=data[i]['state']%>&ndash;<%=data[i]['district']%></td>
                        <% } else if (columns[j].field == 'name' && data[i]['entity_id'] != "") { %>
                            <td><a href="/politician/<%=data[i]['name'].toLowerCase().replace(/[^a-z]/g, '-')%>/<%=data[i]['entity_id'].replace(/-/g, '')%>"><%=data[i]['name']%></a></td>
                        <% } else if ((columns[j].field == 'raised' || columns[j].field == 'spent' || (columns[j].field == 'raised_2009' && data[i][columns[j].field] != ""))) { %>
                            <% if (data[i][columns[j].field] == "") { %>
                                <td><small><em>Not in Top 50</em></small></td>
                            <% } else { %>
                                <td>$<%=helpers.formatDollars(parseFloat(data[i][columns[j].field]))%></td>
                            <% } %>
                        <% } else { %>
                            <td><%=data[i][columns[j].field]%></td>
                        <% } %>
                    <% } %>
                </tr>
            <% } %>
        </tbody>
    </table>
</script>

</script>
<script type="text/javascript">
    $(function() {
        var table = _.template($('#table-template').html());
        
        var columns = {}
        columns.house = [
            {'field': 'name', 'label': 'Name'},
            {'field': 'district', 'label': 'District'},
            {'field': 'incumbency', 'label': 'Incumbency'},
            {'field': 'party', 'label': 'Party'},
            {'field': 'spent', 'label': 'Spent'},
            {'field': 'raised', 'label': 'Raised'},
            {'field': 'raised_2009', 'label': 'Raised (2009)'}
        ]
        columns.senate = [
            {'field': 'name', 'label': 'Name'},
            {'field': 'state', 'label': 'State'},
            {'field': 'incumbency', 'label': 'Incumbency'},
            {'field': 'party', 'label': 'Party'},
            {'field': 'spent', 'label': 'Spent'},
            {'field': 'raised', 'label': 'Raised'}
        ]
        
        var template_helpers = {
            'formatDollars': function(number) {
                var out = [], counter = 0, part = true;
                var digits = number.toFixed(0).split("");
                while (part) {
                    part = (counter == 0 ? digits.slice(-3) : digits.slice(counter - 3, counter)).join("");
                    if (part) {
                        out.unshift(part);
                        counter -= 3;
                    }
                }
                return out.join(",");
            }
        }
        
        $('.tab-bar .tab').click(function() {
            var $tab = $(this);
            var type = $tab.get(0).id.split('-').pop();
            
            $('.tab-bar .tab').removeClass('active');
            $tab.addClass('active');
            
            $('.tab-areas .tab-area').hide();
            var $area = $('.tab-areas #tab-area-' + type).show();
            
            if ($area.find('table').length == 0) {
                $.getJSON(type + '.json', function(data) {
                    $area.html(table({'data': data, 'columns': columns[type], 'type': type, 'helpers': template_helpers}));
                    $area.find('table').tablesorter({ widgets: ['zebra']});
                })
            }
        })
        
        $('#tab-senate').click();
    })
</script>
{% endblock %}
