{% extends "brisket_base.html" %}
{% block body_class %}tdata downloads{% endblock %}

{% block pagetitle %}
    Data: Bulk Downloads | 
{% endblock %}

{% block main %}
    {% include "data/second_nav.html" %}
    <div id="contentHeader" class="withTip">
        <h2>Bulk Downloads</h2>
    </div>
    <div id="description" class="module">
        <p>See the <a href="/docs/">data format documentation</a> for a description of the fields in both the bulk downloads and the API. Fields not listed in the documentation may be returned, but they are experimental and may change.</p>
    </div>
    <div id="ltColumn">
        <div class="section">
            <h3>State and Federal Campaign Contributions</h3>
            <p><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140927/contributions.all.csv.zip">Full data set</a> 3.27 GB</p>
        </div>

        <div class="section">
            <h3>Federal Contributions</h3>
            <p>Federal records provided by <a href="http://opensecrets.org">OpenSecrets.org</a>. Please see OpenSecrets' data README <a href="http://assets.sunlightfoundation.com.s3.amazonaws.com/brisket/1.0/data/CRP_README.txt">here</a>.</p>
            <p><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140927/contributions.fec.csv.zip">All federal campaign contribution records</a> 1.57 GB</p>

            <h4 id="state-year">By contribution year</h4>
            <ol class="columnList">
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140324/contributions.fec.1990.csv.zip">1989 - 1990</a> 32 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140324/contributions.fec.1992.csv.zip">1991 - 1992</a> 45 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140324/contributions.fec.1994.csv.zip">1993 - 1994</a> 50 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140324/contributions.fec.1996.csv.zip">1995 - 1996</a> 70 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140324/contributions.fec.1998.csv.zip">1997 - 1998</a> 58 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140324/contributions.fec.2000.csv.zip">1999 - 2000</a> 91 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140324/contributions.fec.2002.csv.zip">2001 - 2002</a> 80 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140324/contributions.fec.2004.csv.zip">2003 - 2004</a> 157 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140324/contributions.fec.2006.csv.zip">2005 - 2006</a> 121 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140324/contributions.fec.2008.csv.zip">2007 - 2008</a> 269 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140324/contributions.fec.2010.csv.zip">2009 - 2010</a> 165 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140324/contributions.fec.2012.csv.zip">2011 - 2012</a> 299 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140927/contributions.fec.2014.csv.zip">2013 - 2014</a> 131 MB</li>
            </ol>
        </div>

        <div class="section">

            <h3>State Contributions</h3>
            <p>State records provided by <a href="http://followthemoney.org">FollowTheMoney.org</a>.</p>
            <p><a href="http://datacommons.s3.amazonaws.com/subsets/td-20131217/contributions.nimsp.csv.zip">All state campaign contribution records</a> 1.7 GB</p>

            <h4>By contribution year</h4>
            <ol class="columnList">
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20130726/contributions.nimsp.1990.csv.zip">1989 - 1990</a> 5 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20130726/contributions.nimsp.1992.csv.zip">1991 - 1992</a> 7 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20130726/contributions.nimsp.1994.csv.zip">1993 - 1994</a> 12 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20130726/contributions.nimsp.1996.csv.zip">1995 - 1996</a> 42 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20130726/contributions.nimsp.1998.csv.zip">1997 - 1998</a> 148 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20130726/contributions.nimsp.2000.csv.zip">1999 - 2000</a> 131 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20130726/contributions.nimsp.2002.csv.zip">2001 - 2002</a> 205 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20130726/contributions.nimsp.2004.csv.zip">2003 - 2004</a> 190 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20130726/contributions.nimsp.2006.csv.zip">2005 - 2006</a> 248 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20130726/contributions.nimsp.2008.csv.zip">2007 - 2008</a> 203 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20130726/contributions.nimsp.2010.csv.zip">2009 - 2010</a> 257 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20130726/contributions.nimsp.2012.csv.zip">2011 - 2012</a> 303 MB</li>
                <li><a href="http://datacommons.s3.amazonaws.com/subsets/td-20131217/contributions.nimsp.2014.csv.zip">2013 - 2014</a> 26 KB</li>
            </ol>

        </div>

    	<div class="section">
    		<h3>Federal Lobbying</h3>
    		<p>Federal lobbying data provided by <a href="http://opensecrets.org">OpenSecrets.org</a>.</p>
    		<p><a href="http://datacommons.s3.amazonaws.com/subsets/td-20140602/lobbying.zip">Full data set</a> 273 MB</p>
        </div>

        <div class="section">
            <h3>Foreign Influence</h3>
            <p>Foreign influence data is information from the Department of Justice's Foreign Agents Registration Act records, compiled by the Sunlight Foundation with the <a href="http://sunlightfoundation.com/blog/2013/10/11/volunteer-watchdogs-wanted-help-us-track-foreign-influence">help of people like you</a>.</p>
            <p>Please note that the data is complete starting with forms received in 2013.We have also included archival data from 2008 to March 2011. We are still in the process of entering incoming forms and and working on the 2011-2012 backlog.
            </p>

            <h4>Contacts</h4>
            <p><a href="http://fara.sunlightfoundation.com.s3.amazonaws.com/InfluenceExplorer/contacts.csv">All contact records</a></p>
            <h4>Payments</h4>
            <p><a href="http://fara.sunlightfoundation.com.s3.amazonaws.com/InfluenceExplorer/payments.csv">All payment records</a></p>
            <h4>Disbursements</h4>
            <p><a href="http://fara.sunlightfoundation.com.s3.amazonaws.com/InfluenceExplorer/disbursements.csv">All disbursement records</a></p>
            <h4>Contributions</h4>
            <p>These records should match the FARA records, but not necessarily FEC, OpenSecrets or Influence Explorer records.</p>
            <p><a href="http://fara.sunlightfoundation.com.s3.amazonaws.com/InfluenceExplorer/contributions.csv">All FARA contributon records</a></p>
            <h4>Clients and Registrants</h4>
            <a href="http://fara.sunlightfoundation.com.s3.amazonaws.com/InfluenceExplorer/client_registrant.csv">All clients and registrants</a>

        </div>

    	<div class="section">
    		<h3>Earmarks</h3>
    		<p>Earmarks data provided by <a href="http://taxpayers.net">Taxpayers for Common Sense</a>.</p>
    		<p><a href="http://datacommons.s3.amazonaws.com/subsets/td-20111006/earmarks.zip">Full data set</a> 2.7 MB</p>
    	</div>

    	<div class="section">
    	    <h3>Federal Grants & Contracts</h3>
    	    <p>Federal grant and contract data can be downloaded from <a href="http://www.usaspending.gov/data">USASpending.gov</a>.</p>
    	</div>

	
        <div class="section">
            <h3 id="epa_echo">EPA ECHO</h3>
            <p>EPA data from <a href="http://www.epa-echo.gov/echo/idea_download.html">EPA ECHO</a>.</p>
            <p><a href="http://datacommons.s3.amazonaws.com/subsets/td-20111006/epa.zip">All EPA ECHO records</a> 6 MB</p>
            <p><em>Note: the download contains two files, one with the action records and the other with case ID's and defendant names (defennm) as they are found in the EPA data, alongside the verified, corresponding organization name and parent organization name in <a href="http://influenceexplorer.com">Influence Explorer.</a></em></p>
        </div>

        <div class="section">
            <h3 id="faca">Federal Advisory Committee Act</h3>
            <p>Federal Advisory Committee Act (FACA) data provided by <a href="http://www.gsa.gov/portal/category/21242">U.S. General Services Administration</a>.</p>
            <p><a href="http://datacommons.s3.amazonaws.com/subsets/td-20120327/faca_records.csv.zip">All FACA records</a> 16.5 MB</p>
        </div>

        <div class="section">
            <h3 id="regulations">Federal Regulations</h3>
            <p>Federal regulatory comments extracted from <a href="http://regulations.gov">Regulations.gov</a>.</p>
        
            <p>This dataset consists of all of the text extracted from federal rulemaking dockets on Regulations.gov.  It encompasses approximately 13,000 regulatory dockets comprised of over 3,000,000 documents.  The entire dataset is approximately 14 gigabytes.  For each docket, there is one zip file containing a directory for each document, which, in turn, contains a text file for each attachment.  Both dockets and documents also include additional, JSON-encoded metadata (date, title, etc.).  The docket zip files are organized into directories by agency.</p><br />
            <p>We offer several mechanisms for downloading this dataset, depending on whether you're interested in a single docket, an agency's worth of dockets, or the entire dataset. To find a particular docket you will need the docket ID from Regulations.gov.</p>
            <div class="section interiorSection">
                <h4>Web access</h4>
                <p>We have made the dataset available for browsing via the web below.  Individual dockets can be downloaded from this site.</p>
                <p class="download"><a href="http://torrents.sunlightfoundation.com/browse/regulations-2011-09-27/">Browse the dataset online</a></p>
            </div>
            <div class="section interiorSection">
                <h4>BitTorrent</h4>
                <p>We are also seeding a torrent of all of the regulatory data.  This is the recommended mechanism for downloading the entire dataset.  You can use this torrent to either download data for all agencies, or, if your BitTorrent client supports it, a subset of either agencies or dockets.  For more information on how to use BitTorrent, see <a href="http://lifehacker.com/285489/a-beginners-guide-to-bittorrent">this LifeHacker post.</a></p>
                <p class="download"><a href="http://torrents.sunlightfoundation.com/torrents/regulations-2011-09-27.torrent">Download the dataset via BitTorrent</a></p>
            </div>
            <div class="section interiorSection">
                <h4>Rsync</h4>
                <p>The dataset is also available via Rsync, either in full or part.  The link below is the Rsync URL for the entire dataset.  To download only an agency's worth of data via Rsync, use the <a href="http://torrents.sunlightfoundation.com/browse/regulations-2011-09-27/">browser interface</a>, locate the agency you wish to download, then copy the rsync URL from the rightmost column.  <em>Note: our rsync capacity is limited as rsync is a memory-intensive process.  BitTorrent is the preferred means of downloading full agencies or the entire dataset, so please only use the Rsync service if you can't use the torrent.</em></p>
                <p><a href="rsync://torrents.sunlightfoundation.com/pub/regulations-2011-09-27">Download via Rsync</a></p>
            </div>
        </div>
    </div>
    
    <div id="rtColumn">
        <div class="section">
        	<h4>License</h4>
    		<p>Data returned by this service is subject to the <a href="http://www.fec.gov/pages/brochures/sale_and_use_brochure.pdf">use restrictions set by the Federal Election Commission</a>. By accessing this data, you understand that you are using the data subject to all applicable local, state and federal law, including FEC restrictions.</p>
    		<p>All data licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons BY-NC-SA</a> license. By downloading data, you are agreeing to the terms of the license.</p> 
    		<p>Federal campaign finance and lobbying data must be attributed to <a href="http://opensecrets.org">OpenSecrets.org</a>.</p> 
    		<p>State campaign finance data must be attributed to <a href="http://followthemoney.org">FollowTheMoney.org</a>.</p>
    		<p>Earmarks data must be attributed to <a href="http://taxpayers.net">Taxpayers for Common Sense</a>.</p>
        </div>
    </div>    
{% endblock %}
