{% extends 'search_base.html' %}

{% load simplepay_tags %}

{% block js %}
{{ block.super }}
{% comment %}Quick and dirty API interaction code for postcards; could probably be moved to its own file if it were going to be around for a while {% endcomment %}

<script type="text/javascript">
    $(function() {
        $('#id_amount').change(function() {
            $('input[type=image]').attr('disabled', 'true');
            $.getJSON('/simplepay/transaction/{{ card.amazon_transaction.reference_id }}/?amount=' + $('#id_amount').val(), function(data) {
                $('#id_signature').val(data.signature);
                $('#id_amount').removeAttr('disabled');
            });
        })
    });
</script>

{% endblock %}

{% block main %}

<div id="postcardBox">
    <div class="module">
        <h2><big>Before they vote</big><small>Send Them a Postcard</small></h2>
    </div>
    <div id="postcardSearch" class="module">
        <form method="get" action="/postcard/order">
            <label class="tip">Search by a city and state, a zip code or an addresss to see what postcards are available</label>
            <input id="id_postcardSearch" type="text" name="location"/>
            <button class="searchPostcardBtn" type="submit">
                <span>Search</span>
            </button>
        </form>
    </div>
    <div class="module">
        <h3>Confirm Your Postcard Information</h3>
        <div class="cardFront">
            <h4>Image</h4>
            <img src="{{ front }}" alt="Postcard front" />
        </div>
        <div class="cardBack">
            <h4>Message</h4>
            <img src="/postcard/text_preview/{{ card.id }}/{{ card.get_code }}" alt="Postcard back" />
        </div>
        <div class="clear"></div>
        <div id="payment">
            <h4 class="withTip">Payment</h4>
            <div class="payment-info">The cost of printing and shipping for each postcard is $2.  We suggest an additional donation of $1 to help the Sunlight Foundation further its mission of government transparency and accountability.</div>
            {% simplepay_form form %}
        </div>
    </div>
</div>

{% endblock %}