{% extends 'search_base.html' %}

{% block js %}
{{ block.super }}
<link rel="stylesheet" href="/media/fancybox/jquery.fancybox-1.3.2.css" type="text/css" />
<script type="text/javascript" src="/media/fancybox/jquery.fancybox-1.3.2.pack.js"></script>

<script type="text/javascript" src="/media/js/postcards.js"></script>

<meta name="og:title" content="Sunlight Foundation's Influence Postcards">
<meta name="og:description" content="">
<meta name="og:type" content="cause">
<meta name="og:image" content="http://influenceexplorer.com/postcard/thumbnail/race/NV">
<meta name="og:url" content="http://influenceexplorer.com/postcard">
<meta name="og:site_name" content="Influence Explorer">
<meta name="fb:admins" content="7812952">

{% endblock %}

{% block main %}

<div id="postcardBox">
    <div class="module">
        <h2><big>Before they vote</big><small>Send Them a Postcard</small></h2>
        <div id="postcardDescription">
            <p>Want to make sure your friends and family are informed about just who they're voting for in the upcoming midterms?</p>
            <p>With an unprecedented amount of money flowing into this year's midterm elections, help your friends and family follow the money by sending a customized postcard or three right from this website - no stamps necessary - about the elections happening in their community.</p>
            <p>Each postcard will show the industries and organizations that contribute the most to the candidate (or candidates) you choose. Make it personal by writing a note to tell your friend or family member about why you want them to see the money and influence this political season.</p>
        </div>
    </div>
    <div id="postcardSearch" class="module">
        <form method="get">
            <label class="tip">Search by a city and state, a zip code or an addresss to see what postcards are available</label>
            <input id="id_postcardSearch" type="text" name="location"/>
            <button class="searchPostcardBtn" type="submit">
                <span>Search</span>
            </button>
        </form>    
    </div> 
    <div class="module">
        <form method="POST">
            <h3 class="withTip">Build Your Postcard Now</h3>
            <div class="tip">The cost of printing and shipping for each postcard is $2</div>
            {{ form.non_field_errors }}
            {% if search_error %}
                <ul class="errorlist"><li>{{ search_error }}</li></ul>
            {% endif %}
            {{ form.location }}
            <ul>
                <li>
                    {{ form.office.errors }}
                    <label>Office</label>
                    {{ form.office }}
                </li>
                <li>
                    {{ form.state.errors }}
                    <label>State</label>
                    {{ form.state }}
                </li>
                <li class="candidate-row">
                    {{ form.td_id.errors }}
                    <label>Candidate</label>
                    {{ form.td_id }}<img src="/media/images/loading.gif" alt="Loading..." class="candidate-loading" />
                </li>
                <li id="cardOptions">
                    {{ form.num_candidates.errors }}
                    <label>Single Candidate or Opposing Candidates</label>
                    {{ form.num_candidates }}
                    <div class="clear"></div>
                </li>
                <li>
                    <a class="previewBtn linkBtn">
                        <span>Preview</span>
                    </a>
                </li>
            </ul>
            <h4>Personalize It</h4>
            <h5>Sender's Address</h5>
            <ul>
                <li>
                    {{ form.sender_name.errors }}
                    <label>Name</label>
                    {{ form.sender_name }}
                </li>
                <li>
                    {{ form.sender_address1.errors }}
                    <label>Address Line 1</label>
                    {{ form.sender_address1 }}
                </li>
                <li>
                    {{ form.sender_address2.errors }}
                    <label>Address Line 2</label>
                    {{ form.sender_address2 }}
                </li>
                <li>
                    {{ form.sender_city.errors }}
                    <label>City</label>
                    {{ form.sender_city }}
                </li>
                <li>
                    {{ form.sender_state.errors }}
                    <label>State</label>
                    {{ form.sender_state }}
                </li>
                <li>
                    {{ form.sender_zip.errors }}
                    <label>Zip</label>
                    {{ form.sender_zip }}
                </li>
            </ul>
            <h5>Recipient's Address</h5>
            <ul>
                <li>
                    {{ form.recipient_name.errors }}
                    <label>Name</label>
                    {{ form.recipient_name }}
                </li>
                <li>
                    {{ form.recipient_address1.errors }}
                    <label>Address Line 1</label>
                    {{ form.recipient_address1 }}
                </li>
                <li>
                    {{ form.recipient_address2.errors }}
                    <label>Address Line 2</label>
                    {{ form.recipient_address2 }}
                </li>
                <li>
                    {{ form.recipient_city.errors }}
                    <label>City</label>
                    {{ form.recipient_city }}
                </li>
                <li>
                    {{ form.recipient_state.errors }}
                    <label>State</label>
                    {{ form.recipient_state }}
                </li>
                <li>
                    {{ form.recipient_zip.errors }}
                    <label>Zip</label>
                    {{ form.recipient_zip }}
                </li>
            </ul>
            <h5>Personalized Message</h5>
            <ul>
                <li>
                    {{ form.message.errors }}
                    <label>Message</label>
                    {{ form.message }}
                </li>
                <li>
                    <button class="contBtn" type="submit">
                        <span>Continue</span>
                    </button>
                </li>    
            </ul>
        </form>
    </div>
</div>

{% endblock %}