{% extends 'search_base.html' %}

{% block js %}
{{ block.super }}

<script type="text/javascript" src="/media/js/postcards.js"></script>

{% endblock %}

{% block main %}

<div id="postcardBox">
    <div class="module">
        <h2><big>Before they vote</big><small>Send Them a Postcard</small></h2>
        <div id="postcardDescription">
            <p>Want to make sure your friends and family are informed about just who they're voting for in the upcoming midterms?</p>
            <p>There's been an unprecedented amount of money flowing into this year's midterm elections. So, before they vote, help your friends and family follow the money by sending a postcard or three about the elections happening in their community. You can make and send your own postcard right from this website - no stamps necessary.</p>
            <p>Customize a postcard below - you can choose to show one or both candidates. Each postcard shows the industries and organizations that contribute the most to the candidate you choose.</p> 
            <p>Then write a personal note to tell your friend or family member about why you want them to see the money and influence this political season.</p>
        </div>
    </div>
    <div id="postcardSearch" class="module">
        <form method="get">
            <label class="tip">Search by a city and state, a zip code or an addresss to see what postcards are available</label>
            <input id="id_postcardSearch" type="text" name="location"/>
            <button class="searchPostcardBtn" type="submit">
                <span>Search</span>
            </button>
        </form>    
    </div> 
    <div class="module">
        <form method="POST">
            <h3>Build Your Postcard Now</h3>
            {{ form.non_field_errors }}
            {% if search_error %}
                <ul class="errorlist"><li>{{ search_error }}</li></ul>
            {% endif %}
            <ul>
                <li>
                    {{ form.office.errors }}
                    <label>Office</label>
                    {{ form.office }}
                </li>
                <li>
                    {{ form.state.errors }}
                    <label>State</label>
                    {{ form.state }}
                </li>
                <li>
                    {{ form.td_id.errors }}
                    <label>Candidate</label>
                    {{ form.td_id }}
                </li>
                <li>
                    {{ form.num_candidates.errors }}
                    <label>Single Candidate or Opposing Candidates</label>
                    {{ form.num_candidates }}
                    <div class="clear"></div>
                </li>  
            </ul>
            <h4>Personalize It</h4>
            <h5>Sender's Address</h5>
            <ul>
                <li>
                    {{ form.sender_name.errors }}
                    <label>Name</label>
                    {{ form.sender_name }}
                </li>
                <li>
                    {{ form.sender_address1.errors }}
                    <label>Address Line 1</label>
                    {{ form.sender_address1 }}
                </li>
                <li>
                    {{ form.sender_address2.errors }}
                    <label>Address Line 2</label>
                    {{ form.sender_address2 }}
                </li>
                <li>
                    {{ form.sender_city.errors }}
                    <label>City</label>
                    {{ form.sender_city }}
                </li>
                <li>
                    {{ form.sender_state.errors }}
                    <label>State</label>
                    {{ form.sender_state }}
                </li>
                <li>
                    {{ form.sender_zip.errors }}
                    <label>Zip</label>
                    {{ form.sender_zip }}
                </li>
            </ul>
            <h5>Recipient's Address</h5>
            <ul>
                <li>
                    {{ form.recipient_name.errors }}
                    <label>Name</label>
                    {{ form.recipient_name }}
                </li>
                <li>
                    {{ form.recipient_address1.errors }}
                    <label>Address Line 1</label>
                    {{ form.recipient_address1 }}
                </li>
                <li>
                    {{ form.recipient_address2.errors }}
                    <label>Address Line 2</label>
                    {{ form.recipient_address2 }}
                </li>
                <li>
                    {{ form.recipient_city.errors }}
                    <label>City</label>
                    {{ form.recipient_city }}
                </li>
                <li>
                    {{ form.recipient_state.errors }}
                    <label>State</label>
                    {{ form.recipient_state }}
                </li>
                <li>
                    {{ form.recipient_zip.errors }}
                    <label>Zip</label>
                    {{ form.recipient_zip }}
                </li>
            </ul>
            <h5>Personalized Message</h5>
            <ul>
                <li>
                    {{ form.message.errors }}
                    <label>Message</label>
                    {{ form.message }}
                </li>
                <li>
                    <button class="previewBtn" type="submit">
                        <span>Preview</span>
                    </button>
                </li>    
            </ul>
        </form>
    </div>
</div>

{% endblock %}