{% extends 'search_base.html' %}

{% block js %}
{{ block.super }}

{% endblock %}

{% block main %}

<div id="postcardBox">
    <div class="module">
        <h2><big>Before they vote</big><small>Send Them a Postcard</small></h2>
    </div>
    <div id="postcardSearch" class="module">
        <form method="get" action="/postcard/order">
            <label class="tip">Search by a city and state, a zip code or an addresss to see what postcards are available</label>
            <input id="id_postcardSearch" type="text" name="location"/>
            <button class="searchPostcardBtn" type="submit">
                <span>Search</span>
            </button>
        </form>
    </div> 
    <div class="module">
        <h3>Thanks for ordering your postcard!</h3>
        <h4>Share:
            <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Finfluenceexplorer.com%2Fpostcard&t=Before%20they%20vote%2C%20I%20want%20my%20friends%20%26%20family%20to%20see%20who%27s%20influencing%20their%20favorite%20candidates%2C%20so%20I%20sent%20a%20postcard%20right%20to%20their%20front%20door.%20Make%20and%20send%20your%20own%20online%20%28no%20stamps%20necessary%29%20here%3A%20http%3A//influenceexplorer.com/postcard">
                <img src="/media/images/facebook_32.png">
            </a>
            <a href="http://twitter.com/?status=Before%20they%20vote%2C%20I%20want%20friends%20%26%20family%20to%20see%20who%20influenced%20their%20fave%20candidate%2C%20so%20I%20sent%20the%20info%20to%20their%20door%20http%3A//bit.ly/cQuCaJ">
                <img src="/media/images/twitter_32.png">
            </a>
        </h4>
    </div>
</div>

{% endblock %}