{% extends 'search_base.html' %}

{% block js %}
{{ block.super }}

<script type="text/javascript" src="/media/js/postcards.js"></script>

{% endblock %}

{% block main %}

<div id="postcardBox">
    <div class="module">
        <h2><big>Before they vote</big><small>Send Them a Postcard</small></h2>
    </div>
    <div id="postcardSearch" class="module">
        <form method="get">
            <label class="tip">Search by a city and state, a zip code or an addresss to see what postcards are available</label>
            <input id="id_postcardSearch" type="text" name="location"/>
            <button class="searchPostcardBtn" type="submit">
                <span>Search</span>
            </button>
        </form>
    </div> 
    <div class="module">
        <h3>Thanks for ordering your postcard!</h3>
    </div>
</div>

{% endblock %}