{% extends "search_base.html" %}

{% block body_class %}methodology flatText{% endblock %}

{% block main %}

<div id="contentHeader">
    <h2>Lobbyist Bundling Methodology</h2>
</div>

<div id="ltColumn">
    <p id="tip">This document describes the process we use to display the Bundled Contributions tables. The information provided in this document should be detailed enough to allow a dedicated user to reproduce the figures in Influence Explorer using <a href="http://data.influenceexplorer.com/contributions/bundled/">the underlying lobbyist bundling data</a>.</p>
    
    <h3>Background</h3>
        <p>"Bundling" refers to the practice of an individual or organization raising campaign contributions on behalf of a candidate. While each individual is subject to contribution limits, bundlers can in effect give large sums of money by pooling the contributions of others. The practice of bundling is common, and does not normally require disclosure. Starting in 2009, however, requirements were enacted requiring campaign committees to report to the FEC any money bundled by registered lobbyists. As the rule applies only to registered lobbyists, it represents only a portion of the overall bundling activity.</p>
        <p>The FEC makes scans of the bundling reports available at its <a href="http://www.fec.gov/data/LobbyistBundle.do">data catalog</a>. The FEC does not make a machine readable version of the complete database available for download. They will, however, prepare such a database on request. We request updates to the database quarterly.</p>
    
    <h3>Summing Reported Amounts</h3>
        <p>Reports are filed according to a Byzantine schedule of overlapping reporting periods. Reports also list two types of amounts: an amount for the particular reporting period and a running sum for the 6-month period. Without care, it is easy to over or under count. Summing the amounts for each report will often lead to under counting, since filers often report only in the semi-annual amount field. But summing the semi-annual amount fields will often over count, since they are a running total. Additionally, reports my be amendments of previous reports, but don't clearly indicate which report they're meant to supersede.</p>
        <p>After consultation with the FEC, we chose the following methodology. Reports are grouped into the two semi-annual periods based on the end date of their coverage period. In each period we take the last report to have been filed. The sum of the semi-annual amounts from the last-filed reports is our final total. To avoid confusion, the data presented in the Data section downloads includes only these canonical reports.</p>
        <p>The lobbyist and lobbying firm names are not standardized. Since the dataset is small (under 400 reports) we manually matched all records against the names in Influence Explorer.</p>

</div>

{% endblock %}
