{% extends "brisket_base.html" %}

{% block body_class %}methodology flatText{% endblock %}

{% block main %}

<div id="contentHeader">
    <h2>Methodology</h2>
</div>

<div id="ltColumn">
    <p id="tip">This document contains links to documentation of the processes we use to ingest and aggregate information from various sources of influence-related disclosures.</p>
    
        <p>
            <a href="http://realtime.influenceexplorer.com/about/">Real-time Federal Campaign Finance</a>
        </p>
        <p>
            <a href="/about/methodology/realtime-lobbying/registrations/">Real-time Federal Lobbying Registrations</a>
        </p>
        <p>
            <a href="/about/methodology/realtime-lobbying/post-employment/">Real-time Post-employment Notices</a>
        </p>
        <p>
            <a href="http://foreign.influenceexplorer.com/about/">Real-time Foreign Lobbying (FARA)</a>
        </p>
</div>

{% endblock %}
