{% extends "search_base.html" %}

{% block body_class %}organization{% endblock %}

{% block main %}
    <div id="contentHeader">
        <h2>Organizations</h2>
    </div>
    <div id="ltColumn">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu sagittis libero. Duis vel magna sem. Suspendisse cursus sapien vel mi lobortis eget mattis sapien condimentum. Proin eu lectus eget sem fringilla venenatis. Aliquam erat volutpat.</p>
        <table id="mainPageTables">
            <thead>
                  <tr id="titles">
                      <th class="sort">Name</th>
                      <th class="sort">Total Given</th>
                  </tr>
              </thead>
              <tbody>
                  <tr class="{% cycle 'even' 'odd' %}">
                      <td>
                          <a href="#">Organization</a>
                      </td>
                      <td>11,302,785</td>
                  </tr>
              </tbody>
        </table>    
    </div>
{% endblock %}