{% extends "section_base/multisection_base.html" %}

{% load influence_extras %}

{% block date_name %}{{ name }}{% endblock %}

{% block pagetitle %}
    {{ name }} | 
{% endblock %}

{% block contentHeader %}
<h2>{{ name }}</h2>
<div class="clear"></div>
{% endblock %}

{% block metadesc %}Overview of {{ name }} on Influence Explorer.{% endblock %}

{% block og %}
  <meta name="og:title" content="{{ name }} | Influence Explorer">
  <meta name="og:description" content="Overview of {{ name }} on Influence Explorer.">
  <meta name="og:type" content="cause">
  <meta name="og:image" content="http://s3.amazonaws.com/assets.sunlightfoundation.com/brisket/1.0/images/projects_icon_influencexplorer.png">
  <meta name="og:url" content="http://influenceexplorer.com{{ request.path }}">  <meta name="og:site_name" content="Influence Explorer">
  <meta name="fb:admins" content="7812952,5308565">
{% endblock %}