{% load humanize %}
{% load influence_extras %}

<div class="overviewBar withNav withTip">
    <h3>Campaign Finance</h3>
    <span class="amount">${{ contributions_amount|floatformat:0|intcomma }} GIVEN</span>
    <div  class="interiorMethodology">
        <a class="descriptor" title="More Information" href="#contributionsDescriptor">Information</a>
        <div class="clear"></div>      
        <div class="descriptorText" id='contributionsDescriptor'>
            <p>The charts below display individual contributions to federal and state races.  For federal races, only political contributions over $200 are included in these totals. This is because the Federal Election Commission only requires campaigns to itemize contributions that are more than $200.  For state races, the threshhold for itemizing each contribution varies by state.</p>
            <p>For more information, see our <a href="/about/methodology/contributions/">Campaign Finance Methodology</a> page.</p>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="chartModule withNav">
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      {% if not sections.contributions.suppress_contrib_graphs %}
      Brisket.party_twopane_pie("partyTwopanePie", {% if section.party_summary_data %}{{ section.party_summary_data|safe }}{% else %}{}{% endif %});
      //Brisket.recipient_type_twopane_pie("recipientTypeGroupTwopanePie", {% if section.recipient_type_summary_data %}{{ section.recipient_type_summary_data|safe }}{% else %}{}{% endif %});
      Brisket.state_fed_twopane_pie("stateFedTwopanePie", {% if section.state_fed_summary_data %}{{ section.state_fed_summary_data|safe }}{% else %}{}{% endif %});
      Brisket.in_state_out_of_state_twopane_pie("inStateOutOfStateTwopanePie", {% if section.in_state_out_of_state_summary_data %}{{ section.in_state_out_of_state_summary_data|safe }}{% else %}{}{% endif %});
      Brisket.recipient_type_twopane_pie("recipientTypeTwopanePie", {% if section.recipient_type_summary_data %}{{ section.recipient_type_summary_data|safe }}{% else %}{}{% endif %});
      {% endif %}

      //$('table#grantsContracts td').multiellipsis(3);
      //$('td.cell-earmark-description .earmark_mainDescription').multiellipsis(3);
      //$('table td.cell-earmark-description').expando(4, '.earmark-requests', 'li.requestedList', 'moreEarmarks');
    });
    </script>
    {% if cycle == "-1" or cycle == "2014" %}
      <span class="tip external">covers roughly through q3 2013</span>
    {% endif %}
    
    <div class="threeColumn mainTable">
       <div class="electionHeader">
          <h4 class="withTip">Contributions to Parties from Individuals</h4>
          <!-- span class="tip external">Ranked by total amount contributed</span-->
       </div>
        <div id="partyTwopanePie" class="twopanePie"></div>
          <span class="explanatory">This chart shows all contributions from individuals to federal and state races broken out by how the contributions were distributed between the two major political parties. The total contributions to both federal and state races  from individuals  between 1992 and 2014 was $1.3 billion. Clicking on the pieces of the pie will reveal who gave the most to each party over the years</span>
       <div class="electionHeader">
          <h4 class="withTip">Contributions to Committees and Politicians' Campaigns from Individuals</h4>
          <!-- span class="tip external">Ranked by total amount contributed</span-->
       </div>
        <div id="recipientTypeTwopanePie" class="twopanePie"></div>
          <span class="explanatory">These charts show how giving from individuals breaks down by recipient type, specifically politicians and committees (including super PACs). The bar chart shows the top ten individuals that give to politicians and committees. The interactive pie chart can be used to toggle between recipient type on the bar chart.</span>
       <div class="electionHeader">
          <h4 class="withTip">Contributions in State and Federal Races from Individuals</h4>
          <!-- span class="tip external">Ranked by total amount contributed</span-->
       </div>
        <div id="stateFedTwopanePie" class="twopanePie"></div>
          <span class="explanatory">This chart shows how all contributions from individuals were divided between federal and state races.  Click on the pieces of the pie to see who gave the most to state and federal races. </span>
       <div class="electionHeader">
          <h4 class="withTip">Contributions to In-State and Out-Of-State Candidates from Individuals</h4>
          <!-- span class="tip external">Ranked by total amount contributed</span-->
       </div>
        <div id="inStateOutOfStateTwopanePie" class="twopanePie"></div>
          <span class="explanatory">This chart shows how contributors distribute their money around the country. It's generally expected that people will contribute money to politicians in their homes states and districts. However, some people do give to campaigns and candidates who are not running to represent the places they live.</span>
    </div>
</div>
