{% load humanize %}
{% load influence_extras %}

<div class="overviewBar withNav withTip">
    <h3>Campaign Finance</h3>
    <span class="amount">${{ contributions_amount|floatformat:0|intcomma }} GIVEN</span>
    <div  class="interiorMethodology">
        <a class="descriptor" title="More Information" href="#contributionsDescriptor">Information</a>
        <div class="clear"></div>      
        <div class="descriptorText" id='contributionsDescriptor'>
            <p>The charts below display industry contributions to federal and state races.  For federal races, only political contributions over $200 are included in these totals. This is because the Federal Election Commission only requires campaigns to itemize contributions that are more than $200.  For state races, the threshhold for itemizing each contribution varies by state.</p>
            <p>For more information, see our <a href="/about/methodology/contributions/">Campaign Finance Methodology</a> page.</p>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="chartModule withNav">
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      {% if not sections.contributions.suppress_contrib_graphs %}
      Brisket.party_twopane_pie("partyTwopanePie", {% if section.party_summary_data %}{{ section.party_summary_data|safe }}{% else %}{}{% endif %});
      Brisket.pac_indiv_twopane_pie("pacIndivTwopanePie", {% if section.pac_indiv_summary_data %}{{ section.pac_indiv_summary_data|safe }}{% else %}{}{% endif %});
      Brisket.state_fed_twopane_pie("stateFedTwopanePie", {% if section.state_fed_summary_data %}{{ section.state_fed_summary_data|safe }}{% else %}{}{% endif %});
      Brisket.recipient_type_twopane_pie("recipientTypeTwopanePie", {% if section.recipient_type_summary_data %}{{ section.recipient_type_summary_data|safe }}{% else %}{}{% endif %});
      //Brisket.seat_twopane_pie("seatTwopanePie", {% if section.seat_summary_data %}{{ section.seat_summary_data|safe }}{% else %}{}{% endif %});
      {% endif %}

      //$('table#grantsContracts td').multiellipsis(3);
      //$('td.cell-earmark-description .earmark_mainDescription').multiellipsis(3);
      //$('table td.cell-earmark-description').expando(4, '.earmark-requests', 'li.requestedList', 'moreEarmarks');
    });
    </script>
    {% if cycle == "-1" %}
        <span class="tip external">covers from 1989 roughly through q3 2013</span>
    {% elif cycle == "2014" %}
      <span class="tip external">covers roughly through q3 2013</span>
    {% endif %}
    <div class="threeColumn mainTable">
       <div class="electionHeader">
          <h4 class="withTip">Contributions to Parties from Industries</h4>
          <!-- span class="tip external">Ranked by total amount contributed</span-->
       </div>
        <div id="partyTwopanePie" class="twopanePie"></div>
        <span class="explanatory">These charts depict which political parties receive the most money from each industry. The pie chart shows the overall industry-related giving broken down by party, while the bar chart ranks industry giving by the parties they give to. Click the pieces of the pie to see the top ten industries in terms of giving to each party.</span>
        <span class="explanatory">The "other" portion of the pie represents third party giving.</span>
       <div class="electionHeader">
          <h4 class="withTip">Contributions to Committees and Politicians' Campaigns from Industries</h4>
          <!-- span class="tip external">Ranked by total amount contributed</span-->
       </div>
        <div id="recipientTypeTwopanePie" class="twopanePie"></div>
          <span class="explanatory">These charts show how giving from industries break down by recipient type, specifically politicians and committees (including super PACs). The bar chart shows the top ten industries that give to politicians and committees. The interactive pie chart can be used to toggle between recipient type on the bar chart. </span>
       <div class="electionHeader">
          <h4 class="withTip">Contributions from Industries in State and Federal Races</h4>
          <!-- span class="tip external">Ranked by total amount contributed</span-->
       </div>
        <div id="stateFedTwopanePie" class="twopanePie"></div>
          <span class="explanatory">These charts show the breakdown of contributions from the different industries to federal and state political races. The bar chart shows the top ten industries to give on the state and federal levels. The interactive pie chart can be used to toggle between the two levels of government on the bar chart. </span>
       <div class="electionHeader">
          <h4 class="withTip">Contributions from Industry Organizations' Committees and Their Associated Individuals</h4>
          <!-- span class="tip external">Ranked by total amount contributed</span-->
       </div>
        <div id="pacIndivTwopanePie" class="twopanePie"></div>
      <span class="explanatory">These charts show what money comes from political action committees associated with a particular industry and what money comes from individuals associated with an industry. The bar chart shows the top ten industries to give money via their PACs or from industry-associated individuals.</span>
    
</div>
