{% extends "entity_landing/entity_landing_base.html" %}
{% load humanize %}
{% load influence_extras %}
{% block body_class %}group{% endblock %}
{% block description %}Every business, organization or individual is classified as being part of an industry. The industries, which there is a long list of, are determined by the Center for Responsive Politics and help to identify how various areas of society and the economy influence politics and in turn how politics benefits those industries through policy and legislation.{% endblock %}
