{% extends "entity_landing/entity_landing_base.html" %}
{% load humanize %}
{% load influence_extras %}
{% block body_class %}group{% endblock %}
{% block description %}Lobbying firms are paid lots of money to advocate for their clients' interests. They work to influence policy makers on the local, state and federal levels of government. Also included in this category are organizations including corporations that have in-house lobbying operations to influence policy and push their interests forward on their own. Billions of dollars are spent each year lobbying the government–a testament to how important this activity is to so many interests.{% endblock %}
