{% extends "entity_landing/entity_landing_base.html" %}
{% load humanize %}
{% load influence_extras %}
{% block body_class %}individual{% endblock %}
{% block description %}Lobbyists featured on Influence Explorer have registered with the Senate Office of Public Records.  Lobbyists regularly make campaign contributions above the disclosure threshold of $200 to politicians which makes their names appear in Federal Election Commission records. Their names also show up on lobbying disclosure forms when they lobby on a specific issue or company. All of this information will show up on a lobbyist's profile page on Influence Explorer. {% endblock %}
