{% load humanize %}
{% load influence_extras %}

<div class="overviewBar withNav withTip">
    <h3>Campaign Finance</h3>
    <span class="amount">FIXME: amount</span>
    <div  class="interiorMethodology">
        <a class="descriptor" title="More Information" href="#contributionsDescriptor">Information</a>
        <div class="clear"></div>      
        <div class="descriptorText" id='contributionsDescriptor'>
            <p>FIXME: put some descriptive text here.</p>
            <p>For more information, see our <a href="/about/methodology/contributions/">Campaign Finance Methodology</a> page.</p>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="chartModule withNav">
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      {% if not sections.contributions.suppress_contrib_graphs %}
      Brisket.party_twopane_pie("partyTwopanePie", {% if section.party_summary_data %}{{ section.party_summary_data|safe }}{% else %}{}{% endif %});
      Brisket.pol_group_twopane_pie("polGroupTwopanePie", {% if section.pol_group_summary_data %}{{ section.pol_group_summary_data|safe }}{% else %}{}{% endif %});
      Brisket.state_fed_twopane_pie("stateFedTwopanePie", {% if section.state_fed_summary_data %}{{ section.state_fed_summary_data|safe }}{% else %}{}{% endif %});
      {% endif %}

      //$('table#grantsContracts td').multiellipsis(3);
      //$('td.cell-earmark-description .earmark_mainDescription').multiellipsis(3);
      //$('table td.cell-earmark-description').expando(4, '.earmark-requests', 'li.requestedList', 'moreEarmarks');
    });
    </script>
    <span class="tip external">covers through [FIXME: date]</span>
    <div class="threeColumn mainTable">
        <div id="partyTwopanePie" class="twopanePie"></div>
        <div id="polGroupTwopanePie" class="twopanePie"></div>
        <div id="stateFedTwopanePie" class="twopanePie"></div>
    </div>
</div>
