{% load humanize %}
{% load influence_extras %}

<div class="overviewBar withNav withTip">
    <h3>EPA Violations</h3>
    <span class="amount">FIXME: amount</span>
    <div  class="interiorMethodology">
        <a class="descriptor" title="More Information" href="#epa_echoDescriptor">Information</a>
        <div class="clear"></div>      
        <div class="descriptorText" id='epa_echoDescriptor'>
            <p>FIXME: put some descriptive text here.</p>
            <p>For more information, see our <a href="/about/methodology/epa_echo/">EPA Violations Methodology</a> page.</p>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="chartModule withNav">
    <span class="tip external">covers through [FIXME: date]</span>
    
    <div class="threeColumn mainTable">FIXME: section's contents go here.</div>
</div>
