{% load humanize %}
{% load influence_extras %}

<div class="overviewBar withNav withTip">
    <h3>Campaign Finance</h3>
    <span class="amount">${{ contributions_amount|floatformat:0|intcomma }} GIVEN</span>
    <div  class="interiorMethodology">
        <a class="descriptor" title="More Information" href="#contributionsDescriptor">Information</a>
        <div class="clear"></div>      
        <div class="descriptorText" id='contributionsDescriptor'>
            <p>The charts below display contributions to politicians in federal and state races.  For federal races, only political contributions over $200 are included in these totals. This is because the Federal Election Commission only requires campaigns to itemize contributions that are more than $200.  For state races, the threshhold for itemizing each contribution varies by state.</p>
            <p>For more information, see our <a href="/about/methodology/contributions/">Campaign Finance Methodology</a> page.</p>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="chartModule withNav">
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      {% if not sections.contributions.suppress_contrib_graphs %}
      Brisket.in_state_out_of_state_twopane_pie("inStateOutOfStateTwopanePie", {% if section.in_state_out_of_state_summary_data %}{{ section.in_state_out_of_state_summary_data|safe }}{% else %}{}{% endif %});
      Brisket.org_pac_indiv_twopane_pie("orgPacIndivTwopanePie", {% if section.org_pac_indiv_summary_data %}{{ section.org_pac_indiv_summary_data|safe }}{% else %}{}{% endif %});
      {% endif %}

      //$('table#grantsContracts td').multiellipsis(3);
      //$('td.cell-earmark-description .earmark_mainDescription').multiellipsis(3);
      //$('table td.cell-earmark-description').expando(4, '.earmark-requests', 'li.requestedList', 'moreEarmarks');
    });
    </script>
    {% if cycle == "-1" %}
                <span class="tip external">
                    federal data covers from 1989 roughly through Q2 2014
                    <br/>
                    state-level data is not available in bulk for 2014. for current state data, browse http://followthemoney.org/
                </span>
    {% elif cycle == "2014" %}
                <span class="tip external">
                    federal data covers roughly through Q2 2014
                    <br/>
                    state-level data is not available in bulk for 2014. for current state data, browse http://followthemoney.org/
                </span>
    {% endif %}
    <div class="threeColumn mainTable">
       <div class="electionHeader">
          <h4 class="withTip">Recipients of Contributions from In-State and Out-of-State Individuals</h4>
          <!-- span class="tip external">Ranked by total amount contributed</span-->
       </div>
        <div id="inStateOutOfStateTwopanePie" class="twopanePie"></div>
          <span class="explanatory">These charts show how much money for political races come from in the state the race is relevant to versus out of that state. The bar chart shows top political recipients based on in state contributions and out of state contributions. The interactive pie chart can be used to toggle between top in state and out of state recipients.</span>
       <div class="electionHeader">
          <h4 class="withTip">Recipients of Contributions from Individuals, Orgs and Org-Associated Individuals</h4>
          <!-- span class="tip external">Ranked by total amount contributed</span-->
       </div>
        <div id="orgPacIndivTwopanePie" class="twopanePie"></div>
          <span class="explanatory">These charts show how much money each type of contributor (PACs associated with organizations, individuals associated with an organization or unaffiliated individuals) has given to politicians. The bar chart shows top recipients based on the type contributor. The interactive pie chart will show you which politician received the most money from each category of giver.</span>
</div>
