<h3 class="h4 withTip">Your Representatives</h3>
<div id="changeLocation">
    <p class="tip">We've identified your state with our geolocation tools. Is Michigan not your state? <a href="#">Change it now.</a>  
</div>
<div class="reps">
</div>

<script type="text/javascript">
    $(function() {
        var processLegislators = function(congress) {
            $.each(congress.response.legislators, function(num, l) {
                var leg = l.legislator;
                $.getJSON("http://transparencydata.com/api/1.0/entities/id_lookup.json?apikey=" + sunlightApiKey + "&namespace=urn:crp:recipient&id=" + leg.crp_id + "&callback=?", function(crp) {
                    var html = "<ul>"
                        + "<li>"
                        + "<img src='http://assets.sunlightfoundation.com/moc/100x125/" + leg.bioguide_id + ".jpg' />"
                        + "<h4 class='h5 withTip '>" + leg.title + ". " + leg.firstname + " " + leg.middlename + " " + leg.lastname + "</h4>"
                        + "<dl> <dt class='noshow'>State</dt> <dd>" + leg.state + "</dd> <dt class='noshow'>Party</dt> <dd>" + leg.party + "</dd></dl>"
                        + "<div class='clear'></div"
                        + "<a class='moreLink' href='/politician/" + leg.firstname.toLowerCase() + "-" + leg.lastname.toLowerCase() + "/" + crp[0].id + "'>Learn more about this politician &raquo;</a>"
                        + "<div class='clear'></div>"
                        + "</li>"
                        + "</ul>";
                    $("#rtColumn .reps").append(html);
                });
            });
        }
        
        // check for zip code
        var split = window.location.href.split('?')
        if (split.length > 1 && (new RegExp(/(^\d{5}$)|(^\d{5}-\d{4}$)/)).test(split[1])) {
            $.getJSON("http://services.sunlightlabs.com/api/legislators.allForZip.json?zip=" + split[1] + "&apikey=" + sunlightApiKey + "&jsonp=?", processLegislators);
        } else {
            // fetch IP address
            $.getJSON("http://ipinfodb.com/ip_query.php?output=json&timezone=false&callback=?", function(data) {
                $.getJSON("http://services.sunlightlabs.com/api/legislators.allForLatLong.json?latitude=" + data.Latitude + "&longitude=" + data.Longitude + "&apikey=" + sunlightApiKey + "&jsonp=?", processLegislators);
            })
        }
        

    })
</script>
