<h3 class="h4 withTip">Your Representatives</h3>

<div id="changeLocation">
    <p class="tip">We've identified your state with our geolocation tools. Is Michigan not your state? <a href="#">Change it now.</a></p>
    <select id="id_states" name="states">
        <option value="1">State 1</option>
        <option value="2">State 2</option>
        <option value="3">State 3</option>
    </select>
</div>

<div class="reps">
  <ul>
    <li>
      <img src=
      "http://assets.sunlightfoundation.com/moc/100x125/S000148.jpg" />

      <h4 class="h5 withTip">Sen. Charles E. Schumer</h4>

      <dl>
        <dt class="noshow">State</dt>

        <dd>NY</dd>

        <dt class="noshow">Party</dt>

        <dd>D</dd>
      </dl>

      <div class="clear"></div><a class="moreLink" href=
      "/politician/charles-schumer/e708669995e844af90f205003683f2fa">Learn
      more about this politician &raquo;</a>

      <div class="clear"></div>
    </li>
  </ul>

  <ul>
    <li>
      <img src=
      "http://assets.sunlightfoundation.com/moc/100x125/G000555.jpg" />

      <h4 class="h5 withTip">Sen. Kirsten E. Gillibrand</h4>

      <dl>
        <dt class="noshow">State</dt>

        <dd>NY</dd>

        <dt class="noshow">Party</dt>

        <dd>D</dd>
      </dl>

      <div class="clear"></div><a class="moreLink" href=
      "/politician/kirsten-gillibrand/5133536fdc44445695adf6f244ee69c9">Learn
      more about this politician &raquo;</a>

      <div class="clear"></div>
    </li>
  </ul>

  <ul>
    <li>
      <img src=
      "http://assets.sunlightfoundation.com/moc/100x125/T000469.jpg" />

      <h4 class="h5 withTip">Rep. Paul D. Tonko</h4>

      <dl>
        <dt class="noshow">State</dt>

        <dd>NY</dd>

        <dt class="noshow">Party</dt>

        <dd>D</dd>
      </dl>

      <div class="clear"></div><a class="moreLink" href=
      "/politician/paul-tonko/996d2f5d32c640e3be424680d4ce59fb">Learn
      more about this politician &raquo;</a>

      <div class="clear"></div>
    </li>
  </ul>
</div>
