<h2 class="withTip">Your Reps</h2>

<div id="changeLocation">
    <p class="tip">We've identified your state with our geolocation tools. Is Michigan not your state? <a href="#">Change it now.</a></p>
    <select id="id_states" name="states">
        <option value="1">State 1</option>
        <option value="2">State 2</option>
        <option value="3">State 3</option>
    </select>
</div>

<div class="reps">
    <ul>
        <li>
            <h3>Senator</h3>
            <img src="http://assets.sunlightfoundation.com/moc/100x125/S000148.jpg" />
            <div class="politicianDetails">
                <h4 class="h5 withTip"><a href="/politician/charles-schumer/e708669995e844af90f205003683f2fa">Sen. Charles E. Schumer</a> (D)</h4>
                <span>Money Received: $50,188,164</span>
            </div>
            <div class="clear"></div>
        </li>
        <li>
            <h3>Representative</h3>
            <img src="http://assets.sunlightfoundation.com/moc/100x125/G000555.jpg" />
            <div class="politicianDetails">
                <h4 class="h5 withTip"><a href="/politician/kirsten-gillibrand/5133536fdc44445695adf6f244ee69c9">Sen. Kirsten E. Gillibrand</a> (D)</h4>
                <span>Money Received: $50,188,164</span>
            </div>
            <div class="clear"></div>
        </li>
        <li class="last">
            <h3>Governor</h3>
            <img src="http://assets.sunlightfoundation.com/moc/100x125/S000148.jpg" />
            <div class="politicianDetails">
                <h4 class="h5 withTip"><a href="/politician/charles-schumer/e708669995e844af90f205003683f2fa">Sen. Charles E. Schumer</a> (D)</h4>
                <span>Money Received: $50,188,164</span>
            </div>
            <div class="clear"></div>
        </li>
    </ul>
</div>
