<div class="overviewBar"><h3 class="insideBar">Your Representatives</h3></div>

<div class="reps">
</div>

<script type="text/javascript">
    $(function() {
        var processLegislators = function(congress) {
            $.each(congress.response.legislators, function(num, l) {
                var leg = l.legislator;
                $.getJSON("http://transparencydata.com/api/1.0/entities/id_lookup.json?apikey=" + sunlightApiKey + "&namespace=urn:crp:recipient&id=" + leg.crp_id + "&callback=?", function(crp) {
                    var html = "<div class='legislator'>"
                        + "<img src='http://assets.sunlightfoundation.com/moc/100x125/" + leg.bioguide_id + ".jpg' />"
                        + "<h4 class='key'>" + leg.title + ". " + leg.firstname + " " + leg.middlename + " " + leg.lastname + " (" + leg.party + "-" + leg.state + ")</h4>"
                        + "<a href='/politician/" + leg.firstname.toLowerCase() + "-" + leg.lastname.toLowerCase() + "/" + crp[0].id + "'>Learn more about this politician &raquo;</a>"
                        + "<div class='clear'></div>"
                        + "</div>";
                    $(".frontRight .reps").append(html);
                });
            });
        }
        
        // check for zip code
        var split = window.location.href.split('?')
        if (split.length > 1 && (new RegExp(/(^\d{5}$)|(^\d{5}-\d{4}$)/)).test(split[1])) {
            $.getJSON("http://services.sunlightlabs.com/api/legislators.allForZip.json?zip=" + split[1] + "&apikey=" + sunlightApiKey + "&jsonp=?", processLegislators);
        } else {
            // fetch IP address
            $.getJSON("http://ipinfodb.com/ip_query.php?output=json&timezone=false&callback=?", function(data) {
                $.getJSON("http://services.sunlightlabs.com/api/legislators.allForLatLong.json?latitude=" + data.Latitude + "&longitude=" + data.Longitude + "&apikey=" + sunlightApiKey + "&jsonp=?", processLegislators);
            })
        }
        

    })
</script>