<div class="overviewBar"><h3 class="insideBar">In the News</h3></div>

<div class="frontItems">

    
    
        

<div class="chartModule chartTile">
    <h4 class="key">Christine O&#39;Donnell</h4><div class="clear"></div>
    <strong>Top Contributing Industries</strong><br />
    <div id="entity-b5a004a6d65b4c669c95914ee22d09db" style="position: relative;">
    </div>
    <a href="/politician/christine-odonnell/b5a004a6d65b4c669c95914ee22d09db">Learn more about this politician &raquo;</a>
    <div class="clear"></div>
</div>
<script type="text/javascript">
$(function() {
    barchart(
        "entity-b5a004a6d65b4c669c95914ee22d09db",
        [{"value": "54340.00", "key": "Unknown"}, {"value": "32750.00", "key": "Other"}, {"value": "19400.00", "key": "Lawyers and Lobbyists"}, {"value": "16400.00", "key": "Misc. Business"}, {"value": "11250.00", "key": "Finance/Insurance/Real Estate"}] ,
        {chart_width: 100, chart_x: 190}
    );
});
</script>
    
    

    
    
        

<div class="chartModule chartTile">
    <h4 class="key">Barack Obama</h4><div class="clear"></div>
    <strong>Top Contributing Industries</strong><br />
    <div id="entity-4148b26f6f1c437cb50ea9ca4699417a" style="position: relative;">
    </div>
    <a href="/politician/barack-obama/4148b26f6f1c437cb50ea9ca4699417a">Learn more about this politician &raquo;</a>
    <div class="clear"></div>
</div>
<script type="text/javascript">
$(function() {
    barchart(
        "entity-4148b26f6f1c437cb50ea9ca4699417a",
        [{"value": "104851256.00", "key": "Unknown"}, {"value": "83813001.00", "key": "Other"}, {"value": "46227356.00", "key": "Lawyers and Lobbyists"}, {"value": "42231149.00", "key": "Finance/Insurance/Real Estate"}, {"value": "38084725.00", "key": "Misc. Business"}] ,
        {chart_width: 100, chart_x: 190}
    );
});
</script>
    
    

    
    
        

<div class="chartModule chartTile">
    <h4 class="key">Janet Napolitano</h4><div class="clear"></div>
    <strong>Top Contributing Industries</strong><br />
    <div id="entity-bdfd3b74804b4fe5b3766299f40bf34b" style="position: relative;">
    </div>
    <a href="/politician/janet-napolitano/bdfd3b74804b4fe5b3766299f40bf34b">Learn more about this politician &raquo;</a>
    <div class="clear"></div>
</div>
<script type="text/javascript">
$(function() {
    barchart(
        "entity-bdfd3b74804b4fe5b3766299f40bf34b",
        [{"value": "3811963.51", "key": "Administrative"}, {"value": "259463.59", "key": "Lawyers and Lobbyists"}, {"value": "151617.49", "key": "Other"}, {"value": "78089.00", "key": "Finance/Insurance/Real Estate"}, {"value": "71498.42", "key": "Unknown"}] ,
        {chart_width: 100, chart_x: 190}
    );
});
</script>
    
    

    
    
        

<div class="chartModule chartTile">
    <h4 class="key">Sarah Palin</h4><div class="clear"></div>
    <strong>Top Contributing Industries</strong><br />
    <div id="entity-18053a25a5304326a4ea117f4127c159" style="position: relative;">
    </div>
    <a href="/politician/sarah-palin/18053a25a5304326a4ea117f4127c159">Learn more about this politician &raquo;</a>
    <div class="clear"></div>
</div>
<script type="text/javascript">
$(function() {
    barchart(
        "entity-18053a25a5304326a4ea117f4127c159",
        [{"value": "19300.00", "key": "Finance/Insurance/Real Estate"}, {"value": "3350.00", "key": "Unknown"}, {"value": "1000.00", "key": "Lawyers and Lobbyists"}] ,
        {chart_width: 100, chart_x: 190}
    );
});
</script>
    
    

    
    
    
        

<div class="chartModule chartTile">
    <h4 class="key">White House</h4><div class="clear"></div>
    <strong>Contribution Breakdown</strong><br />
    <div id="entity-722947d52206492ba0b4dba6d93087ff" style="position: relative;">
    </div>
    <a href="/organization/white-house/722947d52206492ba0b4dba6d93087ff">Learn more about this organization &raquo;</a>
    <div class="clear"></div>
</div>
<script type="text/javascript">
$(function() {
    piechart(
        "entity-722947d52206492ba0b4dba6d93087ff",
        {"Republicans": 190127.64000000001, "Other": 638.0, "Democrats": 88131.0} ,
        "party"
    );
    $("#entity-722947d52206492ba0b4dba6d93087ff svg").get(0).setAttribute('height', 150);
});
</script>
    

</div>

