{% load influence_extras %}
{% load humanize %}
<div class="chartModule chartTile">
    <h4 class="key">{{ entity.name|standardize_politician_name }}</h4><div class="clear"></div>
    <strong>Top Contributing Industries</strong><br />
    <div id="entity-{{ entity.metadata.id }}" style="position: relative;">
    </div>
    <a class="frontMoreLink" href="/{{ entity.metadata.type }}/{{ entity.metadata.name|standardize_politician_name|slugify }}/{{ entity.metadata.id }}">Learn more about this politician &raquo;</a>
    <div class="clear"></div>
</div>
<script type="text/javascript">
$(function() {
    barchart(
        "entity-{{ entity.metadata.id}}",
        {% if entity.sectors_barchart_data %}{{ entity.sectors_barchart_data|safe }} {% else %}[]{% endif %},
        {chart_width: 100, chart_x: 190}
    );
});
</script>