<div class="overviewBar"><h3 class="insideBar">From the Sunlight Blogs</h3></div>
<div>
<div class="chartModule article">
    <h4 class="key">Top donors to lawmakers fund their official portraits</h4><div class="clear"></div>
    <strong>Nancy Watzman</strong><br />
    <div class="textContent">
         For 24 years, Rep. Bart Gordon, D-Tenn., has represented the sixth district of Tennessee, rising to become the chairman of the House Science Committee. Now he is retiring, but he is planning to leave his likeness behind in the committee room, in the form of an official portrait paid for by corporate donors such as Lockheed Martin, Microsoft, and Northrop Grumman, which are also top contributors to his campaign fund. These companies have contributed a total of $34,000 to the portrait fund.
        <br /><br />Another lawmaker, House Agriculture Chairman Collin Peterson, D-Minn., who is slated for an easy win in the midterms is also raising money for an official portrait, with his top campaign donor, Monsanto, helping finance the cost.
    </div>
</div>
</div>
<div class="frontItems">

    
    
        

<div class="chartModule chartTile">
    <h4 class="key">Bart Gordon</h4><div class="clear"></div>
    <strong>Top Contributing Industries</strong><br />
    <div id="entity-9b2fc46c69b148de8622dfaaab0548f1" style="position: relative;">
    </div>
    <a href="/politician/bart-gordon/9b2fc46c69b148de8622dfaaab0548f1">Learn more about this politician &raquo;</a>
    <div class="clear"></div>
</div>
<script type="text/javascript">
$(function() {
    barchart(
        "entity-9b2fc46c69b148de8622dfaaab0548f1",
        [{"value": "1435100.00", "key": "Labor"}, {"value": "1374901.00", "key": "Finance/Insurance/Real Estate"}, {"value": "1264946.00", "key": "Health"}, {"value": "781990.00", "key": "Communications/Electronics"}, {"value": "601221.00", "key": "Misc. Business"}] ,
        {chart_width: 100, chart_x: 190}
    );
});
</script>
    
    

    
    
        

<div class="chartModule chartTile">
    <h4 class="key">Collin C Peterson</h4><div class="clear"></div>
    <strong>Top Contributing Industries</strong><br />
    <div id="entity-c84099ce5eb64a988f1705b7d052cf61" style="position: relative;">
    </div>
    <a href="/politician/collin-c-peterson/c84099ce5eb64a988f1705b7d052cf61">Learn more about this politician &raquo;</a>
    <div class="clear"></div>
</div>
<script type="text/javascript">
$(function() {
    barchart(
        "entity-c84099ce5eb64a988f1705b7d052cf61",
        [{"value": "1931728.00", "key": "Agribusiness"}, {"value": "1125944.00", "key": "Labor"}, {"value": "674664.00", "key": "Finance/Insurance/Real Estate"}, {"value": "343721.00", "key": "Misc. Business"}, {"value": "259051.00", "key": "Ideology/Single Issue"}] ,
        {chart_width: 100, chart_x: 190}
    );
});
</script>
    
    

</div>
<div class="clear"></div>
