<div class="overviewBar"><h3 class="insideBar">From the Sunlight Blogs</h3></div>
<div>
<div class="chartModule article">
    <h4 class="key">Top donors to lawmakers fund their official portraits</h4><div class="clear"></div>
    <strong>Nancy Watzman</strong><br />
    <div class="textContent">
         For 24 years, Rep. Bart Gordon, D-Tenn., has represented the sixth district of Tennessee, rising to become the chairman of the House Science Committee. Now he is retiring, but he is planning to leave his likeness behind in the committee room, in the form of an official portrait paid for by corporate donors such as Lockheed Martin, Microsoft, and Northrop Grumman, which are also top contributors to his campaign fund. These companies have contributed a total of $34,000 to the portrait fund.
        <br /><br />Another lawmaker, House Agriculture Chairman Collin Peterson, D-Minn., who is slated for an easy win in the midterms is also raising money for an official portrait, with his top campaign donor, Monsanto, helping finance the cost.
    </div>
</div>
</div>
<div class="frontItems">
{% for entity in entities %}
    {% if entity.type = "individual" %}
        {% include "frontpage/individual_tile.html" %}
    {% endif %}
    {% if entity.type = "politician" %}
        {% include "frontpage/politician_tile.html" %}
    {% endif %}
    {% if entity.type = "organization" %}
        {% include "frontpage/organization_tile.html" %}
    {% endif %}
{% endfor %}
</div>
<div class="clear"></div>