<div class="overviewBar"><h3 class="insideBar">Top Searches</h3></div>

<div class="searchCloud">
    
        <a href="/search?query=apple" style="font-size: 1.5999855em;">apple</a>
    
        <a href="/search?query=at&amp;t" style="font-size: 0.9379018em;">at&amp;t</a>
    
        <a href="/search?query=bank of america" style="font-size: 0.9379018em;">bank of america</a>
    
        <a href="/search?query=barack obama" style="font-size: 1.5180417em;">barack obama</a>
    
        <a href="/search?query=best buy" style="font-size: 0.9379018em;">best buy</a>
    
        <a href="/search?query=bill clinton" style="font-size: 1.1258036em;">bill clinton</a>
    
        <a href="/search?query=bill gates" style="font-size: 1.1862945em;">bill gates</a>
    
        <a href="/search?query=boehner" style="font-size: 0.75em;">boehner</a>
    
        <a href="/search?query=boeing" style="font-size: 0.75em;">boeing</a>
    
        <a href="/search?query=bp" style="font-size: 1.6720137em;">bp</a>
    
        <a href="/search?query=bush" style="font-size: 1.1258036em;">bush</a>
    
        <a href="/search?query=christine o&#39;donnell" style="font-size: 1.2357192em;">christine o&#39;donnell</a>
    
        <a href="/search?query=christine odonnell" style="font-size: 0.75em;">christine odonnell</a>
    
        <a href="/search?query=dell" style="font-size: 0.75em;">dell</a>
    
        <a href="/search?query=exxon" style="font-size: 0.9379018em;">exxon</a>
    
        <a href="/search?query=general motors" style="font-size: 0.75em;">general motors</a>
    
        <a href="/search?query=goldman sachs" style="font-size: 1.1258036em;">goldman sachs</a>
    
        <a href="/search?query=google" style="font-size: 1.6978509em;">google</a>
    
        <a href="/search?query=haliburton" style="font-size: 0.75em;">haliburton</a>
    
        <a href="/search?query=halliburton" style="font-size: 0.75em;">halliburton</a>
    
        <a href="/search?query=harry reid" style="font-size: 1.2357192em;">harry reid</a>
    
        <a href="/search?query=ibm" style="font-size: 1.2775071em;">ibm</a>
    
        <a href="/search?query=intel" style="font-size: 0.75em;">intel</a>
    
        <a href="/search?query=john boehner" style="font-size: 1.0478173em;">john boehner</a>
    
        <a href="/search?query=john mccain" style="font-size: 1.2357192em;">john mccain</a>
    
        <a href="/search?query=koch" style="font-size: 1.2357192em;">koch</a>
    
        <a href="/search?query=microsoft" style="font-size: 1.6720137em;">microsoft</a>
    
        <a href="/search?query=monsanto" style="font-size: 1.1258036em;">monsanto</a>
    
        <a href="/search?query=nancy pelosi" style="font-size: 1.2775071em;">nancy pelosi</a>
    
        <a href="/search?query=news corp" style="font-size: 0.75em;">news corp</a>
    
        <a href="/search?query=obama" style="font-size: 1.75em;">obama</a>
    
        <a href="/search?query=palin" style="font-size: 1.2775071em;">palin</a>
    
        <a href="/search?query=reid" style="font-size: 0.75em;">reid</a>
    
        <a href="/search?query=rick perry" style="font-size: 0.75em;">rick perry</a>
    
        <a href="/search?query=ron paul" style="font-size: 1.1862945em;">ron paul</a>
    
        <a href="/search?query=sarah palin" style="font-size: 1.2775071em;">sarah palin</a>
    
        <a href="/search?query=spd" style="font-size: 0.9379018em;">spd</a>
    
        <a href="/search?query=steve jobs" style="font-size: 1.2775071em;">steve jobs</a>
    
        <a href="/search?query=target" style="font-size: 1.5753245em;">target</a>
    
        <a href="/search?query=verizon" style="font-size: 0.75em;">verizon</a>
    
        <a href="/search?query=wal-mart" style="font-size: 0.75em;">wal-mart</a>
    
        <a href="/search?query=walmart" style="font-size: 1.3137055em;">walmart</a>
    
</div>
