<h3 class="h4">Sunlight Stories</h3>
<div class="module">
    <h4 class="h5">Beyond Super PACs: Political groups up electioneering spending as mid-terms approach</h4><div class="clear"></div>
    <span id="author" class="tip">Nancy Watzman</span>
    <p>Outside organizations have so far reported spending more than $18 million to run issue ads mentioning candidates within 30 days of primaries and 60 days of the general election--a 31 percent increase over the last mid-term election cycle. Corporate trade associations, labor unions, environmental groups, proponents of traditional values and even a group that opposes big money in politics have run ads in the run up to November 2, reports from theFederal Election Commission show.</p>
	<p>In the 2006 election cycle, the total organizations reported spending on electioneering communications in a comparable period was $13.7 million, according to theFEC.</p>
    <a href="http://feedproxy.google.com/~r/SunlightFoundationReportingGroup/~3/vrW9eo_J4ZQ/" class="moreLink">Read more &raquo;</a>

    <div class="chartTile">
        <h4 class="key">Joe Sestak</h4><div class="clear"></div>
        <strong>Top Contributing Industries</strong><br />
        <div id="entity-da9f8c9428cc4c9abda3841291ff90cc" style="position: relative;">
        </div>
        <a class="frontMoreLink" href="/politician/joe-sestak/da9f8c9428cc4c9abda3841291ff90cc">Learn more about this politician &raquo;</a>
        <div class="clear"></div>
    </div>

    <script type="text/javascript">
    $(function() {
        barchart(
            "entity-da9f8c9428cc4c9abda3841291ff90cc",
            [{"value": "2675590.00", "key": "Democratic/liberal"}, {"value": "744071.00", "key": "Lawyers/law Firms"}, {"value": "607623.00", "key": "Retired"}, {"value": "559413.00", "key": "Employer Listed/category Unkno..."}, {"value": "363276.00", "key": "Securities & Investment"}] ,
            {chart_width: 100, chart_x: 190}
        );
    });
    </script>
    

    <div class="chartTile">
        <h4 class="key">Blanche Lincoln</h4><div class="clear"></div>
        <strong>Top Contributing Industries</strong><br />
        <div id="entity-b5f229d227ea4433891edb1c2131bcab" style="position: relative;">
        </div>
        <a class="frontMoreLink" href="/politician/blanche-lincoln/b5f229d227ea4433891edb1c2131bcab">Learn more about this politician &raquo;</a>
        <div class="clear"></div>
    </div>
    <script type="text/javascript">
    $(function() {
        barchart(
            "entity-b5f229d227ea4433891edb1c2131bcab",
            [{"value": "1399206.00", "key": "Employer Listed/category Unkno..."}, {"value": "1211381.00", "key": "Lawyers/law Firms"}, {"value": "952845.00", "key": "Health Professionals"}, {"value": "935977.00", "key": "Crop Production & Basic Proces..."}, {"value": "846446.00", "key": "Securities & Investment"}] ,
            {chart_width: 100, chart_x: 190}
        );
    });
    </script>
    
</div>
