
<div class="overviewBar"><h3 class="insideBar">Sunlight Stories</h3></div>
<div>
<div class="chartModule article">
    <h4 class="key">NRCC spends big, flexes power</h4><div class="clear"></div>
    <strong>Nancy Watzman</strong><br /><br />
    <div class="textContent">
         
	The National Republican Congressional Committee reported spending more than $800,000 on one day, Friday Oct. 1, in opposition to 30 Democrats. The NRCC has spent almost $13.7 million in independent expenditures to oppose Democrats so far this election cycle, tops among all groups as of this writing.
        <br /><a href="" class="frontMoreLink">Read more &raquo;</a>
    </div>
</div>
</div>
<div class="frontItems">

<div class="clear"></div>
</div>
<div class="clear"></div>
