<div class="overviewBar"><h3 class="insideBar">In the News</h3></div>

<div class="frontItems">

<div class="chartModule chartTile">
    <h4 class="key">Midterm elections: A voter&#39;s guide to the homestretch</h4><div class="clear"></div>
    <strong>Time.com &mdash; October 4, 2010</strong><br /><br />
    
    <img class='articlePhoto' src="http://d.yimg.com/a/p/ap/20100905/capt.1ef5ad2504ab41cea81046a70d935a68-1ef5ad2504ab41cea81046a70d935a68-0.jpg?x=130&amp;y=86&amp;q=85&amp;sig=y76AhPMNhPx2EZzb6xNfTw--" alt="Midterm elections: A voter&#39;s guide to the homestretch" />
    <div class="textContent">
        With just a month to go before the midterms, we&#39;ve reached the moment when almost everyone who follows the American electoral carnival begins to lose their mind, head and perspective; when every development is an October Surprise in the making; when every twist is the final nail in the coffin of democracy. Here are five suggestions for how to watch the action but still keep calm and stay smart. 
        <br /><a href="http://poligraft.com/SmlN" class="frontMoreLink">Read more &raquo;</a>
        <div class="clear"></div>
        <strong>In this article:</strong>
        <ul class="ita">
            
            <li><img src="http://chart.apis.google.com/chart?cht=ls&amp;chs=40x20&amp;chdlp=r&amp;chco=efcc01&amp;chd=t:0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0" alt="" /> <a href="/politician/bill-clinton-d/75bf028a989d40b082257ea45fa95687">Bill Clinton</a>
            
            <li><img src="http://chart.apis.google.com/chart?cht=ls&amp;chs=40x20&amp;chdlp=r&amp;chco=efcc01&amp;chd=t:0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0" alt="" /> <a href="/politician/barbour-haley/deaded8eec764711af8aa98c814b8d66">Haley Barbour</a>
            
            <li><img src="http://chart.apis.google.com/chart?cht=ls&amp;chs=40x20&amp;chdlp=r&amp;chco=efcc01&amp;chd=t:7,100,6,16,20,33,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0" alt="" /> <a href="/individual/linda-mcmahon/14a1de30baa64ebd8395270959482600">Linda McMahon</a>
            
            <li><img src="http://chart.apis.google.com/chart?cht=ls&amp;chs=40x20&amp;chdlp=r&amp;chco=efcc01&amp;chd=t:0,10,33,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0" alt="" /> <a href="/politician/branstad-terry/6b7dfd5ba14c472fb72129257bf5bbaf">Terry Branstad</a>
            
        </ul>
    </div>
    
    <div class="moreNews">
        <strong>More stories:</strong>
        <ul>
            
                <li><a href="http://poligraft.com/ZvHG">Democrat Feingold runs ad touting health care vote (Time.com &mdash; Oct. 4, 2010)</a>
                    <div class="itaShort">
                        <span class="itaTitle">In this article:</span> <a href="/politician/russ-feingold-d/06385fb16b624ac284b844ed177f7e95">Russ Feingold</a>, <a href="/politician/johnson-ron/0b3289cb3b6742dfa296b4f818f6e25d">Ron Johnson</a>, <a href="/politician/barack-obama-d/4148b26f6f1c437cb50ea9ca4699417a">Barack Obama</a>, <a href="/organization/university-of-wisconsin/6589bedfdcde4358a329ded645aee325">University of Wisconsin</a>, <a href="/organization/oshkosh-corp/075f8fbe40cd42a6bb88c258ba0bb0ef">Oshkosh</a>, <a href="/organization/alliance-to-improve-medicare/b46937221e2948c5bfa1c15037460030">Medicare</a>
                    </div>
                </li>
            
                <li><a href="http://poligraft.com/dfpY">Plains mood: Times good, but incumbents in danger (Time.com &mdash; Oct. 4, 2010)</a>
                    <div class="itaShort">
                        <span class="itaTitle">In this article:</span> <a href="/politician/earl-pomeroy-d/874cfe71927e4a62acc294b5769154f6">Earl Pomeroy</a>, <a href="/politician/barack-obama-d/4148b26f6f1c437cb50ea9ca4699417a">Barack Obama</a>, <a href="/politician/mathern-tim/4c6ec5893b0e4518bd0786b9ddccee7a">Tim Mathern</a>, <a href="/politician/nancy-pelosi-d/85ab2e74589a414495d18cc7a9233981">Nancy Pelosi</a>, <a href="/politician/harry-reid-d/b875d19789ce4c88b276a607202b362c">Harry Reid</a>, <a href="/politician/byron-l-dorgan-d/a29e136fb7244022bed5f1ca59c47fc5">Byron Dorgan</a>, <a href="/politician/stephanie-herseth-d/569f102615ef48e78412b8ba46ea7b57">Stephanie Herseth Sandlin</a>, <a href="/politician/kristi-lynn-noem-r/168ab1953d4f4d30a985f9bd41ccc89a">Kristi Noem</a>, <a href="/organization/nbc-universal/cbef19a33d03494f836c1e7ebdab58ac">NBC</a>
                    </div>
                </li>
            
                <li><a href="http://poligraft.com/N8mS">New high court era: Kagan makes 3 women on bench (Time.com &mdash; Oct. 4, 2010)</a>
                    <div class="itaShort">
                        <span class="itaTitle">In this article:</span> <a href="/individual/elena-kagan/2986f191c4374b5085b63b9411fcac4e">Elena Kagan</a>, <a href="/politician/roberts-john-k/03f662d13975488a8176e05a85450843">John Roberts</a>, <a href="/organization/gulf-states-toyota/732845bfe2fe49e889f73ce7c9be5b95">Toyota</a>
                    </div>
                </li>
            
                <li><a href="http://poligraft.com/CcEp">O&#39;Donnell said China plotting to take over US (Time.com &mdash; Oct. 4, 2010)</a>
                    <div class="itaShort">
                        <span class="itaTitle">In this article:</span> <a href="/politician/christine-o-donnell-r/b5a004a6d65b4c669c95914ee22d09db">Christine O&#39;Donnell</a>, <a href="/politician/jan-ting-r/544a0914a7a148b384f84442fc1a1bcb">Jan Ting</a>, <a href="/politician/tom-carper-d/68dd7ccd3e1141c1a7050627d87cd253">Tom Carper</a>, <a href="/politician/chris-coons-d/a104e0ca25454f99831ef09ea0702aab">Chris Coons</a>
                    </div>
                </li>
            
        </ul>
    </div>
    
    <div class="clear"></div>
</div>

</div>