<h3>Top Page Views</h3>

<div class="topPages">
    <ul>
        <li>
            <span class="rankBar percent100"></span>
            <span class="rankItem"><a href="/politician/scott-ashjian/a93b77602a9b468ea94f5c45c835c207">Scott Ashjian</a></span>
            <span class="results">41 views</span>
        </li>
        <li>
            <span class="rankBar percent88"></span>
            <span class="rankItem"><a href="/politician/marian-jensen/7bac425092904896a13f77e0c2c83782">Marian Jensen</a></span>
            <span class="results">36 views</span>
        </li>
        <li>
            <span class="rankBar percent85"></span>
            <span class="rankItem"><a href="/politician/mae-lovern/95bee8ea8fdd4fcd97218ec3d55ab516">Mae Lovern</a></span>
            <span class="results">35 views</span>
        </li>
        <li>
            <span class="rankBar percent85"></span>
            <span class="rankItem"><a href="/politician/mary-parker/1a7e015dfe6a4865b7739e8cd24b6c05">Mary Parker</a></span>
            <span class="results">35 views</span>
        </li>
        <li>
            <span class="rankBar percent85"></span>
            <span class="rankItem"><a href="/politician/larry-tveit/bc18a8edda5c4a39a5d49cefa8a14be9">Larry Tveit</a></span>
            <span class="results">35 views</span>
        </li>
        <li>
            <span class="rankBar percent85"></span>
            <span class="rankItem"><a href="/politician/mary-boley/e55418afcdb04f7c8ef5fb6c369cc2fd">Mary Boley</a></span>
            <span class="results">35 views</span>
        </li>
        <li>
            <span class="rankBar percent85"></span>
            <span class="rankItem"><a href="/politician/major-l-nolan/c385615b96d5474a9452551c45505052">Major L Nolan</a></span>
            <span class="results">35 views</span>
        </li>
        <li>
            <span class="rankBar percent85"></span>
            <span class="rankItem"><a href="/politician/lyle-j-smith/01414a1c9d834e52a03586d007a9ef01">Lyle J Smith</a></span>
            <span class="results">35 views</span>
        </li>
        <li>
            <span class="rankBar percent85"></span>
            <span class="rankItem"><a href="/politician/jim-asquith/30efe8de940a4bb1abd5ece120c93aa3">Jim Asquith</a></span>
            <span class="results">35 views</span>
        </li>
        <li>
            <span class="rankBar percent85"></span>
            <span class="rankItem"><a href="/politician/matt-miller/261d4b1ba5d74502a8601c21d7325796">Matt Miller</a></span>
            <span class="results">35 views</span>
        </li>
    </ul>
</div>