<h3 class="withTip">In the News</h3>
<p class="tip tipHeight">Check out who's been written up recently and their influence.</p>
<div id="articleContent" class="section">
    <h4 class="h5 withTip"><a href="http://poligraft.com/bPv8">Midterm elections: A voter&#39;s guide to the homestretch</a></h4>
    <div class="articleMetaData tip">
        <span>Time.com</span> &mdash; 
        <span>October 4, 2010</span>
    </div>
    <p>With just a month to go before the midterms, we&#39;ve reached the moment when almost everyone who follows the American electoral carnival begins to lose their mind, head and perspective; when every development is an October Surprise in the making; when every twist is the final nail in the coffin of democracy. Here are five suggestions for how to watch the action but still keep calm and stay smart.</p>
    <a href="http://poligraft.com/bPv8" class="moreLink">Read more &raquo;</a>
</div>
<div class="section inArticle">
    <h5 class="h6">In this article:</h5>
    <ul>
        <li>
            <a href="/politician/bill-clinton-d/75bf028a989d40b082257ea45fa95687">Bill Clinton</a>
        </li>
        <li>
            <a href="/politician/barbour-haley/deaded8eec764711af8aa98c814b8d66">Haley Barbour</a>
        </li>
        <li>
            <a href="/individual/linda-mcmahon/14a1de30baa64ebd8395270959482600">Linda McMahon</a>
        </li>
        <li>
            <a href="/politician/branstad-terry/6b7dfd5ba14c472fb72129257bf5bbaf">Terry Branstad</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div id="moreNews" class="section">
    <h5 class="h6">More stories:</h5>
    <ul>
        <li>
            <strong><a href="http://poligraft.com/q8j4">Democrat Feingold runs ad touting health care vote (Time.com &mdash; Oct. 4, 2010)</a></strong>
            <div class="inArticle_sm">
                <h6>In this article:</h6>
                <ul>
                    <li><a href="/politician/russ-feingold-d/06385fb16b624ac284b844ed177f7e95">Russ Feingold</a>,</li>
                    <li><a href="/politician/johnson-ron/0b3289cb3b6742dfa296b4f818f6e25d">Ron Johnson</a>,</li>
                    <li><a href="/politician/barack-obama-d/4148b26f6f1c437cb50ea9ca4699417a">Barack Obama</a>,</li>
                    <li><a href="/organization/university-of-wisconsin/6589bedfdcde4358a329ded645aee325">University of Wisconsin</a>,</li>
                    <li><a href="/organization/oshkosh-corp/075f8fbe40cd42a6bb88c258ba0bb0ef">Oshkosh</a>,</li>
                    <li><a href="/organization/alliance-to-improve-medicare/b46937221e2948c5bfa1c15037460030">Medicare</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </li>
        <li>
            <strong><a href="http://poligraft.com/LxMs">Plains mood: Times good, but incumbents in danger (Time.com &mdash; Oct. 4, 2010)</a></strong>
            <div class="inArticle_sm">
                <h6>In this article:</h6> 
                <ul>
                    <li><a href="/politician/earl-pomeroy-d/874cfe71927e4a62acc294b5769154f6">Earl Pomeroy</a>,</li>
                    <li><a href="/politician/barack-obama-d/4148b26f6f1c437cb50ea9ca4699417a">Barack Obama</a>,</li>
                    <li><a href="/politician/mathern-tim/4c6ec5893b0e4518bd0786b9ddccee7a">Tim Mathern</a>,</li>
                    <li><a href="/politician/nancy-pelosi-d/85ab2e74589a414495d18cc7a9233981">Nancy Pelosi</a>,</li>
                    <li><a href="/politician/harry-reid-d/b875d19789ce4c88b276a607202b362c">Harry Reid</a>,</li>
                    <li><a href="/politician/byron-l-dorgan-d/a29e136fb7244022bed5f1ca59c47fc5">Byron Dorgan</a>,</li>
                    <li><a href="/politician/stephanie-herseth-d/569f102615ef48e78412b8ba46ea7b57">Stephanie Herseth Sandlin</a>,</li>
                    <li><a href="/politician/kristi-lynn-noem-r/168ab1953d4f4d30a985f9bd41ccc89a">Kristi Noem</a>,</li>
                    <li><a href="/organization/nbc-universal/cbef19a33d03494f836c1e7ebdab58ac">NBC</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </li>
        <li>
            <strong><a href="http://poligraft.com/mBhj">New high court era: Kagan makes 3 women on bench (Time.com &mdash; Oct. 4, 2010)</a></strong>
            <div class="inArticle_sm">
                <h6>In this article:</h6> 
                <ul>
                    <li><a href="/individual/elena-kagan/2986f191c4374b5085b63b9411fcac4e">Elena Kagan</a>,</li> 
                    <li><a href="/politician/roberts-john-k/03f662d13975488a8176e05a85450843">John Roberts</a>,</li>
                    <li><a href="/organization/gulf-states-toyota/732845bfe2fe49e889f73ce7c9be5b95">Toyota</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </li>
        <li>
            <strong><a href="http://poligraft.com/WK5J">O&#39;Donnell said China plotting to take over US (Time.com &mdash; Oct. 4, 2010)</a></strong>
            <div class="inArticle_sm">
                <h6 class="itaTitle">In this article:</h6> 
                <ul>
                    <li><a href="/politician/christine-o-donnell-r/b5a004a6d65b4c669c95914ee22d09db">Christine O&#39;Donnell</a>,</li>
                    <li><a href="/politician/jan-ting-r/544a0914a7a148b384f84442fc1a1bcb">Jan Ting</a>,</li>
                    <li><a href="/politician/tom-carper-d/68dd7ccd3e1141c1a7050627d87cd253">Tom Carper</a>,</li>
                    <li><a href="/politician/chris-coons-d/a104e0ca25454f99831ef09ea0702aab">Chris Coons</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </li>
    </ul>
</div>