<h2 class="withTip">See the Influence Behind the Story</h2>
<p class="tip tipHeight">Check out who's been written up in the news recently and their influence.</p>
<ul id="articleContent">
    <li>
        <h3 class="withTip"><a href="http://poligraft.com/bPv8">Russ Feingold</a></h3>
        <dl>
            <dt class="noshow">Party</dt>
            <dd>Democrat</dd>
        
            <dt class="noshow">State</dt>
            <dd>CA</dd>
        
            <dt class="noshow">Seat</dt>
            <dd>Governor</dd>
        </dl>    
        <div class="clear"></div>
        <div class="tip subsection">
            <span class="listTitle">Article:</span>
            <a href="#">Democrat Feingold runs ad touting health care vote (Time.com — Oct. 4, 2010)</a>
        </div>
        <div class="subsection">
            <span class="lawmakerAmount">Raised $13,960,636</span>
        </div>
        <div class="subsection">
            <span class="listTitle">Top 5 Industries:</span>
            <ul class="floatList">
                <li>
                    <a href="#">Lawyers/Law Firms</a>
                </li>
                <li>
                    <a href="#">Retired</a>
                </li>
                <li>
                    <a href="#">Health Professionals</a>
                </li>
                <li>
                    <a href="#">Education</a>
                </li>
                <li>
                    <a href="#">Pro-Israel</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <a href="#" class="moreLink">Learn more &raquo;</a>
    </li>
    <li>
        <h3 class="withTip"><a href="http://poligraft.com/bPv8">Russ Feingold</a></h3>
        <dl>
            <dt class="noshow">Party</dt>
            <dd>Democrat</dd>
        
            <dt class="noshow">State</dt>
            <dd>CA</dd>
        
            <dt class="noshow">Seat</dt>
            <dd>Governor</dd>
        </dl>    
        <div class="clear"></div>
        <div class="tip subsection">
            <span class="listTitle">Article:</span>
            <a href="#">Democrat Feingold runs ad touting health care vote (Time.com — Oct. 4, 2010)</a>
        </div>
        <div class="subsection">
            <span class="lawmakerAmount">Raised $13,960,636</span>
        </div>
        <div class="subsection">
            <span class="listTitle">Top 5 Industries:</span>
            <ul class="floatList">
                <li>
                    <a href="#">Lawyers/Law Firms</a>
                </li>
                <li>
                    <a href="#">Retired</a>
                </li>
                <li>
                    <a href="#">Health Professionals</a>
                </li>
                <li>
                    <a href="#">Education</a>
                </li>
                <li>
                    <a href="#">Pro-Israel</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <a href="#" class="moreLink">Learn more &raquo;</a>
    </li>
    <li class="last">
        <h3 class="withTip"><a href="http://poligraft.com/bPv8">Russ Feingold</a></h3>
        <dl>
            <dt class="noshow">Party</dt>
            <dd>Democrat</dd>
        
            <dt class="noshow">State</dt>
            <dd>CA</dd>
        
            <dt class="noshow">Seat</dt>
            <dd>Governor</dd>
        </dl>    
        <div class="clear"></div>
        <div class="tip subsection">
            <span class="listTitle">Article:</span>
            <a href="#">Democrat Feingold runs ad touting health care vote (Time.com — Oct. 4, 2010)</a>
        </div>
        <div class="subsection">
            <span class="lawmakerAmount">Raised $13,960,636</span>
        </div>
        <div class="subsection">
            <span class="listTitle">Top 5 Industries:</span>
            <ul class="floatList">
                <li>
                    <a href="#">Lawyers/Law Firms</a>
                </li>
                <li>
                    <a href="#">Retired</a>
                </li>
                <li>
                    <a href="#">Health Professionals</a>
                </li>
                <li>
                    <a href="#">Education</a>
                </li>
                <li>
                    <a href="#">Pro-Israel</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <a href="#" class="moreLink">Learn more &raquo;</a>
    </li>
</ul>
