<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load media %}
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}Transparency Data{% endblock %}</title>

		<!-- icons --> 
	    <link rel="shortcut icon" href="http://assets.transparencydata.org.s3.amazonaws.com/1.0/images/favicon.ico" type="image/x-icon"> 
	    <link rel="icon" href="http://assets.transparencydata.org.s3.amazonaws.com/1.0/images/favicon.ico" type="image/x-icon">
				
		<!-- stylesheets -->
        {% css "css/ui-lightness/jquery-ui-1.7.2.custom.css" %}
        {% css "css/jquery.autocomplete.css" %}
        {% css "css/main.css" %}
        <!--[if IE 6]>{% css "css/buggy.css" %}<![endif]-->
        <!--[if IE 7]>{% css "css/buggy7.css" %}<![endif]-->

		<!-- scripts -->
        {% js "js/jquery-1.3.2.min.js" %}
        {% js "js/jquery-ui-1.7.2.custom.min.js" %}
        {% comment %}{% js "js/jquery.autocomplete.custom.js" %}{% endcomment %}
        {% js "js/jquery.currency.js" %}
        {% js "js/underscore-min.js" %}
		<script src="http://services.sunlightlabs.com/brandingbar/hat_js/transparencydata/" type="text/javascript"></script> 
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <div id="headerWrapper">
            <div id="headerContainer">
                <div id="pageMain">
                    <div id="header">
                        <h1><a href="{% url index %}">Transparency Data</a></h1>
                        <div class="clear"></div>
                        <div id="nav">
                            <ul>
                                <li id="nav_bulk"><a href="{% url bulk_index %}">Bulk Downloads</a></li>
                                <li id="nav_docs"><a href="{% url doc_index %}">Documentation</a></li>
                                <li id="nav_api"><a href="{% url api_index %}">API</a></li>
                                {% if user.is_authenticated %}
                                    <li id="nav_logout"><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    
                    <div id="columnWrapper">
                        {% block content_container %}
                            <div id="leftColumn">
                                {% block sidebar %}{% endblock %}
                            </div>
                            <div id="rightColumn">
                                {% block content %}{% endblock %}
                                <div class="clear"></div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% js "transparencydata.js" %}
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-1265484-52");
				pageTracker._setDomainName(".transparencydata.com");
				pageTracker._trackPageview();
			} catch(err) {}</script>
        <script type="text/javascript" src="http://use.typekit.com/plg0bms.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </body>
</html>