    <div id="dataTabs">
        <ul>
            <li id="contributionsTab"><a href="/contributions/" class="contributions">Campaign Contribs</a></li>
            <li id="earmarksTab"><a href="/earmarks/" class="earmarks">Earmarks</a></li>
            <li id="lobbyingTab"><a href="/lobbying/" class="lobbying">Lobbying</a></li>
            <li id="grantsTab"><a href="/grants/" class="grants">Grants</a></li>
            <li id="contractsTab"><a href="/contracts/" class="contracts">Contracts</a></li>
            <li id="contractorMisconductTab"><a href="/contractor_misconduct/" class="contractorMisconduct">Contractor Misconduct</a></li>
            <li id="epaEchoTab"><a href="/epa_echo/" class="epaEcho">EPA</a></li>
            <li id="facaTab"><a href="/faca/" class="faca">FACA</a></li>
            <li id="bundlingTab"><a href="/contributions/bundled/" class="bundling">Bundled Contribs</a></li>
        </ul>
    </div>
