{% extends "base.html" %}

{% block bodyclass %}filteredSearch{% endblock %}

{% block content_container %}
	<div id="dataTabs">
		<ul>
			<li id="contribution"><a href="#" class="activeTab">Contribution Data</a></li>
			<li id="lobbying"><a href="#" class="inactiveTab">Lobbying Data</a></li>
			<li id="contracting"><a href="#" class="inactiveTab">Contracting Data</a></li>
		</ul>
	</div>
	<div class="clear"></div>
	{{ block.super }}
{% endblock %}

{% block sidebar %}
	
	<div id="datafilter" class="module">
		<h2>Search Contribution Data for</h2>
		<span class="helper">Add additional fields to refine your search.</span>
		<form>
			<select id="filterselect">
				<option value="">Select a filter to add...</option>
		    </select>
			<ul id="filters"></ul>
		</form>
	</div>
    
{% endblock %}

{% block content %}
	<div class="module tableButtons">
	    <a id="previewData" href="#">Preview Data</a>
	    <a id="downloadData" href="#">Download </a>
    </div>
{% endblock %}