{% extends "filter.html" %}
{% load media %}

{% block bodyid %}grants{% endblock %}

{% block sidebar %}
	<div id="datafilter" class="module datafilter">
		<h2>Search Federal Grants for</h2>
		<span class="helper">Add additional fields to refine your search.</span>
		<form>
			<select id="filterselect">
				<option value="">Select a filter to add...</option>
		    </select>
			<ul id="filters"></ul>
		</form>
	</div>
{% endblock %}

{% block content %}
	{{ block.super }}
    <div class="module">
	    <div id="tableScroll">
	        <p>Displaying <span id="previewCount"></span> of <span id="recordCount"></span> records</p>
            <table id="mainTable">
            	<thead>
            		<tr id="titles">
                   		<th>Fiscal Year</th>
                   		<th>Total Amount</th>
                   		<th>Recipient</th>
                   		<th>Program</th>
                   		<th>Agency</th>
                   	</tr>
                </thead>
                <tbody></tbody>
            </table>
            <!--
            <div class="paginator">
            	<span>Page</span>
            	<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
			</div>
			-->
		</div>
		<div id="nodata">No grants match your filter criteria.</div>
		<div id="loading">Loading a few records to preview your filter...</div>
		<div id="downloading" class="dialog">
			<p>
				Complex queries may take a few minutes to process.
				You may close this dialog once your download completes.
			</p>
		</div>
		<div id="suggestbulk" class="dialog">
			<p>Your selected filters will return a very large amount of data. We appreciate your zeal for transparency, but our database can't handle the load. Please add additional filters or see our <a href="/bulk/">bulk download</a> page.</p>
		</div>
		<div class="license">
			<p>All data licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons BY-NC-SA</a> license with attribution to <a href="http://fedspending.gov">FedSpending.gov</a>.</p>
			<p>By downloading data, you are agreeing to the terms of the license.</p>
		</div>
        <div class="clear"></div>
	</div>
    {% js "grants.js" %}
	<script type="text/javascript">
		$().ready(function() {
			TD.GrantsFilter.bindDataFilter('#datafilter');
			TD.GrantsFilter.bindPreview('#previewButton');
			TD.GrantsFilter.bindDownload('#downloadButton');
		    TD.GrantsFilter.init();
			
		    TD.activeFilter = TD.GrantsFilter;
		
			TD.init();
		});
	</script>
{% endblock %}