{% extends "filter.html" %}
{% load media %}

{% block bodyid %}earmarks{% endblock %}
{% block dataset_name %}Earmarks{% endblock %}

{% block table_header %}
	<th>Fiscal Year</th>
	<th>Final Amount</th>
	<th>Location</th>
	<th>Description</th>
	<th>Requesting Members</th>
{% endblock %}

{% block dataset_license %}
	<p>To do: figure out license terms for earmark data.</p>
	<p>By downloading data, you are agreeing to the terms of the license.</p>
{% endblock %}

{% block dataset_scripts %}
    {% js "earmarks.js" %}
	<script type="text/javascript">
		$().ready(function() {
			TD.EarmarksFilter.bindDataFilter('#datafilter');
			TD.EarmarksFilter.bindPreview('#previewButton');
			TD.EarmarksFilter.bindDownload('#downloadButton');
		    TD.EarmarksFilter.init();
			
		    TD.activeFilter = TD.EarmarksFilter;
		
			TD.init();
		});
	</script>
{% endblock %}
