{% extends "filter.html" %}
{% load media %}

{% block bodyid %}contributions{% endblock %}

{% block sidebar %}
    <div id="datafilter" class="module datafilter">
        <h2>Search Contributions for</h2>
        <span class="helper">Add additional fields to refine your search.</span>
        <form>
            <select id="filterselect">
                <option value="">Select a filter to add...</option>
            </select>
            <ul id="filters"></ul>
        </form>
    </div>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="module">
        <div id="tableScroll">
            <p>Displaying <span id="previewCount"></span> of <span id="recordCount"></span> records</p>
            <table id="mainTable">
                <thead>
                    <tr id="titles">
                           <th>Type</th>
                           <th>Date</th>
                           <th>Amount</th>
                           <th>Contributor</th>
                           <th>Location</th>
                           <th>Organization</th>
                           <th>Recipient</th>
                       </tr>
                </thead>
                <tbody></tbody>
            </table>
            <!--
            <div class="paginator">
                <span>Page</span>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
            </div>
            -->
        </div>
        <div id="nodata">No contributions match your filter criteria.</div>
        <div id="loading">Loading a few records to preview your filter...</div>
        <div id="downloading" class="dialog">
            <p>
                Complex queries may take a few minutes to process.
                You may close this dialog once your download completes.
            </p>
        </div>
        <div id="suggestbulk" class="dialog">
            <p>Your selected filters will return a very large amount of data. We appreciate your zeal for transparency, but our database can't handle the load. Please add additional filters or see our <a href="/bulk/">bulk download</a> page.</p>
        </div>
        <div class="license">
            <p>Data returned by this service is subject to the <a href="http://www.fec.gov/pages/brochures/sale_and_use_brochure.pdf">use restrictions set by the Federal Election Commission</a>. By accessing this data, you understand that you are using the data subject to all applicable local, state and federal law, including FEC restrictions.</p>
            <p>All data licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons BY-NC-SA</a> license. By downloading data, you are agreeing to the terms of the license.</p>
            <p>Federal records must be attributed to <a href="http://opensecrets.org">OpenSecrets.org</a>.</p>
            <p>State records must be attributed to <a href="http://followthemoney.org">FollowTheMoney.org</a>.</p>
        </div>
        <div class="clear"></div>
    </div>
    {% js "contributions.js" %}
    <script type="text/javascript">
        $().ready(function() {
            TD.ContributionFilter.bindDataFilter('#datafilter');
            TD.ContributionFilter.bindPreview('#previewButton');
            TD.ContributionFilter.bindDownload('#downloadButton');
            TD.ContributionFilter.init();

            TD.activeFilter = TD.ContributionFilter;

            TD.init();
        });
    </script>
{% endblock %}
