{% extends "base.html" %}

{% block bodyclass %}filteredSearch{% endblock %}

{% block content_container %}
	<div id="dataTabs">
		<ul>
			<li id="contributionsTab"><a href="/contributions/">Campaign Contributions</a></li>
			<li id="lobbyingTab"><a href="/lobbying/">Federal Lobbying</a></li>
			<li id="grantsTab"><a href="/grants/">Federal Grants</a></li>
			<li id="contractingTab"><a href="#">Federal Contracting</a></li>
		</ul>
	</div>
	<div class="clear"></div>
	{{ block.super }}
{% endblock %}

{% block content %}
	<div class="module tableButtons">
	    <a id="previewButton" href="#" class="previewButton">Preview Data</a>
	    <a id="downloadButton" href="#" class="downloadButton">Download </a>
    </div>
{% endblock %}