{% extends "base.html" %}
{% load media %}

{% block sidebar %}
	<h4>Welcome</h4> 
	<h2>to Transparency Data</h2>
	<p id="intro">
	    Transparency Data is a central source for all <b>federal and state campaign contributions</b> made in the last twenty years.
	    Here you can begin your search, find the information you need and then download records of what a <b>candidate</b> has received, what an <b>individual</b> has given, and how much <b>companies and their employees</b> have given.
	</p>
{% endblock %}

{% block content %}
    <div class="introbox">
		<h4>Get Your Search Started</h4>
		<div id="leftIntro">
			<p class="introText">Have a specific committee, recipient or date in mind? Add some filters below to search them</p>
			<h3>Search for</h3>
			<div id="datafilter">
				<form>
					<select id="filterselect">
						<option value="">Select a field to search...</option>
					</select>
					<ul id="filters"></ul> <!-- end filters -->
				</form>
			</div>
		</div>
		<div id="rightIntro">
			<span class="introText">Once you're done adding filters press the button below to view the sorted data.</span>
			<a id="previewData" href="#">Preview Data</a>
		</div> <!-- end rightIntro -->
	</div> <!-- end introbox -->
{% endblock %}