{% extends "base.html" %}
{% load humanize %}
{% load influence_extras %}

{% block pagetitle %}
    Error |
{% endblock %}

{% block body_class %}error{% endblock %}

{% block main %}
    <div id="contentHeader">
        <h2>Error</h2>
    </div>
    <div id="ltColumn">
        <p>We're sorry, but a problem has occurred with Influence Explorer.  Some things you might like to try include:</p>
        <ul>
            <li><a href="javascript:window.location.reload(true);">Refreshing the page</a></li>
            <li>Returning to the <a href="/">home page</a></li>
            <li><a href="/contact/">Contacting us</a> to let us know about the problem</li>
        </ul>
    </div>
{% endblock %}