{% extends "dryrub/base.html" %}

{% block body_class %}about flatText{% endblock %}

{% block main %}

<div id="contentHeader">
    <h2>About Influence Explorer</h2>
</div>

<div id="ltColumn">
	<h3>About Us</h3>

	<p>Influence Explorer is a project of <a href="http://sunlightlabs.com/">Sunlight Labs</a>, the technology arm of the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a>. </p>
	
	<h3>Our Data</h3>
	
	<p>Our data is provided by the <a href="http://www.opensecrets.org/">Center for Responsive Politics</a>, the <a href="http://www.followthemoney.org/">National Institute for Money in State Politics</a>, <a href="http://taxpayer.net">Taxpayers for Common Sense</a>, the <a href="http://www.pogo.org">Project On Government Oversight</a>, the <a href="http://www.epa-echo.gov/echo/">EPA</a> and <a href="http://www.usaspending.gov/">USASpending.gov</a>. </p>
	
	<p>For more information on how we use this data, see our <a href="/about/methodology/campaign_finance">campaign finance</a>, <a href="/about/methodology/lobbying">lobbying</a>, <a href="/about/methodology/lobbyist_bundling">lobbyist bundling</a>, <a href="/about/methodology/earmarks/">earmarks</a>, <a href="/about/methodology/fed_spending">federal spending</a> and <a href="/about/methodology/echo"> EPA ECHO</a> methodology pages.</p>
	
	<p>Influence Explorer provides an overview of campaign finance, lobbying, earmark, contractor misconduct and federal spending data. To search the underlying records or download the data in bulk, visit <a href="http://data.influenceexplorer.com">the Data section of Influence Explorer</a>. To see when each data source was last updated, see the <a href="http://data.influenceexplorer.com/docs/changelog/">data changelog</a>.</p>
	
	<h3>Developers</h3>
	
	<p>Influence Explorer is built entirely on the public Influence Explorer API. For more information see the <a href="http://data.influenceexplorer.com/api/">API docs</a> or the <a href="http://readthedocs.org/docs/python-transparencydata/en/latest/">Python docs</a>.</p>
	
	<h3>Contact Us</h3>
	
	<p>For questions or comments, please use the Feedback widget on the side of the page.</p>
		
</div>

{% endblock %}
