{% extends "brisket_base.html" %}

{% block body_class %}about flatText{% endblock %}

{% block main %}

<div id="contentHeader">
    <h2>About Influence Explorer</h2>
</div>

<div id="ltColumn">
	<h3>About Us</h3>

	<p>Influence Explorer is a project of Sunlight Labs, the technology arm of the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a>. </p>

	<h3>Our Data</h3>

        <p>All of the data found on Influence Explorer is collected and parsed by the Sunlight Foundation for realtime consumption. Our goal is to make this data available and searchable with a little delay as possible, offering users the opportunity to track disclosures as they become available. The necessary compromise, however, is that there is much less human curation of this data: we take a light-touch approach to automating data cleaning and reconciliation, but make no guarantees as to the absolute accuracy of the real-time streams. This is the first draft of the history of influence. For the final word, please see our historical data offerings, which have been processed by other organizations.</p>
        <p>
            <a href="http://realtime.influenceexplorer.com/">Real-time Federal Campaign Finance</a>
            (<a href="http://realtime.influenceexplorer.com/about/">Methodology</a>)
        </p>
        <p>
            <a href="http://lobbying.influenceexplorer.com/lobbying/registrations/">Real-time Federal Lobbying Registrations</a>
            (<a href="/about/methodology/realtime-lobbying/registrations/">Methodology</a>)
        </p>
        <p>
            <a href="http://lobbying.influenceexplorer.com/post-employment/">Real-time Post-employment Notices</a>
            (<a href="/about/methodology/realtime-lobbying/post-employment/">Methodology</a>)
        </p>
        <p>
            <a href="http://foreign.influenceexplorer.com/">Real-time Foreign Lobbying (FARA)</a>
            (<a href="http://foreign.influenceexplorer.com/about/">Methodology</a>)
        </p>

	<h3>Contact Us</h3>

	<p>For questions or comments, please use the Feedback widget on the side of the page.</p>

</div>

{% endblock %}
