{% extends "brisket_base.html" %}

{% block body_class %}about flatText{% endblock %}

{% block main %}

<div id="contentHeader">
    <h2>About Influence Explorer</h2>
</div>

<div id="ltColumn">
	<h3>About Us</h3>

	<p>Influence Explorer is a project of <a href="http://sunlightlabs.com/">Sunlight Labs</a>, the technology arm of the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a>. </p>
	
	<h3>Our Data</h3>
	
        <h4>Real-time Data</h4>

        <p>All of the data found on Influence Explorer is collected and parsed by the Sunlight Foundation for realtime consumption. Our goal is to make this data available and searchable with a little delay as possible, offering users the opportunity to track disclosures as they become available. The necessary compromise, however, is that there is much less human curation of this data: we take a light-touch approach to automating data cleaning and reconciliation, but make no guarantees as to the absolute accuracy of the real-time streams. This is the first draft of the history of influence. For the final word, please see our historical data offerings, which have been processed by other organizations.</p>
        <p>
            <a href="http://realtime.influenceexplorer.com/">Real-time Federal Campaign Finance</a>
            (<a href="http://realtime.influenceexplorer.com/about/">Methodology</a>)
        </p>
        <p>
            <a href="http://lobbying.influenceexplorer.com/lobbying/registrations/">Real-time Federal Lobbying Registrations</a> 
            (<a href="/about/methodology/realtime-lobbying/registrations/">Methodology</a>) 
        </p>
        <p>
            <a href="http://lobbying.influenceexplorer.com/post-employment/">Real-time Post-employment Notices</a>
            (<a href="/about/methodology/realtime-lobbying/post-employment/">Methodology</a>) 
        </p>
        <p>
            <a href="http://foreign.influenceexplorer.com/">Real-time Foreign Lobbying (FARA)</a>
            (<a href="http://foreign.influenceexplorer.com/about/">Methodology</a>) 
        </p>

        <h4>Historical Data</h4>

        <p><b>Note: Historical data collected through Q2 2015 will remain available for download, but will not be updated in the future. Please follow the links below to original sources of this data for future updates.</b></p>

        <p>Influence Explorer's historical data is still available for bulk download, but is no longer available through person and organization profile pages. </p>

	<p>Our historical data was provided by the <a href="http://www.opensecrets.org/">Center for Responsive Politics</a>, the <a href="http://www.followthemoney.org/">National Institute on Money in State Politics</a>, <a href="http://taxpayer.net">Taxpayers for Common Sense</a>, the <a href="http://www.pogo.org">Project On Government Oversight</a>, the <a href="http://www.epa-echo.gov/echo/">EPA</a> and <a href="http://www.usaspending.gov/">USASpending.gov</a>. </p>
	
	<p>For more information on how we use this data, see our <a href="/about/methodology/campaign_finance">campaign finance</a>, <a href="/about/methodology/lobbying">lobbying</a>, <a href="/about/methodology/lobbyist_bundling">lobbyist bundling</a>, <a href="/about/methodology/earmarks/">earmarks</a>, <a href="/about/methodology/fed_spending">federal spending</a> and <a href="/about/methodology/echo"> EPA ECHO</a> methodology pages.</p>
	
	<p>Influence Explorer provides an overview of campaign finance, lobbying, earmark, contractor misconduct and federal spending data. To search the underlying records or download the data in bulk, visit <a href="http://data.influenceexplorer.com">the Data section of Influence Explorer</a>. To see when each data source was last updated, see the <a href="http://data.influenceexplorer.com/docs/changelog/">data changelog</a>.</p>
	
	<h3>Developers</h3>
	
	<p>Influence Explorer is built entirely on the public Influence Explorer API. For more information see the <a href="http://data.influenceexplorer.com/api/">API docs</a> or the <a href="http://readthedocs.org/docs/python-transparencydata/en/latest/">Python docs</a>.</p>
	
	<h3>Contact Us</h3>
	
	<p>For questions or comments, please use the Feedback widget on the side of the page.</p>
		
</div>

{% endblock %}
