<!doctype html>
{% load media %}
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title>{% block pagetitle %}{% endblock %}Influence Explorer{% block pagetopics %}{% endblock %}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="campaign contributions, sunlight foundation, influence explorer, politics, government, influence" />
        <meta name="description" content="{% block metadesc %}Influence Explorer is the central source for information on money and influence in politics. From here you can explore who the big donors to a politician are, how companies and whole industries spend their political money, and who politically connected individuals have given money to.{% endblock %}" />
	
        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	
        <link rel="icon" href="{% media_url %}/images/favicon.ico" type="image/x-icon">
        <link rel="canonical" rel="{% block canonicalurl %}{{ request.path }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}{% endblock %}" />

        {% css "css/main.css" %}
        <!--[if IE 6]>{% css "css/buggy.css" %}<![endif]-->
        <!--[if IE 7]>{% css "css/buggy7.css" %}<![endif]-->
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% js "js/jquery-1.4.2.min.js" %}
	    {% js "js/raphael-min.js" %}
        {% js "js/jquery-placehold.min.js" %}
        
        {% block js %}{% endblock %}
	    {% block og %}
    	    <meta name="og:title" content="Influence Explorer">
    	    <meta name="og:description" content="Influence Explorer connects the dots of political contributions on the federal and state level allowing you to track influence by lawmaker, company or prominent individual.">
    	    <meta name="og:type" content="cause">
    	    <meta name="og:image" content="http://s3.amazonaws.com/assets.sunlightfoundation.com/brisket/1.0/images/projects_icon_influencexplorer.png">
    	    <meta name="og:url" content="http://influenceexplorer.com{{ request.path }}">
    	    <meta name="og:site_name" content="Influence Explorer">
    	    <meta name="fb:admins" content="7812952,5308565">
	    {% endblock %}
        <script type="text/javascript" src="http://use.typekit.com/rum2sap.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	    <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-1265484-62']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <div id="wrapper">
            <div id="pageMain">
                <header>
                    {% block search %}
                    {% endblock %}
                    <h1><a id="logo" href="{{ IE_BASE_URL }}">Influence Explorer</a></h1>
                    <!-- <ul class="clear" id="socialIcons">
                        <li id="facebookIcon"><a href="#">facebook</a></li>
                        <li id="twitterIcon"><a href="#">twitter</a></li>
                    </ul> -->
                    <!-- AddThis Button BEGIN -->
                    <div id="socialIcons" class="clear addthis_toolbox addthis_default_style ">
                        <a class="addthis_button_facebook"></a>
                        <a class="addthis_button_twitter"></a>
                    </div>
                    <script type="text/javascript">var addthis_share = {templates: {twitter: 'Check out {% templatetag openvariable %}title{% templatetag closevariable %}: {% templatetag openvariable %}url{% templatetag closevariable %} from @SunFoundation'}}</script>
                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=sunlightfoundation"></script>
                    <!-- AddThis Button END -->
                    <nav class="clear">
                        <ul>
                            <li id="people"><a href="{{ IE_BASE_URL }}people">People</a></li>
                            <li id="orgs"><a href="{{ IE_BASE_URL }}organizations">Organizations</a></li>
                            <li id="politicians"><a href="{{ IE_BASE_URL }}politicians">Politicians</a></li>
	                        <li id="industries"><a href="{{ IE_BASE_URL }}industries">Industries</a></li>
	                        <li id="data"><a href="{{ DATA_BASE_URL }}">Data</a></li>
                        </ul>
                    </nav>
                </header>
                <div id="mainContent_top"></div>

                <div id="mainContent">
                  {% block main %}
                  {% endblock %}
                  <div class="clear"></div>
                </div>
                
                <div id="mainContent_bottom"></div>

            </div> <!-- end pageMain -->

            <footer>
                <div id="footerLinks">
                    <nav>
                        <ul>
                            <li id="aboutLink"><a href="{{ IE_BASE_URL }}about/">About</a></li>
                            <li><a href="{{ IE_BASE_URL }}contact/">Contact</a></li>
                        </ul>
                    </nav>
                    <div id="sunlightRequests">
                        <span id="badgeHeader">A Product of the Sunlight Foundation</span>
                        <div id="requestsContent">
                            <h4 class="withTip">Like this Project and Want to Discover Others Like It?</h4>
                            <p class="tip">Join the Sunlight Foundation's open government community to learn more.</p>
                        </div>
                        <form id="signupForm" action="" method="post">
                            <ul>
                              <li>
                                <label>Email</label>
                                <input id="id_email" type="text" placeholder="Your email address" name="email"/>
                              </li>
                              <li>
                                <label>Zip Code</label>
                                <input id="id_zip" type="text" placeholder="Your zip code" name="zipcode"/>
                              </li>
                              <li>
                                <button class="signupBtn" type="submit">
                                  <span>Sign Up</span>
                                </button>
                              </li>
                            </ul>
                            <div class="clear"></div>
                        </form>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="bottomFooter">
                    <ul id="footerPolicy">
                        <li><a class="logo" id="sunlightFoundation" href="http://www.sunlightfoundation.com">Sunlight Foundation</a></li>
                        <li><a class="logo" id="openSecrets" href="http://www.opensecrets.org/">Open Secrets</a></li>
                        <li><a class="logo" id="followthemoney" href="http://www.followthemoney.org/">National Institute on Money in State Politics</a></li>
                        <li><a class="logo" id="pogo" href="http://www.pogo.org/">Project on Government Oversight</a></li>
                    </ul>
                    <p id="description" class="clear">Founded in 2006, the Sunlight Foundation is a non-partisan non-profit that uses cutting-edge technology and ideas to make government transparent and accountable. Visit <a href="http://www.sunlightfoundation.com">SunlightFoundation.com</a> to learn more.</p>
                </div>
            </footer>

        </div>
    
    	<img height="1" border="0" width="1" alt="" src="http://ad.doubleclick.net/activity;src=1379696;dcnet=4155;boom=41134;sz=1x1;ord=1?" />
        {% js "js/brisket-all.js" %}
	
    	{% block gsfn %}
        <script type="text/javascript" charset="utf-8">
          var is_ssl = ("https:" == document.location.protocol);
          var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
          document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
        </script>

        <script type="text/javascript" charset="utf-8">
          var feedback_widget_options = {};

          feedback_widget_options.display = "overlay";  
          feedback_widget_options.company = "sunlightfoundation";
          feedback_widget_options.placement = "right";
          feedback_widget_options.color = "#222";
          feedback_widget_options.style = "question";

          var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
        </script>
    	{% endblock %}
	
    	<script type="text/javascript">
            var _sf_async_config={uid:980,domain:"influenceexplorer.com"};
            (function(){
              function loadChartbeat() {
                window._sf_endpt=(new Date()).getTime();
                var e = document.createElement('script');
                e.setAttribute('language', 'javascript');
                e.setAttribute('type', 'text/javascript');
                e.setAttribute('src',
                   (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") +
                   "static.chartbeat.com/js/chartbeat.js");
                document.body.appendChild(e);
              }
              var oldonload = window.onload;
              window.onload = (typeof window.onload != 'function') ?
                 loadChartbeat : function() { oldonload(); loadChartbeat(); };
            })();
        </script>
    	<!-- Quantcast Tag -->
    	<script type="text/javascript">
    	var _qevents = _qevents || [];
	
    	(function() {
    	var elem = document.createElement('script');
    	elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    	elem.async = true;
    	elem.type = "text/javascript";
    	var scpt = document.getElementsByTagName('script')[0];
    	scpt.parentNode.insertBefore(elem, scpt);
    	})();
	
    	_qevents.push({
    	qacct:"p-c3mmNWXstPmj6"
    	});
    	</script>
	
    	<noscript>
    	<div style="display:none;">
    	<img src="//pixel.quantserve.com/pixel/p-c3mmNWXstPmj6.gif" border="0" height="1" width="1" alt="Quantcast"/>
    	</div>
    	</noscript>
    	<!-- End Quantcast tag -->
    </body>
</html>
