<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load media %}
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

	<link rel="icon" href="{% media_url %}/images/favicon.ico" type="image/x-icon">

    {% css "css/main.css" %}
    <!--[if IE 6]>{% css "css/buggy.css" %}<![endif]-->
    {% js "js/jquery-1.4.2.min.js" %}

    {% block js %}{% endblock %}
    <script type="text/javascript" src="http://use.typekit.com/rum2sap.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <title>Influence Explorer{% block pagetitle %}{% endblock %}</title>
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <div id="wrapper">

      <div id="pageMain">

        <div id="header">
          <h1><a id="logo" href="/">Influence Explorer</a></h1>
      {% block search %}
      {% endblock %}
          <div class="clear" id="nav">
            <ul>
              <li id="people"><a href="/people">People</a></li>
              <li id="orgs"><a href="/organizations">Organizations</a></li>
              <li id="politicians"><a href="/politicians">Politicians</a></li>
            </ul>
          </div>    <!-- end nav -->
        </div><!-- end header -->

    <div id="mainContent_top">
    </div>

    <div id="mainContent">
      {% block main %}
      {% endblock %}
    </div>

    <div id="mainContent_bottom">
        </div>

      </div> <!-- end pageMain -->

    <div id="footer">
      <div id="footerLinks">
        <a id="aboutLink" href="/about/">About</a>
        <a href="/contact/">Contact</a>
      </div>
      <div id="footerPolicy">
        <a class="logo" id="sunlightFoundation" href="http://www.sunlightfoundation.com">Sunlight Foundation</a>
        <a class="logo" id="openSecrets" href="http://www.opensecrets.org/">Open Secrets</a>
        <a class="logo" id="followthemoney" href="http://www.followthemoney.org/">National Institute on Money in State Politics</a>
        <p>Founded in 2006, the Sunlight Foundation is a non-partisan non-profit that uses cutting-edge technology and ideas to make government transparent and accountable. Visit <a href="http://www.sunlightfoundation.com">SunlightFoundation.com</a> to learn more.</p>
        <div class="clear"></div>
      </div> <!-- end footerPolicy -->
    </div><!-- end footer -->

    </div><!-- end pageMain -->
    {% js "js/brisket-all.js" %}
  </body>
</html>
