{% extends "search_base.html" %}

{% block body_class %}about flatText{% endblock %}

{% block main %}

<div id="contentHeader">
    <h2>Check Your Influence</h2>
</div>

<div id="ltColumn">
    <p>When you shop, do you wonder where your money <em>really</em> goes?</p> 
    <p> 
    Checking Influence is a new tool from the Sunlight Foundation that you can use to find out how companies you do business with every day are wielding political influence through lobbying and campaign contributions. Checking Influence helps you be an informed consumer and citizen.
    </p> 
    <p> 
    <strong>It&rsquo;s easy to use.</strong>  Checking Influence is a bookmarklet, which means you can save it to your browser&rsquo;s toolbar and use it on a site later with just one click. Just drag the button up to the bookmarks bar in your browser. 
    </p> 
    <p>The bookmarklet: &rarr; 
    <a href='javascript:void(window.loadChutney = function() {
    if (!window.chutney) {
	if (!window.chutneyInserted) {
	    var s = document.createElement("script"); 
	    s.src = "https://chutney.influenceexplorer.com/chutney.js"; 
	    document.getElementsByTagName("head")[0].appendChild(s); 
	    window.chutneyInserted = true;
	}
	setTimeout("loadChutney()", 50);   
    } else {
	chutney.start();
    }
    }); loadChutney();'>Checking Influence</a> &larr; (drag this to your bookmarks bar, or right-click and &ldquo;bookmark this&rdquo;)
    </p> 
    <p>Next, go to any web page that has bank transactions (wherever you do online banking, like your banking site, credit card site, or Mint.com). Then, just click on the Checking Influence bookmarklet in your toolbar.</p> 
    <p><strong>Checking Influence will find the company names in your list of banking transactions and show you the &ldquo;influence data&rdquo;</strong> for the corporations it can identify &mdash; including political campaign contributions and what lobbying the corporation conducted.</p> 
    <p>If you&rsquo;re curious about how we protect your privacy, read below. If you&rsquo;re still uncomfortable trying out Checking Influence, you can find the same information by going to InfluenceExplorer.com and searching for the company whose political influence you want to check.</p> 
    <h3>Privacy</h3> 
    <p> 
    To ensure that we respect your privacy, we are very careful not to store any
    information about your bank transactions that could possibly be personally
    identifiable.  In order to function, Checking Influence needs to transmit names that it
    has pulled out of your bank transactions to our server to match them against
    corporations, but nothing else (no dates, addresses, amounts, etc.) is
    sent to us.  The names are cleaned to ensure that there is nothing sensitive or
    personally identifiable in them.  All connections to the Chutney server are
    made using industry-standard SSL &ndash; the same technology that your banking
    site uses to ensure the privacy of your data.
    </p> 
		
</div>

{% endblock %}
