{% load humanize %}

<div class="overviewBar withNav withTip">
    <h3 class="insideBar">Campaign Finance</h3>
    <span class="amount">
        {% if entity_info.type == "individual" or entity_info.type == "organization" or entity_info.type == "industry" %}
            ${{entity_info.totals.contributor_amount|floatformat:0|intcomma }} Given
        {% else %}
            {% if entity_info.type == "politician" and section.fec_summary and not section.suppress_contrib_graphs %}
                ${{section.fec_summary.total_raised|floatformat:0|intcomma }} Received
            {% else %}
                ${{entity_info.totals.recipient_amount|floatformat:0|intcomma }} Received
            {% endif %}
        {% endif %}</span>
    <div class="interiorMethodology">
        <a class="descriptor" title="More Information" href="#contributionsDescriptor">Information</a>
        <div class="clear"></div>
        <div class="descriptorText" id="contributionsDescriptor">
    	    <p>Figures are based on itemized contributions reported to the Federal Election Commission and state agencies. Please note that:</p>
        	<ul>
        		<li>contributions under $200 are not reported, and so are not included in totals.</li>
        		<li>only contributions from individuals and organizations to candidates are included. Various accounting measures and more exotic contribution types are excluded.</li>
        		<li>contributions are matched based on organization and recipient name reported within each election cycle. Contributions using an incorrect or non-standard version of the name may be missed.</li>
        		<li>corporate name changes and mergers may cause figures to differ from those of the Center for Responsive Politics.</li>
        		<li>organization totals include known subsidiaries of the organization.</li>
        	</ul>
    	    <p>For more information, please see our <a href="/about/methodology/campaign_finance">campaign finance methodology</a> page. Lobbyist bundling data is described on our <a href="/about/methodology/lobbyist_bundling">lobbyist bundling methodology</a> page.</p>
        </div>    
    </div>
    <div class="clear"></div>
</div>
<div class="chartModule withNav">
    {% if section.include_fec and not section.suppress_contrib_graphs %}
        {% if entity_info.type == "politician" %}
            {% include "pol_fec.html" %}
        {% else %}{% if entity_info.type == "organization" %}
            {% include "org_fec.html" %}
        {% endif %}{% endif %}
            <div class="electionHeader">
            <h4 class="withTip">Donor Information</h4>
            <span class="tip external">covers the majority of 2011 filings. may lag behind FEC section above, as donors and industries are identified by hand.</span>
        </div>
    {% else %}
        <span class="tip external">covers the majority of 2011 filings</span>
    {% endif %}
    <ul>
      {% block charts %}
      {% if not section.suppress_contrib_graphs %}
        {% if entity_info.type == "individual" %}
        {% include "indiv_contributions.html" %}
        {% else %}{% if entity_info.type == "politician" %}
        {% include "pol_contributions.html" %}
        {% else %}{% if entity_info.type == "organization" %}
        {% include "org_contributions.html" %}
        {% else %}{% if entity_info.type == "industry" %}
        {% include "industry_contributions.html" %}
        {% endif %}{% endif %}{% endif %}{% endif %}
      {% else %}
      {% if section.reason == "negative" %}
      <p>Due to refunds and other accounting issues, aggregate totals
      for this time frame were negative.</p>  
      {% endif %}
      {% endif %}

      {% endblock %} <!-- end chart block -->

    </ul><!-- end chartModule -->
    <div class="clear"></div>
    
    {% include "external_links.html" with external_links=section.external_links %}
</div>
