<!-- this file is included for individuals that have contributions
     data to display -->

{% load humanize %}

<div class="overviewBar">
  <a class="toggle">Toggle</a>
  <h3 class="insideBar">Contributions, 
      {% ifequal cycle "-1" %} 
          {{entity_info.career.start}} - {{entity_info.career.end}}
        {% else %}  
          {{cycle|add:-1}} - {{cycle}} 
        {% endifequal %}</h3>
  <span class="insideBar">
    {% if entity_info.type == "individual" or entity_info.type == "organization" %}
    ${{entity_info.totals.contributor_amount|floatformat:0|intcomma }} Given
    {% else %}
    ${{entity_info.totals.recipient_amount|floatformat:0|intcomma }} Received
    {% endif %}
  </span>
  <div id="sparklines">                
    <!-- raphael sparkline -->
  </div>  
</div>

<div class="chartModule">

  {% block charts %}   
  
  {% if not suppress_contrib_graphs %}
    {% if entity_info.type == "individual" %}
    {% include "indiv_charts.html" %}
    {% else %}{% if entity_info.type == "politician" %}
    {% include "pol_charts.html" %}
    {% else %}{% if entity_info.type == "organization" %}
    {% include "org_charts.html" %} 
    {% endif %}{% endif %}{% endif %}
  {% else %}
  {% if reason == "negative" %}
  <p>Due to refunds and other accounting issues, aggregate totals
  for this timeframe were negative.</p>  
  {% endif %}
  {% endif %}

  {% endblock %} <!-- end chart block -->

  <div class="clear"></div>
  
  <div class="external">
    {% if external_links %}
    For more information on contributions:
    {% for link in external_links %}
    <a href="{{ link.1 }}" class="external">{{ link.0 }}</a>
    {% endfor %}
    {% endif %}
  </div>
  
  <div class="clear"></div>
</div><!-- end chartModule -->
