<!-- this file is included for individuals that have contributions
     data to display -->

{% load humanize %}

<div class="overviewBar">
  {% if not suppress_contrib_graphs %}
  <a class="toggle">Toggle</a>
  {% endif %}
  <h3 class="insideBar">Contributions, 
      {% ifequal cycle "-1" %} 
          {{entity_info.career.start|add:-1}} - {{entity_info.career.end}}
        {% else %}  
          {{cycle|add:-1}} - {{cycle}} 
        {% endifequal %}</h3>
  <div class="insideBar amount">
    <span class="amount">{% if entity_info.type == "individual" or entity_info.type == "organization" %}
    ${{entity_info.totals.contributor_amount|floatformat:0|intcomma }} Given
    {% else %}
    ${{entity_info.totals.recipient_amount|floatformat:0|intcomma }} Received
    {% endif %}</span>
    <a class="descriptor" href="#contributionsDescriptor">?</a>
    <div class="clear"></div>
    <div class="descriptorText" id="contributionsDescriptor">
        <p>
          This total includes the most common types of contributions from individuals and organizations to politicians. It does not include contributions under the $200 reporting limit. 
          Because of this, the total money given or raised may be significantly higher than what's listed here.
        </p>
        <p>
          We try to match the methodology of Center for Responsive Politics and the National Institute for Money in State Politics as closely as possible. For further details
          see our methodology page. (to do.) 
        </p>
    </div>
  </div>
  <div id="sparklines">                
    <!-- raphael sparkline -->
  </div>  
  <div id="sparklines_legend" class="insideBar">
      <ul>
          <li id="sparklines_legend_d">Democrats</li>
          <li id="sparklines_legend_r">Republicans</li>
          <li id="sparklines_legend_o">Other</li>
      </ul>
  </div>
</div>

<div class="chartModule">

  {% block charts %}   
  
  {% if not suppress_contrib_graphs %}
    {% if entity_info.type == "individual" %}
    {% include "indiv_charts.html" %}
    {% else %}{% if entity_info.type == "politician" %}
    {% include "pol_charts.html" %}
    {% else %}{% if entity_info.type == "organization" %}
    {% include "org_charts.html" %} 
    {% endif %}{% endif %}{% endif %}
  {% else %}
  {% if reason == "negative" %}
  <p>Due to refunds and other accounting issues, aggregate totals
  for this time frame were negative.</p>  
  {% endif %}
  {% endif %}

  {% endblock %} <!-- end chart block -->

  <div class="clear"></div>
  
  <div class="external">
    {% if external_links %}
    For more information on contributions:
    {% for link in external_links %}
    <a href="{{ link.1 }}" class="external">{{ link.0 }}</a>
    {% endfor %}
    {% endif %}
  </div>
  
  <div class="clear"></div>
</div><!-- end chartModule -->
