{% extends "search_base.html" %}

{% block js %}
{% block extrajs %}
<!-- extrajs is where the charts are loaded and must go *before* the --
  -- div is hidden -->
{% endblock %}
<script type="text/javascript" charset="utf=8">
$(document).ready(function() {
  $('.chartModule').hide();
  $('.overviewBar').toggle(
    function() {
      $(this).next('.chartModule').slideToggle('slow');
    }, 
    function() {
      $(this).next('.chartModule').slideToggle('slow');
    }
  );
});
</script>
{% endblock %}

{% block body_class %}entity{% endblock %}

{% block main %}

<div id="contentHeader">
{% block contentHeader %}
{% endblock %}
</div>

<div class="module" id="timeSpan">
  <div id="currentDates">
    Timeframe: 
    <span>
      {% ifequal cycle "-1" %} 
        {{entity_info.career.start}} to {{entity_info.career.end}}
      {% else %}  
        {{cycle|add:-1}} - {{cycle}} 
      {% endifequal %}
    </span>
  </div>
  <div id="changeDates">
    <form action="" method="get" id="cycle_form">
      <label>View Other Election Cycles</label>
      {{ cycle_form.cycle }}
      <input type="submit" value="Update Cycles" id="cycle_submit" />
    </form>
  </div>
  <div class="clear"></div>
</div>

<!-- if there's a description for the entity, override this -->
<p id="description" class="module clear">
  {% block description %}
  No description available
  {% endblock %}
</p>

<div class="overviewBar">
  <span class="toggle">(Toggle)</span>
  <h3>Contributions</h3>
  <span>
    {% block contrib_overview_amount %}
    {% endblock %}
  </span>
  <div id="sparklines">                
    {% block contrib_sparkline %}
    {% endblock %}
  </div>  
  {% block contrib_details_link %}
  {% endblock %}
</div>

<div class="chartModule">
  {% block charts %}   

  {% block contributions_tables %}
  {% endblock %}

  {% endblock %} <!-- end chart block -->

  <div class="clear"></div>

  <div class="external">
    <p class="external">
      {% block external_contrib_links %}  
      {% endblock %}
    </p>
  </div>
  
  <div class="clear"></div>
</div><!-- end chartModule -->

{% block lobbying %}
  
<div class="overviewBar">
  <span class="toggle">(Toggle)</span>
  <h3>Lobbying</h3>
  <span>
    {% block lobbying_hired_amount %}
    {% endblock %}
  </span>
  <span>
    {% block lobbying_executed_amount %}
    {% endblock %}
  </span>
  <div id="sparklines">                
    {% block lobbying_sparkline %}
    {% endblock %}
  </div>  
  {% block lobbying_details_link %}
  {% endblock %}
</div>

<div class="chartModule">  
  {% block lobbying_tables %}
  {% endblock %}
  <div class="clear"></div>

  <div class="external">
    <p class="external">
      {% block external_lobby_links %}  
      {% endblock %}
    </p>
  </div>  
  
  <div class="clear"></div>
</div>

{% endblock %} <!-- end lobbying -->

{% endblock %}<!-- end main -->
