{% extends "search_base.html" %}

{% block js %}
{% block extrajs %}
<!-- extrajs is where the charts are loaded and must go *before* the --
  -- div is hidden -->
{% endblock %}
{% endblock %}

{% block body_class %}entity{% endblock %}

{% block main %}

<div id="contentHeader">
{% block contentHeader %}
{% endblock %}

</div>

<!-- if there's a description for the entity, override this -->
<div id="description" class="module clear">
  {% block description %}
  {% endblock %}
</div>
<div id="miniNav" class="withBg">
	<ul>
		<li><a href="#contributions">Contributions</a></li>
		<li><a href="#lobbying">Lobbying</a></li>
		<li><a href="#federal_spending">Federal Spending</a></li>
		<li><a href="#contractor_misconduct">Contractor Misconduct</a></li>
	</ul>
</div>
<div class="clear"></div>

<div class="module" id="timeSpan">
  {% block timespan %}
  <div id="currentDates">
    <span class="currentDateTitle">Current View:</span>
    <span>
      {% ifequal cycle "-1" %} 
        {{entity_info.years.start|add:-1}} &#150; {{entity_info.years.end}}
      {% else %}  
        {{cycle|add:-1}} &#150; {{cycle}} 
      {% endifequal %}
    </span>
  </div>
  <div id="changeDates">
    <form action="" method="get" id="cycle_form">
      <label>View Other Years</label>
      {{ cycle_form.cycle }}
      <input type="submit" value="Update Cycles" id="cycle_submit" />
    </form>
  </div>
  <div class="clear"></div>
  {% endblock %}
</div>

{% block contributions %}
{% endblock %}

{% block lobbying %}
{% endblock %}

{% block earmarks %}
{% endblock %}

{% block grants_and_contracts %}
{% endblock %}

{% block contractor_misconduct %}
{% endblock %}

{% block epa_echo %}
{% endblock %}

{% endblock %}<!-- end main -->
