{% load humanize %}
{% load influence_extras %}


<table class="threeColumn mainTable" id="epaEchoTable">
    <thead>
        <tr id="titles">
          <th>Case Name</th>
          <th># of Defendants</th>
          <th>Date</th>
          <th>Locations</th>
          <th class="right">Amount</th>
    </thead>
    <tbody>
        {% for row in epa_echo %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td class="cell-epa-case-name"><a href="http://www.epa-echo.gov/cgi-bin/get1cReport.cgi?IDNumber={{ row.case_id }}&tool=eiciECHO">{{ row.case_name|title }}</a></td>
            <td class="cell-other-defendants" title="{{ row.other_defendants|truncatewords:50|title }}">{{ row.defendants_count }}</td>
            <td class="cell-epa-year" title="{{ row.date_significance }}">{{ row.year }}</td>
            <td class="cell-epa-locations" title="{{ row.location_addresses|truncatewords:50|title }}">{{ row.locations|truncatewords:3|title }}</td>
            <td class="cell-epa-amount right" title="{{ row.location_ids }}">${{ row.amount|floatformat:0|intcomma }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
