{% extends "search_base.html" %}

{% block body_class %}methodology flatText{% endblock %}

{% block main %}

<div id="contentHeader">
    <h2>Federal Spending Methodology</h2>
</div>

<div id="ltColumn">
	<p id="description">This document describes the process we use to display federal spending data. Note that our treatment of federal spending data is much simpler than that of <a href="/about/methodology/campaign_finance/">campaign finance</a> or <a href="/about/methodology/lobbying">lobbying</a>. In particular, we don't do any aggregation or processing of the data--we simply show the top 10 records that match on the organization name.
	
	<h3>Background</h3>
	All federal agencies are required to report on spending to outside organizations. The agencies report this data primarily through the Federal Procurement Data System (FPDS) and the Federal Assistance Award Data System (FAADS). These and other auditing systems are combined and made available to the public through the government site <a href="http://www.usaspending.gov/">USASpending.gov</a>.
	


{% endblock %}
