{% extends "search_base.html" %}

{% block body_class %}methodology flatText{% endblock %}

{% block main %}

<div id="contentHeader">
    <h2>Federal Spending Methodology</h2>
</div>

<div id="ltColumn">
	<p id="description">This document describes the process we use to display federal spending data. Note that our treatment of federal spending data is much simpler than that of <a href="/about/methodology/campaign_finance/">campaign finance</a> or <a href="/about/methodology/lobbying">lobbying</a>.
	
	<h3>Background</h3>
	
	


{% endblock %}
