{% extends "base.html" %}
{% block body_class %}home{% endblock %}

{% block main %}
<div class="module" id="featureBox">
  <h2>Start Your Search Below</h2>
  <p>Type in the name of a <span class="differentText">company</span>, your <span class="differentText">lawmaker</span> or a prominent <span class="differentText">individual</span>, and see how they're influencing the political system.</p>
  <form id="searchForm" action="/search" method="get">
    {{ search_form.query }}
    <input type="hidden" name="from_form" value="1">
    <button class="searchBtn" type="submit">
      <span>Go</span>
    </button>
  </form>
  <div class="clear"></div>
</div>
<div class="module" id="postcards">
    <img alt="postcard images" src="/media/images/img_postcard.jpg"/>
    <div id="postcardDescrition">
        <h2><big>Before They Vote</big> <small>send them a postcard</small></h2>
        <p>Want to make sure your friends and family are informed about just who they're voting for in the upcoming midterms?</p> 
        <p>With an unprecedented amount of money flowing into this year's midterm elections, help your friends and family follow the money by sending a customized postcard or three right from this website - no stamps necessary - about the elections happening in their community.</p>
        <p>Each postcard will show the industries and organizations that contribute the most to the candidate (or candidates) you choose. Make it personal by writing a note to tell your friend or family member about why you want them to see the money and influence this political season.</p>
        <a class="linkBtn" id="postcardBtn" href="#">Send a Postcard!</a>
    </div>
    
</div>    
<div class="clear"></div>
{% endblock %}
