{% extends "search_base.html" %}
{% load influence_extras %}
{% block body_class %}home{% endblock %}

{% block js %}
{{ block.super }}
    <script type="text/javascript">
        $(function() {
          $('form#signupForm').submit(function() {
            var vals = {email: $('#id_email').val(), zip: $('#id_zip').val()};
            $(this).slideUp();
            $('#bbjoin').html('<img src="/media/images/loading.gif" />');
            $('head').append('<script type="text/javascript" src="http://services.sunlightlabs.com/brandingbar/post_signup/?source=influenceexplorer&email=' + vals.email + '&zip=' + vals.zip + '">');
            return false;
          })
        });
    </script>
{% endblock %}

{% block main %}
    <h2 id="FeatureText">Explore companies, lawmakers and prominent individuals that matter to you and see how they're influencing the political system</h2>
    <h3 id="newsTitle">What's New</h3>
    <div id="newsWrapper"> 
        <div id="news">  
            <div class="colOne">
                <p>Influence Explorer now includes data on <strong>lobbyist bundling</strong>: lobbyist and lobbying firms that collect contributions from other donors on behalf of politicians. Through bundling, an donor who could normally only give a limited amount of money is able to present a candidate with far larger amounts of money. To get started, <a href="/fec/bundling"> check out our overview of lobbyist bundling data</a>, or look for the new Bundled Contributions table on <a href="/politician/charles-e-schumer/e708669995e844af90f205003683f2fa">politician pages</a>, <a href="/individual/wolff-brian/6e0982b0356b44f4b5e0daf0a69d855c">lobbyist pages</a> and <a href="/organization/brownstein-hyatt-et-al/5157dce66d0440c58087a4fa9e5d1c40">lobbying firm pages</a>.</p>
            </div>    
        </div>  
    </div>
    <div id="featureContent" class="chartModule">
        <ul>
            <li id="topPages">
                <h3 class="withTip">Top Pages</h3>
                <span class="tip shift">check out what's being explored</span>
                <ul class="shift normalList">
                    {% for page in top_pages %}
                        <li>
                            <a class="standOut" href="{{ page.path }}">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                </ul>    
            </li>
            <li id="tools">
                <h3 class="withTip">Tools</h3>
                <span class="tip shift">bring influence data to your email, banking and news</span>
                <ul class="shift normalList">
                    <li>
                        <img alt="inbox influence icon" src="/media/images/img_inboxIEsm.jpg" />
                        <div class="toolDes">
                            <h4 class="withTip"><a href="https://inbox.influenceexplorer.com/">Inbox Influence</a></h4>
                            <p>See the political contributions of the people and organizations that are mentioned in emails you receive.</p>
                        </div>
                        <div class="clear"></div>
                    </li> 
                    <li>
                        <img alt="checking influence icon" src="/media/images/img_checkingSm.jpg" />
                        <div class="toolDes">
                            <h4 class="withTip"><a href="https://checking.influenceexplorer.com/">Checking Influence</a></h4>
                            <p>When you shop, do you wonder where your money really goes?</p>
                        </div>
                        <div class="clear"></div>
                    </li>  
                    <li>
                        <img alt="poligraft icon" src="/media/images/img_poligraftSm.jpg" />
                        <div class="toolDes">
                            <h4 class="withTip"><a href="http://poligraft.com/">Poligraft</a></h4>
                            <p>See connections between money and politics in news articles you read everyday.</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </li>
            <li class="clear" id="explored">
                <h3 class="withTip"><a href="http://sunlightfoundation.com/blog/taxonomy/term/influence-explorer/">Influence Explored</a></h3>
                <span class="tip shift">regularly updated news and analysis using Influence Explorer</span>
                <h4 class="withTip shift"><a href="{{ entry.link }}">{{entry.title|safe}}</a></h4>
                <time class="published entryMetaData shift" pubdate="" datetime="{{entry.date_published|date:"c"}}">{{entry.date_published|date:"F j, Y, g:i a"}}</time>
                <div class="colOne shift">{{entry.summary|safe|removetags:"img"|truncatewords_html:200}} <a href="{{ entry.link }}">Read More</a></div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>

{% endblock %}
