<!-- this file is included for individuals that have lobbying data to --
  -- display -->
{% load humanize %}
{% load influence_extras %}

<div class="overviewBar">
  <a class="toggle">Toggle</a>
  <h3 class="insideBar">
      Lobbying, 
    {% ifequal cycle "-1" %} 
      {{entity_info.career.start|add:-1}} - {{entity_info.career.end}}
    {% else %}  
      {{cycle|add:-1}} - {{cycle}} 
    {% endifequal %}</h3>
  <span class="insideBar">
  </span>
  <span class="insideBar">
  </span>
  <div id="sparklines">                
  </div>  
</div>

<div class="chartModule">  
  {% if lobbying_with_firm %}
  
  <div class="threeColumn chartWrapper">
    <h4>{{ entity_info.name|standardize_individual_name }} Lobbied with the Following Firms</h4>
    <div class="lobbyistsOrgs twoColumn">
      {% for row in lobbying_with_firm %}
      {% if row.registrant_entity %}    
      <a href="/organization/{{ row.registrant_name|slugify }}/{{ row.registrant_entity }}{{cycle|pretty_cycle}}">{{ row.registrant_name }}</a>{% if forloop.last %}{% else %},{% endif %}
      {% else %}
      {{ row.registrant_name }}{% if forloop.last %}{% else %},{% endif %}    
    {% endif %}    
      {% endfor %}
    </div>
    
    {% if issues_lobbied_for %}
    <div class="lobbyingColumn oneColumn">
      <div class="issuesLobbied">
	<span class="secondaryTitle">Most Frequently Disclosed Lobbying Issues:</span>
	<ul>
	  {% for issue in issues_lobbied_for %}
	  <li>{{issue}}{% if forloop.last %}{% else %},{% endif %}</li>
	  {% endfor %}
	</ul>
      </div>
    </div>
    {% endif %}
    <div class="clear"></div>
  </div>
  
  {% endif %} <!-- end if lobbying with firm -->
  
  {% if lobbying_for_clients %}
  
  <div class="threeColumn chartWrapper">
    <h4>Clients of Firms {{ entity_info.name|standardize_individual_name }} Worked For</h4>
    <div class="lobbyistsOrgs twoColumn">
      {% for row in lobbying_for_clients %}
      {% if row.client_entity %}
      <a href="/organization/{{ row.client_name|slugify }}/{{ row.client_entity }}{{cycle|pretty_cycle}}">{{ row.client_name }}</a>{% if forloop.last %}{% else %},{% endif %}
      {% else %}
      {{ row.client_name }}{% if forloop.last %}{% else %},{% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
<div class="clear"></div>

</div> <!-- end div chartModule -->
{% endif %}



