<!-- this file is included for individuals that have lobbying data to --
  -- display -->
{% load humanize %}
{% load influence_extras %}

<div class="overviewBar withNav withTip">
    <h3>Lobbying</h3>
</div>

<div class="chartModule withNav">
    <span class="tip external">covers through Q2, 2011</span>
        <h4>Lobbying by {{ entity_info.name|standardize_individual_name }}</h4>
        <ul>
            {% if section.lobbying_with_firm %}
            <li class="twoColumn">
                <h5>Lobbied with the Following Firms</h5>
                {% for row in section.lobbying_with_firm %}
                {% if row.registrant_entity %}    
                <a href="/organization/{{ row.registrant_name|slugify }}/{{ row.registrant_entity }}{{cycle|pretty_cycle}}">{{ row.registrant_name }}</a>{% if forloop.last %}{% else %},{% endif %}
                {% else %}
                {{ row.registrant_name }}{% if forloop.last %}{% else %},{% endif %}    
                {% endif %}    
                {% endfor %}
            </li>
        
            {% if section.issues_lobbied_for %}
                <li class="issuesLobbied oneColumn chartWrapper">
    	            <h5>Most Frequently Disclosed Lobbying Issues</h5>
    	            <ul>
    	                {% for issue in section.issues_lobbied_for %}
    	                <li>{{issue}}{% if forloop.last %}{% else %},{% endif %}</li>
    	                {% endfor %}
    	            </ul>
                </li>
            {% endif %}

            {% endif %} <!-- end if lobbying with firm -->

            <div class="clear"></div>
            
            {% if section.lobbying_for_clients %}
                <li class="twoColumn chartWrapper">
                    <h5>Clients of Firms {{ entity_info.name|standardize_individual_name }} Worked For</h5>
                    {% for row in section.lobbying_for_clients %}
                    {% if row.client_entity %}
                    <a href="/organization/{{ row.client_name|slugify }}/{{ row.client_entity }}{{cycle|pretty_cycle}}">{{ row.client_name }}</a>{% if forloop.last %}{% else %},{% endif %}
                    {% else %}
                    {{ row.client_name }}{% if forloop.last %}{% else %},{% endif %}
                    {% endif %}
                    {% endfor %}
                </li>
            {% endif %}

        </ul>
        <div class="clear"></div>
    
    {% include "external_links.html" with external_links=section.lobbying_links %}
</div>
