{% extends "entity_base.html" %}
{% load humanize %}
{% block body_class %}individual{% endblock %}

{% block extrajs %}
<script type="text/javascript" charset="utf-8"> 
$(document).ready(function() {
  piechart("piechart_party", {{ party_breakdown|safe }}, type="party");
  barchart("recipients_barchart", {{ candidates_barchart_data|safe }});  
  barchart("orgs_barchart", {{ orgs_barchart_data|safe }});  
  sparkline("sparklines", {{ sparkline_data|safe }});
});

</script>
{% endblock %}

{% block contentHeader %}
<h2>{{ entity_info.name }}</h2>
{% endblock %}

{% block contrib_overview_amount %}
${{entity_info.totals.contributor_amount|floatformat:-1|intcomma }} Given
{% endblock %}
{% block details_link %}
<a class="detailsLink" href="#">
  View Timeline Details
</a>
{% endblock %}

{% block charts %}

<div class="twoColumn chartWrapper"> 
  <div class="chart"> 
    <h4>Top Candidates</h4>
    <div class="graph" id="recipients_barchart">
      <!-- raphael charts here -->
    </div>
  </div>
</div>

<div class="oneColumn chartWrapper">
  <div class="chart">
    <h4 class="withTip">Republicans vs. Democrats</h4>
    <span class="tip">in dollars</span>
    <div class="graph" id="piechart_party">
      <!-- raphael charts here -->
    </div>
  </div>
</div>

<div class="clear"></div> <!-- start a new row -->

<div class="twoColumn chartWrapper">
  <div class="chart">
    <h4 class="withTip">Top Organizations</h4>
    <span class="tip">in dollars</span>
    <div class="graph" id="orgs_barchart">
      <!-- raphael charts here -->
    </div>
  </div>
</div>

<div class="clear"></div> <!-- start a new row -->

{% endblock %}

{% block external_contrib_links %}  
{% if external_links %}
For more information on contributions:
{% for link in external_links %}
<a href="{{ link.1 }}" class="external">{{ link.0 }}</a>
{% endfor %}
{% endif %}
{% endblock %}

{% block lobbying_tables %}

{% if lobbying_with_firm %}

<div class="threeColumn chartWrapper">
  <h4>{{ entity_info.name }} Lobbied with the Following Firms</h4>
  <div class="lobbyistsOrgs twoColumn">
    {% for row in lobbying_with_firm %}
    {% if row.registrant_entity %}    
    <a href="/organization/{{ row.registrant_name|slugify }}/{{ row.registrant_entity }}?cycle={{cycle}}">{{ row.registrant_name }}</a>{% if forloop.last %}{% else %},{% endif %}
    {% else %}
    {{ row.registrant_name }}{% if forloop.last %}{% else %},{% endif %}    
    {% endif %}    
    {% endfor %}
  </div>
  
  {% if issues_lobbied_for %}
  <div class="lobbyingColumn oneColumn chartWrapper">
    <div class="issuesLobbied">
      <span class="secondaryTitle">Issues Lobbied:</span>
      <ul>
	{% for issue in issues_lobbied_for %}
	<li>{{issue}}{% if forloop.last %}{% else %},{% endif %}</li>
	{% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  <div class="clear"></div>
</div>

{% endif %} <!-- end if lobbying with firm -->

{% if lobbying_for_clients %}
<div class="threeColumn chartWrapper">
  <h4>Clients of Firms {{ entity_info.name }} Worked For</h4>
  <div class="lobbyistsOrgs twoColumn">
    {% for row in lobbying_for_clients %}
    {% if row.client_entity %}
    <a href="/organization/{{ row.client_name|slugify }}/{{ row.client_entity }}?cycle={{cycle}}">{{ row.client_name }}</a>
    {% else %}
    {{ row.client_name }}
    {% endif %} 
    {% endfor %}
  </div>
</div>
{% endif %}

{% endblock %}
