{% extends "search_base.html" %}
{% load humanize %}
{% load influence_extras %}

{% block pagetitle %}
    Individuals | 
{% endblock %}

{% block extrajs %}
<script type="text/javascript" charset="utf-8"> 
$(document).ready(function() {
    Brisket.contribution_single_barchart("bundlers_barchart", {% if top_n_lobbyist_bundlers %}{{ top_n_lobbyist_bundlers|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("democratic_donors_barchart", {% if top_n_democratic_donors %}{{ top_n_democratic_donors|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("republican_donors_barchart", {% if top_n_republican_donors %}{{ top_n_republican_donors|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("state_donors_barchart", {% if top_n_state_donors %}{{ top_n_state_donors|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("federal_donors_barchart", {% if top_n_federal_donors %}{{ top_n_federal_donors|safe }}{% else %}{}{% endif %});
});
</script>
{% endblock %}

{% block body_class %}individual{% endblock %}

{% block main %}
    {% if num_indivs %}
    <div id="contentHeader">
        <h2>People</h2>
    </div>
    <div class="chartModule">
        <ul>
            <li class="twoColumn chart">
                {% if top_n_republican_donors %}
                <h4 class="withTip">Top Donors to Republicans</h4>
                <div class="graph" id="republican_donors_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_n_lobbyist_bundlers %}
                <h4 class="withTip">Top Lobbyist Bundlers</h4>
                <div class="graph" id="bundlers_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_n_democratic_donors %}
                <h4 class="withTip">Top Donors to Democrats</h4>
                <div class="graph" id="democratic_donors_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_n_state_donors %}
                <h4 class="withTip">Top State Donors</h4>
                <div class="graph" id="state_donors_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_n_federal_donors %}
                <h4 class="withTip">Top Federal Donors</h4>
                <div class="graph" id="federal_donors_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
        </ul>
    </div>
    <div id="ltColumn">
        <p>The following individuals have contributed the greatest dollar amounts during the current election cycle.</p>
        <span class="tip external">based on contributions made in 2011-2012</span>
        <table id="mainPageTable" class="sortable">
            <thead>
                  <tr id="titles">
                      <th class="sort">Name</th>
                      <th class="sort">Given</th>
                  </tr>
              </thead>
              <tbody>
                  {% for result in top_n_individuals %}
                  <tr class="{% cycle 'even' 'odd' %}">
                      <td>
                          <a href="/individual/{{ result.name|standardize_individual_name|slugify }}/{{ result.id }}{{cycle|pretty_cycle}}">{{ result.name|standardize_individual_name }}</a>
                      </td>
                      <td>${{ result.amount|floatformat:0|intcomma }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}

