{% extends "entity_base.html" %}
{% load humanize %}

{% block extrajs %}
<script type="text/javascript" charset="utf-8"> 
  window.onload = function () {
  piechart("piechart_party", {{ party_breakdown|safe }}, type="party");
  barchart("recipients_barchart", {{ candidates_barchart_data|safe }});  
  barchart("orgs_barchart", {{ orgs_barchart_data|safe }});  
  }

</script>
{% endblock %}

{% block contentHeader %}
<h2>{{ entity_info.name }}</h2>
{% endblock %}

{% block contrib_overview_amount %}
${{entity_info.contributions.contributor_amount|intcomma }} Given
{% endblock %}
{% block details_link %}
<a class="detailsLink" href="#">
  View Timeline Details
</a>
{% endblock %}

{% block charts %}

<div class="twoColumn chartWrapper"> 
  <div class="chart"> 
    <h4>Top Candidates</h4>
    <div class="graph" id="recipients_barchart">
      <!-- raphael charts here -->
    </div>
  </div>
</div>

<div class="oneColumn chartWrapper">
  <div class="chart">
    <h4 class="withTip">Republicans vs. Democrats</h4>
    <span class="tip">in dollars</span>
    <div class="graph" id="piechart_party">
      <!-- raphael charts here -->
    </div>
  </div>
</div>

<div class="clear"></div> <!-- start a new row -->

<div class="twoColumn chartWrapper">
  <div class="chart">
    <h4 class="withTip">Top Organizations</h4>
    <span class="tip">in dollars</span>
    <div class="graph" id="orgs_barchart">
      <!-- raphael charts here -->
    </div>
  </div>
</div>

<div class="clear"></div> <!-- start a new row -->

{% endblock %}


{% block lobbying_tables %}

{% if lobbying_with_firm %}
<div class="twoColumn chartWrapper">
  <h4>{{ entity_info.name }} Lobbied with the Following Firms</h4>
  <table class="twoColumn">
    <thead>
      <tr id="titles">
        <th class="left">Firm</th>
      </tr>
    </thead>
    <tbody>
      {% for row in lobbying_with_firm %}
      <tr class="{% cycle 'even' 'odd' %}">
        <td>	    
	  {% if row.registrant_entity %}
	  <a href="/organization/{{ row.registrant_name|slugify }}/{{ row.registrant_entity }}?cycle={{cycle}}">{{ row.registrant_name }}</a>
	  {% else %}
	  {{ row.registrant_name }}
          {% endif %} 
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if issues_lobbied_for %}
  <p id="description" class="clear">
    Issues Lobbied:     
    {{ issues_lobbied_for|join:", " }}
  </p>
  {% endif %}
</div>
{% endif %}

{% if lobbying_for_clients %}
<div class="twoColumn chartWrapper">
  <h4>Clients of Firms {{ entity_info.name }} Worked For</h4>
  <table class="twoColumn">
    <thead>
      <tr id="titles">
        <th class="left">Client</th>
      </tr>
    </thead>
    <tbody>
      {% for row in lobbying_for_clients %}
      <tr class="{% cycle 'even' 'odd' %}">
        <td>	    
	  {% if row.client_entity %}
	  <a href="/organization/{{ row.client_name|slugify }}/{{ row.client_entity }}?cycle={{cycle}}">{{ row.client_name }}</a>
	  {% else %}
	  {{ row.client_name }}
          {% endif %} 
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock %}
