<!-- this file is included for individuals that have lobbying data to --
  -- display -->
{% load humanize %}
{% load influence_extras %}

<div class="overviewBar">
    <a class="toggle">Toggle</a>
    <h3 class="insideBar">
        Lobbying, 
        {% ifequal cycle "-1" %} 
            {{entity_info.lobbying_years.start|add:-1}} &#150; {{entity_info.lobbying_years.end}}
        {% else %}  
            {{cycle|add:-1}} &#150; {{cycle}} 
        {% endifequal %}
    </h3>
</div>

<div class="chartModule">  
    {% if section.lobbying_with_firm %}
        <h4>Lobbying by {{ entity_info.name|standardize_individual_name }}</h4>
        
        <div class="twoColumn chartWrapper">
            <h5>Lobbied with the Following Firms</h5>
            {% for row in section.lobbying_with_firm %}
            {% if row.registrant_entity %}    
            <a href="/organization/{{ row.registrant_name|slugify }}/{{ row.registrant_entity }}{{cycle|pretty_cycle}}">{{ row.registrant_name }}</a>{% if forloop.last %}{% else %},{% endif %}
            {% else %}
            {{ row.registrant_name }}{% if forloop.last %}{% else %},{% endif %}    
            {% endif %}    
            {% endfor %}
        </div>
        
        {% if section.issues_lobbied_for %}
            <div class="issuesLobbied oneColumn chartWrapper">
	            <h5>Most Frequently Disclosed Lobbying Issues</h5>
	            <ul>
	                {% for issue in section.issues_lobbied_for %}
	                <li>{{issue}}{% if forloop.last %}{% else %},{% endif %}</li>
	                {% endfor %}
	            </ul>
            </div>
        {% endif %}
        <div class="clear"></div>
  
    {% endif %} <!-- end if lobbying with firm -->
  
    {% if section.lobbying_for_clients %}
        <div class="twoColumn chartWrapper">
            <h5>Clients of Firms {{ entity_info.name|standardize_individual_name }} Worked For</h5>
            {% for row in section.lobbying_for_clients %}
            {% if row.client_entity %}
            <a href="/organization/{{ row.client_name|slugify }}/{{ row.client_entity }}{{cycle|pretty_cycle}}">{{ row.client_name }}</a>{% if forloop.last %}{% else %},{% endif %}
            {% else %}
            {{ row.client_name }}{% if forloop.last %}{% else %},{% endif %}
            {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="clear"></div>

    <div class="external">
        {% if section.lobbying_links %}
            For more information on lobbying:
            {% for link in section.lobbying_links %}
            <a href="{{ link.url }}" class="external" target="_blank">{{ link.text }}</a>
            {% endfor %}
        {% endif %}
    </div>
</div>
