{% extends "search_base.html" %}
{% load humanize %}

{% block body_class %}individual{% endblock %}

{% block main %}
    {% if num_indivs %}
    <div id="contentHeader">
        <h2>People</h2>
    </div>
    <div id="ltColumn">
        <p>The following individuals have contributed the greatest dollar amounts during the current election cycle.</p>
        <table id="mainPageTables">
            <thead>
                  <tr id="titles">
                      <th class="sort">Name</th>
                      <th class="sort">Given</th>
                  </tr>
              </thead>
              <tbody>
                  {% for result in top_n_individuals %}
                  <tr class="{% cycle 'even' 'odd' %}">
                      <td>
                          <a href="/individual/{{ result.name|slugify }}/{{ result.id }}?cycle={{cycle}}">{{ result.name }}</a>
                      </td>
                      <td>${{ result.amount|floatformat:0|intcomma }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}

