<!-- this file is included for organizations that have lobbying data to --
  -- display -->
{% load humanize %}
{% load influence_extras %}

<div class="overviewBar withNav withTip">
    <h3>Lobbying</h3>
    <span class="amount">
        {% if section.is_lobbying_firm %} 
    	    {% if entity_info.totals.firm_income %}
    	    	${{ entity_info.totals.firm_income|floatformat:0|intcomma }} Income
    	    {% endif %}
        {% else %}
        	{% if entity_info.totals.non_firm_spending %}
        		${{ entity_info.totals.non_firm_spending|floatformat:0|intcomma }} Reported Spent
        	{% endif %}
        {% endif %}
    </span>
    <div class="interiorMethodology">
        <a class="descriptor" title="More Information" href="#lobbyingDescriptor">Information</a>
        <div class="clear"></div>
        <div class="descriptorText" id="lobbyingDescriptor">
        	<p>Figures are based on lobbying activity reported to the Senate Office of Public Records. Reported dollar amounts are required to be accurate only to the nearest $20,000. For organizations whose primary business is lobbying, we display total income and top clients. For organizations that are not primarily lobbying firms, we display total amount spent on lobbying and top lobbying firms hired.</p>
        	<p>For more information, please see our <a href="/about/methodology/lobbying">lobbying methodology</a> page.</p>
        </div> 
    </div>
    <div class="clear"></div>
    {% block lobbying_details_link %}
    {% endblock %}
</div>


<div class="chartModule withNav">
    {% if cycle in "-1 2012" %}<span class="tip external">covers through Q3, 2011</span>{% endif %}
    {% if section.is_lobbying_firm %}
        <h4>Lobbying Carried Out by {{ entity_info.name }}</h4>
        <ul>
            {% if section.lobbying_lobbyists %}
                <li class="oneColumn interiorList">
                    <span class="secondaryTitle">Lobbyists Employed:</span>
                    <ul>
                        {% for row in section.lobbying_lobbyists %}
                        {% if row.lobbyist_entity %}
                        <li>
                            <a href="/individual/{{ row.lobbyist_name|standardize_individual_name|slugify }}/{{ row.lobbyist_entity }}{{cycle|pretty_cycle}}">{{ row.lobbyist_name|standardize_individual_name }}</a>,
                        </li>
                        {% else %}
                        {{ row.lobbyist_name|standardize_individual_name }}
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="clear"></div>
                </li>
            {% endif %}
      
            {% if section.lobbying_clients %}
                <li class="twoColumn">
                    <table class="twoColumn">
                        <thead>
                            <tr id="titles">
                                <th class="left">Client</th>
                                <th class="right">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in section.lobbying_clients %}
                            <tr class="{% cycle 'even' 'odd' %}">
                                <td>	    
                                    {% if row.client_entity %}
                                    <a href="/organization/{{ row.client_name|slugify }}/{{ row.client_entity }}{{cycle|pretty_cycle}}">{{ row.client_name }}</a>
                                    {% else %}
                                    {{ row.client_name }}
                                    {% endif %} 
                                </td>
                                <td class="right">${{ row.amount|floatformat:0|intcomma }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </li>
            {% endif %}
      
            {% if section.lobbying_issues %}
                <li class="oneColumn interiorList">
                    <span class="secondaryTitle">Most Frequently Disclosed Lobbying Issues:</span>  
                    <ul> 
                        {% for issue in section.lobbying_issues %}
                        <li>
                            {{issue}}{% if forloop.last %}{% else %},{% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}

            {% else %}    
                <h4>Lobbying On Behalf of {{ entity_info.name }}</h4>
                <ul>
                    {% if section.lobbying_lobbyists %}
                        <li class="oneColumn interiorList">
                            <span class="secondaryTitle">Names of Lobbyists:</span>
                            <ul>
                                {% for row in section.lobbying_lobbyists %}
                                {% if row.lobbyist_entity %}
                                <li>
                                    <a href="/individual/{{ row.lobbyist_name|standardize_individual_name|slugify }}/{{ row.lobbyist_entity }}{{cycle|pretty_cycle}}">{{ row.lobbyist_name|standardize_individual_name }}</a>,
                                </li>
                                {% else %}
                                {{ row.lobbyist_name|standardize_individual_name }}
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="clear"></div>
                        </li>
                    {% endif %}
            
            {% if section.lobbying_clients %}
                <li class="twoColumn">
                    <table class="twoColumn">
                        <thead>
                            <tr id="titles">
                                <th class="left">Firm Hired</th>
                                <th class="right">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in section.lobbying_clients %}
                            <tr class="{% cycle 'even' 'odd' %}">
                                <td>	    
                                    {% if row.registrant_entity %}
                                    <a href="/organization/{{ row.registrant_name|slugify }}/{{ row.registrant_entity }}{{cycle|pretty_cycle}}">{{ row.registrant_name }}</a>
                                    {% else %}
                                    {{ row.registrant_name }}
                                    {% endif %} 
                                </td>
                                <td class="right">${{ row.amount|floatformat:0|intcomma }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </li>
            {% endif %}
            
            {% if section.lobbying_issues %}
                <li class="oneColumn interiorList">
                    <span class="secondaryTitle">Most Frequently Disclosed Lobbying Issues:</span>
                    <ul>
                        {% for issue in section.lobbying_issues %}
                        <li>
                            {{issue}}{% if forloop.last %}{% else %},{% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}

        </ul>
    {% endif %}
    <div class="clear"></div>

    {% include "external_links.html" with external_links=section.lobbying_links %}
</div>
