{% extends "search_base.html" %}
{% load humanize %}
{% load influence_extras %}

{% block pagetitle %}
    Industries | 
{% endblock %}

{% block extrajs %}
<script type="text/javascript" charset="utf-8"> 
$(document).ready(function() {
    Brisket.contribution_single_barchart("lobbying_clients_barchart", {% if top_lobbying_clients %}{{ top_lobbying_clients|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("democratic_barchart", {% if top_donors_to_democrats %}{{ top_donors_to_democrats|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("republican_barchart", {% if top_donors_to_republicans %}{{ top_donors_to_republicans|safe }}{% else %}{}{% endif %});
});
</script>
{% endblock %}

{% block body_class %}industry{% endblock %}

{% block main %}
    {% if num_industries %}
    <div id="contentHeader">
        <h2>Industries</h2>
    </div>
    <div class="chartModule">
        <ul>
            <li class="twoColumn chart">
                {% if top_lobbying_clients %}
                <h4 class="withTip">Highest Lobbying Spending</h4>
                <div class="graph" id="lobbying_clients_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_donors_to_democrats %}
                <h4 class="withTip">Top Donors to Democrats</h4>
                <div class="graph" id="democratic_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_donors_to_republicans %}
                <h4 class="withTip">Top Donors to Republicans</h4>
                <div class="graph" id="republican_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
        </ul>
    </div>
    <div id="ltColumn">
        <p>OpenSecrets.org and FollowTheMoney.org classify contribution data into about <a href="http://www.opensecrets.org/lobby/list_indus.php">100 industries</a>. The following industries have contributed the greatest dollar amounts during the current election cycle.</p>
        <span class="tip external">based on contributions made in 2011-2012</span>
        <table id="mainPageTable" class="sortable">
            <thead>
                  <tr id="titles">
                      <th class="sort">Name</th>
                      <th class="sort">Given</th>
                  </tr>
              </thead>
              <tbody>
                  {% for result in top_n_industries %}
                  <tr class="{% cycle 'even' 'odd' %}">
                      <td>
                          <a href="/industry/{{ result.name|standardize_industry_name|slugify }}/{{ result.id }}{{cycle|pretty_cycle}}">{{ result.name|standardize_industry_name }}</a>
                      </td>
                      <td>${{ result.amount|floatformat:0|intcomma }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
