{% load humanize %}
{% load influence_extras %}

<div class="overviewBar">
  <a class="toggle">Toggle</a>
  <h3 class="insideBar">Regulations</h3>
      <div class="insideBar amount">
          <a class="descriptor" title="More Information" href="#regulationsDescriptor">Information</a>
          <div class="clear"></div>      
          <div class="descriptorText" id='regulationsDescriptor'>
			<p>Methodology goes here.</p>
          </div>      
    </div>
</div>

<div class="chartModule">

<div class="fulltext-disclaimer">Disclaimer goes here: these are full text matches against public comments on proposed regulations.</div>

{% if regulations_text %}
  <h5>Mentions in Document Text</h5>
  <table class="threeColumn mainTable" id="regulations_text">
    <thead>
      <tr>
        <th>Agency</th>
        <th>Docket</th>
        <th>Date</th>
        <th>Count</th>
    </thead>
    <tbody>
    {% for row in regulations_text %}
      <tr class="{% cycle 'even' 'odd' %}">
        <td>{{ row.agency }}</td>
        <td><a href="http://www.regulations.gov/#!docketDetail;dct=FR+PR+N+O+SR+PS;rpp=10;po=0;D={{ row.docket }}" title="{{ row.docket }}">{{ row.title }}</a></td>
        <td>{{ row.year }}</td>
        <td>{{ row.count }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if regulations_submitter %}
  <h5>Documents Submitted by the Organization</h5>
  <table class="threeColumn mainTable" id="regulations_submitter">
    <thead>
      <tr>
        <th>Agency</th>
        <th>Docket</th>
        <th>Date</th>
        <th>Count</th>
    </thead>
    <tbody>
    {% for row in regulations_submitter %}
      <tr class="{% cycle 'even' 'odd' %}">
        <td>{{ row.agency }}</td>
        <td><a href="http://www.regulations.gov/#!docketDetail;dct=FR+PR+N+O+SR+PS;rpp=10;po=0;D={{ row.docket }}" title="{{ row.docket }}">{{ row.title }}</a></td>
        <td>{{ row.year }}</td>
        <td>{{ row.count }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endif %}

  <div class="clear"></div>
  
  <div class="external">
    {% if regs_links %}
    For more information on regulations:
    {% for link in regs_links %}
    <a href="{{ link.url }}" class="external" target="_blank">{{ link.text }}</a>
    {% endfor %}
    {% endif %}
  </div>
  
  <div class="clear"></div>
</div><!-- end chartModule -->
