{% load humanize %}
{% load influence_extras %}

<div class="overviewBar withNav withTip">
    <h3>EPA Violations</h3>
    <span class="amount">{{ entity_info.totals.epa_actions_count }} Enforcement Actions</span>
    <a class="descriptor" title="More Information" href="#epaEchoDescriptor">Information</a>
    <div class="clear"></div>
    <div class="descriptorText" id='epaEchoDescriptor'>
        <p>Figures are based on data from <a href="http://www.epa-echo.gov/">the Environmental Protection Agency&#8217;s ECHO website</a>. The ECHO database contains federal and state environmental enforcement actions. Data displayed here includes only those actions that began after 2000 and resulted in fines of over $1 million. </p>
	    <p>Actions where the company was the sole defendant are listed first. Actions where the company is one of multiple defendants are listed subsequently.</p>
	    <p>For more information see our <a href="/about/methodology/echo">EPA methodology page</a>. </p>
    </div>
</div>


<div class="chartModule withNav">
    <span class="tip external">covers through EPA's October 19, 2011 release</span>
    {% include "epa_echo_table.html" with epa_echo=section.epa_echo %}

    <div class="clear"></div>
    
    {% include "external_links.html" with external_links=section.epa_links section_label='EPA violations' %}
</div><!-- end chartModule -->