{% load humanize %}
{% load influence_extras %}

<div class="overviewBar">
  <a class="toggle">Toggle</a>
  <h3 class="insideBar">Grants and Contracts, 
      {{ gc_min_year }} &ndash; {{ gc_max_year }}</h3>
</div>

<div class="chartModule">

  <table class="threeColumn">
    <thead>
      <tr>
        <th class="left">Type</th>
        <th class="left">Recipient Name</th>
	<th class="left">Year</th>
	<th class="left">Agency</th>
	<th class="left">Program</th>
	<th class="right">Amount</th>
    </thead>
    <tbody>
    {% for row in grants_and_contracts %}
      <tr class="{% cycle 'even' 'odd' %}">
        <td><div class="label-{{ row.type }}">{{ row.type }}</div></td>
        <td>{{ row.name|standardize_organization_name }}</td>
	<td>{{ row.year }}</td>
	<td>{{ row.agency|standardize_organization_name }}</td>
	<td>{{ row.program }}</td>
	<td class="right">${{ row.amount|floatformat:0|intcomma }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  
  <div class="clear"></div>
</div><!-- end chartModule -->
