{% extends "search_base.html" %}
{% load humanize %}
{% load influence_extras %}

{% block pagetitle %}
    Organizations | 
{% endblock %}

{% block extrajs %}
<script type="text/javascript" charset="utf-8"> 
$(document).ready(function() {
    Brisket.contribution_single_barchart("indexp_barchart", {% if top_indexp_pacs %}{{ top_indexp_pacs|safe }}{% else %}{}{% endif %});
});
</script>
{% endblock %}

{% block body_class %}organization{% endblock %}

{% block main %}
    {% if num_orgs %}
    <div id="contentHeader">
        <h2>Organizations</h2>
    </div>
    <div class="chartModule">
        <ul>
            <li class="twoColumn chart">
                {% if top_indexp_pacs %}
                <h4 class="withTip">Top PACs by Independent Expenditures</h4>
                <div class="graph" id="indexp_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
        </ul>
    </div>
    <div id="ltColumn">
        <p>The following organizations have contributed the greatest dollar amounts during the current election cycle.</p>
        <table id="mainPageTable" class="sortable">
            <thead>
                  <tr id="titles">
                      <th class="sort">Name</th>
                      <th class="sort">Given</th>
                  </tr>
              </thead>
              <tbody>
                  {% for result in top_n_organizations %}
                  <tr class="{% cycle 'even' 'odd' %}">
                      <td>
                          <a href="/organization/{{ result.name|standardize_organization_name|slugify }}/{{ result.id }}{{cycle|pretty_cycle}}">{{ result.name|standardize_organization_name }}</a>
                      </td>
                      <td>${{ result.amount|floatformat:0|intcomma }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
