{% extends "search_base.html" %}
{% load humanize %}
{% load influence_extras %}

{% block pagetitle %}
    Organizations | 
{% endblock %}

{% block extrajs %}
<script type="text/javascript" charset="utf-8"> 
$(document).ready(function() {
    Brisket.contribution_single_barchart("indexp_barchart", {% if top_indexp_pacs %}{{ top_indexp_pacs|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("firms_barchart", {% if top_firms %}{{ top_firms|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("lobbying_clients_barchart", {% if top_lobbying_clients %}{{ top_lobbying_clients|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("state_pac_donors_barchart", {% if top_state_pac_donors %}{{ top_state_pac_donors|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("state_employee_donors_barchart", {% if top_state_employee_donors %}{{ top_state_employee_donors|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("federal_pac_donors_barchart", {% if top_federal_pac_donors %}{{ top_federal_pac_donors|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("federal_employee_donors_barchart", {% if top_federal_employee_donors %}{{ top_federal_employee_donors|safe }}{% else %}{}{% endif %});
});
</script>
{% endblock %}

{% block body_class %}organization{% endblock %}

{% block main %}
    {% if num_orgs %}
    <div id="contentHeader">
        <h2>Organizations</h2>
    </div>
    <div class="chartModule">
        <ul>
            <li class="twoColumn chart">
                {% if top_indexp_pacs %}
                <h4 class="withTip">Top PACs by Independent Expenditures</h4>
                <div class="graph" id="indexp_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_firms %}
                <h4 class="withTip">Top Lobbying Firms by Income</h4>
                <div class="graph" id="firms_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_lobbying_clients %}
                <h4 class="withTip">Highest Lobbying Spending</h4>
                <div class="graph" id="lobbying_clients_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_state_pac_donors %}
                <h4 class="withTip">Top PAC Donors at State Level</h4>
                <div class="graph" id="state_pac_donors_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_state_employee_donors %}
                <h4 class="withTip">Top Employee Donors at State Level</h4>
                <div class="graph" id="state_employee_donors_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_federal_pac_donors %}
                <h4 class="withTip">Top PAC Donors at Federal Level</h4>
                <div class="graph" id="federal_pac_donors_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_federal_employee_donors %}
                <h4 class="withTip">Top Employee Donors at Federal Level</h4>
                <div class="graph" id="federal_employee_donors_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            {% if top_regs_submitters %}
                <li class="twoColumn">
                    <h4 class="withTip">Top Submitters of Regulations Comments</h4>
                    <span class="tip">TODO: something goes here, maybe</span>
                    <table class="twoColumn">
                        <thead>
                            <tr>
                                <th>Organization</th>
                                <th>Submission Count</th>
                            </tr> 
                        </thead>
                        <tbody>
                        {% for row in top_regs_submitters %}
                        <tr class="{% cycle 'even' 'odd' %}">
                            <td>
                                <a href="/organization/{{row.name|slugify}}/{{row.entity_id}}">{{ row.name|standardize_organization_name }}</a>
                            </td>
                            <td>${{ row.count|intcomma }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </li>
            {% endif %}
        </ul>
    </div>
    <div id="ltColumn">
        <p>The following organizations have contributed the greatest dollar amounts during the current election cycle.</p>
        <span class="tip external">based on contributions made in 2011-2012</span>
        <table id="mainPageTable" class="sortable">
            <thead>
                  <tr id="titles">
                      <th class="sort">Name</th>
                      <th class="sort">Given</th>
                  </tr>
              </thead>
              <tbody>
                  {% for result in top_n_organizations %}
                  <tr class="{% cycle 'even' 'odd' %}">
                      <td>
                          <a href="/organization/{{ result.name|standardize_organization_name|slugify }}/{{ result.id }}{{cycle|pretty_cycle}}">{{ result.name|standardize_organization_name }}</a>
                      </td>
                      <td>${{ result.amount|floatformat:0|intcomma }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
