{% load humanize %}
{% load influence_extras %}

<div class="twoColumn chartWrapper">
  <div class="chart">
    {% if section.recipients_barchart_data %}
    <h4 class="key withTip">Top Recipients</h4>
    <dl class="key">
        <dt class="employees">Employee Color Block</dt>
        <dd>Individuals</dd>

        <dt class="pac">PAC Color Block</dt>
        <dd>PAC</dd>
    </dl>
    <div class="clear"></div>
    <span class="tip">Includes contributions from the organization’s employees, their family members, and its political action committee.</span>
    <div class="graph" id="recipients_barchart">
      <!-- raphael charts here -->
    </div>
    {% endif %}
  </div>
</div>

<div class="oneColumn chartWrapper">
  <div class="chart">
    <h4 class="withTip">Republicans vs. Democrats</h4>
    <span class="tip">in dollars</span>
    <div class="graph piechart" id="piechart_party">
      <!-- raphael charts here -->
    </div>
  </div>
</div>

<div class="oneColumn chartWrapper">
  <div class="chart">
    <h4 class="withTip">State vs. Federal</h4>
    <span class="tip">in dollars</span>
    <div class="graph piechart" id="piechart_level">
      <!-- raphael charts here -->
    </div>
  </div>
</div>

{% if section.bundling_data %}
  <div class="twoColumn chartWrapper">
    <h4 class="withTip">Bundled Contributions</h4>
    <table class="twoColumn">
        <thead>
            <tr>
                <th>Recipient</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        {% for recipient_entity, recipient_name, amount in section.bundling_data %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td>
                <a href="/individual/{{recipient_name|slugify}}/{{recipient_entity}}">{{ recipient_name|standardize_politician_name }}</a>
            </td>
            <td>${{ amount|floatformat:0|intcomma }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endif %}

