{% load humanize %}
{% load influence_extras %}

<div class="overviewBar">
  <a class="toggle">Toggle</a>
  <h3 class="insideBar">Regulations,
    {% ifequal cycle "-1" %}
      {{entity_info.regulations_years.start|add:-1}} &#150; {{entity_info.regulations_years.end}}
    {% else %}
      {{cycle|add:-1}} &#150; {{cycle}}
    {% endifequal %}
  </h3>
  <div class="insideBar amount">
    <span class="amount">
      {% if entity_info.totals.regs_docket_count %}
        {{ entity_info.totals.regs_docket_count }} Mentions{% if entity_info.totals.regs_submitted_docket_count %};{% endif %}
      {% endif %}
      {% if entity_info.totals.regs_submitted_docket_count %}
        {{ entity_info.totals.regs_submitted_docket_count }} Submissions
      {% endif %}
    </span>
    <a class="descriptor" title="More Information" href="#regulationsDescriptor">Information</a>
    <div class="clear"></div>      
    <div class="descriptorText" id='regulationsDescriptor'>
      <p>All data is based on documents downloaded from <a href="http://www.regulations.gov">Regulations.gov</a>. The first table shows mentions: all documents that include the name of the company anywhere in the document or document metadata. The second table shows submissions: all documents where the submitter metadata included the company name. Each table shows the top 10 dockets, ranked by number of occurrences.</p>
      <p>Matches are based on a search for the company name. Variations in the company name, such as acronyms, nicknames or alternate names may cause documents to be missed. The mention of a company name in a document may be incidental and does not necessarily indicate that the company has any relevance to the document. Company names that are common English words may erroneously match with text that is not referring to the company.</p>
      <p>Not all agencies submit public comments to Regulations.gov. For a list of participating agencies see <a href="http://www.regulations.gov/docs/Participating_Agencies.pdf">here</a>. Agencies that do submit to Regulations.gov have varying levels of accuracy and completeness.</p>
    </div>      
  </div>
</div>

<div class="chartModule">

<div class="fulltext-disclaimer">
    The tables show occurrences of "{{ entity_info.name|standardize_organization_name }}" in public comments on proposed federal regulations.
</div>

{% if section.regulations_text %}
  <h5>Mentions in Document Text</h5>
  <div class="chartWrapper">
      <ul class="expandTableHead">
          <li class="expandCol toggle noshow"></li>
          <li class="expandCol regColCount">Mentions</li>
          <li class="expandCol regColSmall">Agency</li>
          <li class="expandCol regColLarge">Docket</li>
          <li class="expandCol regColDate">Date</li>
          <li class="clear"></li>
      </ul>
      <ul class='expandTable' id="regulations_text" data-expand-url='{{ AGGREGATES_API_BASE_URL }}aggregates/org/{{ entity_info.id }}/regulations_text_by_docket/{id}.json?apikey={{ API_KEY }}&cycle={{ cycle }}&callback=?' data-expand-template="#regPopDownTemplate">
          {% for row in section.regulations_text %}
          <li class="{% cycle 'even' 'odd' %} expandTableRow" data-expand-id="{{ row.docket }}">
                <a class="expandCol toggle">Toggle</a>
                <span class="expandCol regColCount">{{ row.count }}</span>
                <span class="expandCol regColSmall">{{ row.agency }}</span>
                <a class="expandCol regColLarge docketTitle" href="http://www.regulations.gov/#!docketDetail;dct=FR+PR+N+O+SR+PS;rpp=10;po=0;D={{ row.docket }}" title="{{ row.docket }}" target="_new">{{ row.title }}</a>
                <span class="expandCol regColDate">{% if row.year %}{{ row.year }}{% else %}Unknown{% endif %}</span>
                <div class="clear"></div>
                <div class="loading"></div>
                <div class="expandDocList"></div>
        </li>
        {% endfor %}
      </ul>
  </div>
{% endif %}

{% if section.regulations_submitter %}
  <h5>Documents Submitted by the Organization</h5>
  <div class="chartWrapper">
      <ul class="expandTableHead">
          <li class="expandCol toggle noshow"></li>
          <li class="expandCol regColCount">Submissions</li>
          <li class="expandCol regColSmall">Agency</li>
          <li class="expandCol regColLarge">Docket</li>
          <li class="expandCol regColDate">Date</li>
      </ul>
      <ul class='expandTable clear' id="regulations_submitter" data-expand-url='{{ AGGREGATES_API_BASE_URL }}aggregates/org/{{ entity_info.id }}/regulations_submitter_by_docket/{id}.json?apikey={{ API_KEY }}&cycle=-1&callback=?' data-expand-template="#regPopDownTemplate">
            {% for row in section.regulations_submitter %}
            <li class="{% cycle 'even' 'odd' %} expandTableRow" data-expand-id="{{ row.docket }}">
                <a class="expandCol toggle">Toggle</a>
                <span class="expandCol regColCount">{{ row.count }}</span>
                <span class="expandCol regColSmall">{{ row.agency }}</span>
                <a class="expandCol regColLarge docketTitle" href="http://www.regulations.gov/#!docketDetail;dct=FR+PR+N+O+SR+PS;rpp=10;po=0;D={{ row.docket }}" title="{{ row.docket }}" target="_new">{{ row.title }}</a>
                <span class="expandCol regColDate">{% if row.year %}{{ row.year }}{% else %}Unknown{% endif %}</span>
                <div class="clear"></div>
                <div class="loading"></div>
                <div class="expandDocList"></div>
            </li>
            {% endfor %}
      </ul>
 </div>

{% endif %}

  <div class="clear"></div>
  
  <div class="external">
    {% if section.regs_links %}
    For more information on regulations:
    {% for link in section.regs_links %}
    <a href="{{ link.url }}" class="external" target="_blank">{{ link.text }}</a>
    {% endfor %}
    {% endif %}
  </div>
  
  <div class="clear"></div>
</div><!-- end chartModule -->

<script type="text/html" id="regPopDownTemplate">
  <table>
  <thead>
    <tr>
      <th>Document</th>
      <% if (typeof(documents[0].files) != "undefined") { %>
      <th>View</th>
      <% } %>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  <% for (var i = 0; i < documents.length; i++) { %>
    <tr class="<%=(i % 2 == 0 ? 'even' : 'odd')%>">
      <td class="regDoc"><a href="http://www.regulations.gov/#!documentDetail;D=<%=documents[i].document_id%>" title="<%=documents[i].document_id%>" target="_new"><%=documents[i].title%></a></td>
      <% if (typeof(documents[i].files) != "undefined") { %>
        <td class="regDocDl">
        <% for (var j = 0; j < documents[i].files.length; j++) { %>
          <a href="http://www.regulations.gov/contentStreamer?objectId=<%=documents[i].files[j].object_id%>&disposition=inline&contentType=<%=documents[i].files[j].file_type%>" class="<%=documents[i].files[j].file_type%>" target="_new">Download <%=documents[i].files[j].file_type.toUpperCase()%></a>
        <% } %>
        </td>
      <% } %>
      <td class="regDocDate"><%=documents[i].nice_date%></td>
    </tr>
  <% } %>
  </tbody>
</table>
</script>
