<!-- this file is included for organizations that have lobbying data to --
  -- display -->
{% load humanize %}
{% load influence_extras %}

<div class="overviewBar withNav withTip">
    <h3>Lobbying</h3>
    <span class="amount">
        {% if section.is_lobbying_firm %} 
    	    {% if entity_info.totals.firm_income %}
    	    	${{ entity_info.totals.firm_income|floatformat:0|intcomma }} Income
    	    {% endif %}
        {% else %}
        	{% if entity_info.totals.non_firm_spending %}
        		${{ entity_info.totals.non_firm_spending|floatformat:0|intcomma }} Spent
        	{% endif %}
        {% endif %}
    </span>
    <div class="interiorMethodology">
        <a class="descriptor" title="More Information" href="#lobbyingDescriptor">Information</a>
        <div class="clear"></div>
        <div class="descriptorText" id="lobbyingDescriptor">
      		<p>Figures are based on lobbying activity reported to the Senate Office of Public Records. Reported dollar amounts are required to be accurate only to the nearest $20,000. For organizations whose primary business is lobbying, we display total income and top clients. For organizations that are not primarily lobbying firms, we display total amount spent on lobbying and top lobbying firms hired.</p>
      		<p>For more information, please see our <a href="/about/methodology/lobbying">lobbying methodology</a> page.</p>
        </div> 
    </div>
    <div class="clear"></div>
    {% block lobbying_details_link %}
    {% endblock %}
</div>

<div class="chartModule withNav">
    {% if cycle in "-1 2012" %}<span class="tip external">covers roughly through Q2, 2013</span>{% endif %}
    {% if section.is_lobbying_firm %}
        <h4>Lobbying Carried Out by {{ entity_info.name }}</h4>
        <ul>
            <li class="interiorList oneColumn">
                {% include "org_lobbying_lobbyists.html" with lobbyists=section.lobbying_lobbyists %}
            </li>

            {% if section.lobbying_clients %}
              	  <li class="twoColumn">
              		  <table class="twoColumn">
              			  <thead>
              				  <tr id="titles">
              					  <th class="left">Client</th>
              					  <th class="right">Amount</th>
              				  </tr>
              			  </thead>
              			  <tbody>
              				  {% for row in section.lobbying_clients %}
              				  <tr class="{% cycle 'even' 'odd' %}">
              					  <td>	    
              						  {% if row.client_entity %}
              						  <a href="/organization/{{ row.client_name|slugify }}/{{ row.client_entity }}{{cycle|pretty_cycle}}">{{ row.client_name }}</a>
              						  {% else %}
              						  {{ row.client_name }}
              						  {% endif %} 
              					  </td>
              					  <td class="right">${{ row.amount|floatformat:0|intcomma }}</td>
              				  </tr>
              				  {% endfor %}
              			  </tbody>
              		  </table>
              	  </li>
              {% endif %}
  
            {% if section.lobbying_issues %}
            	  <li class="interiorList oneColumn">
            		  <h5>Most Frequently Disclosed Lobbying Issues</h5>
            		  <ul>
            			  {% for issue in section.lobbying_issues %}
            			  <li>
            				  {{issue}}{% if forloop.last %}{% else %},{% endif %}
            			  </li>
            			  {% endfor %}
            		  </ul>
            		  <div class="clear"></div>
            	  </li>
            {% endif %}


    {% else %}

      <h4>Lobbying on Behalf of {{ entity_info.name|standardize_industry_name }}</h4>
      <ul>
          <li class="interiorList oneColumn">
              {% include "org_lobbying_lobbyists.html" with lobbyists=section.lobbying_lobbyists %}
          </li>

		  {% if section.lobbying_clients %}
        	  <li class="twoColumn">
        		  <table class="twoColumn">
        			  <thead>
        				  <tr id="titles">
        					  <th class="left">Firm Hired</th>
        					  <th class="right">Amount</th>
        				  </tr>
        			  </thead>
        			  <tbody>
        				  {% for row in section.lobbying_clients %}
        				  <tr class="{% cycle 'even' 'odd' %}">
        					  <td>	    
        						  {% if row.registrant_entity %}
        						  <a href="/organization/{{ row.registrant_name|slugify }}/{{ row.registrant_entity }}{{cycle|pretty_cycle}}">{{ row.registrant_name }}</a>
        						  {% else %}
        							  {{ row.registrant_name }}
        						  {% endif %} 
        					  </td>
        					  <td class="right">${{ row.amount|floatformat:0|intcomma }}</td>
        				  </tr>
        				  {% endfor %}
        			  </tbody>
        		  </table>
        	  </li>
          {% endif %}
  
		  {% if section.lobbying_issues %}
    		  <li class="interiorList oneColumn">
    			  <h5>Most Frequently Disclosed Lobbying Issues</h5>
    			  <ul>
    				  {% for issue in section.lobbying_issues %}
    				  <li>
    					  {{issue}}{% if forloop.last %}{% else %},{% endif %}
    				  </li>
    				  {% endfor %}
    			  </ul>
    		  </li>
		  {% endif %}
  {% endif %}
	
  {% if section.lobbying_bills %}
	<li class="twoColumn">
		<h5>Most Frequently Disclosed Bills</h5>
		<table>
			<thead>
				<tr class="titles">
					<th class="left">Bill No.</th>
					<th class="left">Title</th>
				</tr>
			</thead>
			<tbody>
				{% for bill in section.lobbying_bills %}
					<tr class="{% cycle 'even' 'odd' %}">
						{% if bill.link %}
							<td><a href="{{bill.link}}" target="_blank">{{bill.bill}}</a></td>
						{% else %}
							<td>{{bill.bill}}</td>
						{% endif %}
							<td>{{bill.title}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</li>
  {% endif %}
  
  {% if section.lobbyist_registration_tracker %}
	<li class="twoColumn">
		<h5>Recent Lobbying Contracts</h5>
		<table>
			<thead class="titles">
				<tr>
					<th>Date</th>
					<th>{% if section.is_lobbying_firm %}Client{% else %}Registrant{% endif %}</th>
					<th>Summary</th>
				</tr>
			</thead>
			<tbody>
				{% for record in section.lobbyist_registration_tracker %}
					<tr class="{% cycle 'even' 'odd' %}">
						<td>{{ record.date|date }}</sup></td>
						<td>
							{% if section.is_lobbying_firm %}
							{% if record.client.ie_path %}
							<a href="{{ record.client.ie_path }}">{{ record.client.name }}</a>
							{% else %}
								{{ record.client.name }}
							{% endif %}
							{% else %}
							{% if record.registrant.ie_path %}
								<a href="{{ record.registrant.ie_path }}">{{ record.registrant.name }}</a>
								{% else %}
								{{ record.registrant.name }}
								{% endif %}
							{% endif %}
						</td>
						<td>
							{{ record.specific_issue }}
							<span class="tip"><a href="http://reporting.sunlightfoundation.com{{ record.registrant.path }}/{{ record.senate_id }}">View registration</a></span>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</li>
  {% endif %}
</ul>
  <div class="clear"></div>
  
  {% include "external_links.html" with external_links=section.lobbying_links %}
</div>
