{% load humanize %}
{% load influence_extras %}

<div class="overviewBar">
  <a class="toggle">Toggle</a>
  <h3 class="insideBar">{{ section.name }}</h3>
      <div class="insideBar amount">
          <a class="descriptor" title="More Information" href="#regulationsDescriptor">Information</a>
          <div class="clear"></div>      
          <div class="descriptorText" id='facaDescriptor'>
            <p>Methodology goes here.</p>
          </div>      
    </div>
</div>

<div class="chartModule">

<div class="fulltext-disclaimer">Disclaimer goes here: these are full text matches against public comments on proposed regulations.</div>

{% if section.faca %}
  <h5>Mentions in Document Text</h5>

  <div class="expandTableHead">
      <div class="expandCol toggle active"></div>
      <div class="expandCol facaColLarge">Agency</div>
      <div class="expandCol facaColLarge">Representation</div>
      <div class="clear"></div>
  </div>
  <div class='expandTable' id="faca" data-expand-url='{{ AGGREGATES_API_BASE_URL }}aggregates/org/{{ entity_info.id }}/faca/{id}.json?apikey={{ API_KEY }}&cycle=-1&callback=?' data-expand-template="#facaPopDownTemplate">
    {% for row in section.faca %}
    <div class="{% cycle 'even' 'odd' %} expandTableRow" data-expand-id="{{ row.agency_abbr }}">
        <div class="expandCol toggle"><a class="toggle">Toggle</a></div>
        <div class="expandCol facaColLarge">{{ row.agency_name }}</div>
        <div class="expandCol facaColLarge">
            {{ row.member_count }} {{ row.member_count|pluralize:'person,people' }} on {{ row.committee_count }} committee{{ row.committee_count|pluralize }}
        </div>
        <div class="clear"></div>
        <div class="loading"></div>
        <div class="expandDocList"></div>
    </div>
    {% endfor %}
  </div>
{% endif %}

</div>

<script type="text/html" id="facaPopDownTemplate">
<table>
  <tbody>
  <% for (var i = 0; i < documents.length; i++) { %>
    <tr class="<%=(i % 2 == 0 ? 'even' : 'odd')%>">
      <td>
        <strong><%=documents[i].committee_name%></strong><br />
        <strong>Members:</strong>
        <% for (var j = 0; j < documents[i].memberships.length; j++) { %>
          <%=documents[i].memberships[j].member_name%> (<%=documents[i].memberships[j].affiliation%>, <%=documents[i].memberships[j].start_date.split("-")[0]%>&ndash;<%=documents[i].memberships[j].end_date.split("-")[0]%>)<% if (j != documents[i].memberships.length - 1) { %>, <% } %>
        <% } %>
      </td>
    </tr>
  <% } %>
  </tbody>
</table>
</script>