{% load humanize %}
{% load influence_extras %}

<div class="overviewBar">
    <a class="toggle">Toggle</a>
    <h3 class="insideBar">EPA Violations,
        {% ifequal cycle "-1" %}
            {{entity_info.epa_echo_years.start|add:-1}} &#150; {{entity_info.epa_echo_years.end}}
        {% else %}
            {{cycle|add:-1}} &#150; {{cycle}}
        {% endifequal %}
    </h3>
    <div class="insideBar amount">
      <span class="amount">
        {{ entity_info.totals.epa_actions_count }} Enforcement Actions
      </span>
      <a class="descriptor" title="More Information" href="#epaEchoDescriptor">Information</a>
      <div class="clear"></div>
      <div class="descriptorText" id='epaEchoDescriptor'>
	    <p>Figures are based on data from <a href="http://www.epa-echo.gov/">the Environmental Protection Agency&#8217;s ECHO website</a>. The ECHO database contains federal and state environmental enforcement actions. Data displayed here includes only those actions that began after 2000 and resulted in fines of over $1 million. </p>
	    <p>Actions where the company was the sole defendant are listed first. Actions where the company is one of multiple defendants are listed subsequently.</p>
	    <p>For more information see our <a href="/about/methodology/echo">EPA methodology page</a>. </p>
      </div>
    </div>
</div>


<div class="chartModule">

    {% include "epa_echo_table.html" with epa_echo=section.epa_echo %}

    <div class="clear"></div>

    <div class="external">
        {% if section.epa_links %}
        For more information, search for this organization at EPA or see TransparencyData.com:
            {% for link in section.epa_links %}
            <a href="{{ link.url }}" class="external" target="_blank">{{ link.text }}</a>
            {% endfor %}
        {% endif %}
    </div>

    <div class="clear"></div>
</div><!-- end chartModule -->

