<!-- this file is included for organizations that have lobbying data to --
  -- display -->
{% load humanize %}

<div class="overviewBar">
  <a class="toggle">Toggle</a>
  <h3 class="insideBar">Lobbying</h3>
  <span class="insideBar">
    {% if entity_info.totals.registrant_amount %} 
    ${{ entity_info.totals.registrant_amount|floatformat:0|intcomma }} Received
    {% endif %}    
  </span>
  <span class="insideBar">
    {% if entity_info.totals.client_amount %} 
    ${{ entity_info.totals.client_amount|floatformat:0|intcomma }} Spent
    {% endif %}    
  </span>
  <div id="sparklines">                
    {% block lobbying_sparkline %}
    {% endblock %}
  </div>  
  {% block lobbying_details_link %}
  {% endblock %}
</div>


<div class="chartModule">
  {% if is_lobbying_firm %}
  <div class="threeColumn chartWrapper">
    <h4>Lobbying Carried Out by {{ entity_info.name }}</h4>
    <div class="lobbyingColumn oneColumn">
      {% if lobbying_lobbyists %}
      <div class="lobbyistsOrgs chartWrapper">
        <span class="secondaryTitle">Lobbyists Employed by this Organization:</span>
        <ul>
          {% for row in lobbying_lobbyists %}
          {% if row.lobbyist_entity %}
          <li>
            <a href="/individual/{{ row.lobbyist_name|slugify }}/{{ row.lobbyist_entity }}?cycle={{cycle}}">{{ row.lobbyist_name }}</a>
          </li>
          {% else %}
          {{ row.lobbyist_name }}
          {% endif %}
          {% endfor %}
        </ul>
        <div class="clear"></div>
      </div>
      {% endif %}
      
      {% if lobbying_issues %}
      <div class="issuesLobbied">
        <span class="secondaryTitle">Issues Lobbied:</span>  
        <ul> 
	  {% for issue in lobbying_issues %}
	  <li>
	    {{issue}}{% if forloop.last %}{% else %},{% endif %}
	  </li>
	  {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    
    <table class="twoColumn">
      <thead>
        <tr id="titles">
          <th class="left">Client</th>
          <th class="right">Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for row in lobbying_clients %}
        <tr class="{% cycle 'even' 'odd' %}">
          <td>	    
            {% if row.client_entity %}
            <a href="/organization/{{ row.client_name|slugify }}/{{ row.client_entity }}?cycle={{cycle}}">{{ row.client_name }}</a>
            {% else %}
            {{ row.client_name }}
            {% endif %} 
          </td>
          <td class="right">${{ row.amount|floatformat:0|intcomma }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    
    <div class="clear"></div>
  </div>
  {% else %}  
  
  <div class="threeColumn chartWrapper">
    <h4>Lobbying On Behalf of {{ entity_info.name }}</h4>
    
    <div class="lobbyingColumn oneColumn chartWrapper">
      {% if lobbying_lobbyists %}
        <div class="lobbyistsOrgs oneColumn chartWrapper">
          <span class="secondaryTitle">Lobbied for this Organization's Issues</span>:
          <ul>
            {% for row in lobbying_lobbyists %}
            {% if row.lobbyist_entity %}
            <li>
              <a href="/individual/{{ row.lobbyist_name|slugify }}/{{ row.lobbyist_entity }}?cycle={{cycle}}">{{ row.lobbyist_name }}</a>
            </li>
            {% else %}
            {{ row.lobbyist_name }}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        
        {% if lobbying_issues %}
        <div class="issuesLobbied oneColumn">
          <span class="secondaryTitle">Issues Lobbied:</span>
          <ul>
	    {% for issue in lobbying_issues %}
	    <li>
	      {{issue}}{% if forloop.last %}{% else %},{% endif %}
	    </li>
	    {% endfor %}
          </ul>
        </div>
        {% endif %}
    </div>
    
    <table class="twoColumn">
      <thead>
        <tr id="titles">
          <th class="left">Firm Hired</th>
          <th class="right">Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for row in lobbying_clients %}
        <tr class="{% cycle 'even' 'odd' %}">
          <td>	    
            {% if row.registrant_entity %}
            <a href="/organization/{{ row.registrant_name|slugify }}/{{ row.registrant_entity }}?cycle={{cycle}}">{{ row.registrant_name }}</a>
            {% else %}
            {{ row.registrant_name }}
            {% endif %} 
          </td>
          <td class="right">${{ row.amount|floatformat:0|intcomma }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <div class="clear"></div>
  </div>
  
  {% endif %}
  
  
  <div class="clear"></div>
  
  <div class="external">
    {% block external_lobby_links %}  
    {% endblock %}
  </div>  
  
  <div class="clear"></div>
</div>
