{% load humanize %}
{% load influence_extras %}

<div class="overviewBar">
  <a class="toggle">Toggle</a>
  <h3 class="insideBar">{{ section.name }},
    {% ifequal cycle "-1" %}
      {{entity_info.faca_years.start|add:-1}} &#150; {{entity_info.faca_years.end}}
    {% else %}
      {{cycle|add:-1}} &#150; {{cycle}}
    {% endifequal %}
  </h3>
      <div class="insideBar amount">
        <span class="amount">
          {{ entity_info.totals.faca_member_count }} {{ entity_info.totals.faca_member_count|pluralize:'person,people' }} on {{ entity_info.totals.faca_committee_count }} committee{{ entity_info.totals.faca_committee_count|pluralize }}
        </span>
        <a class="descriptor" title="More Information" href="#facaDescriptor">Information</a>
        <div class="clear"></div>      
        <div class="descriptorText" id='facaDescriptor'>
          <p>Methodology goes here.</p>
        </div>      
    </div>
</div>

<div class="chartModule">

{% if section.faca %}
      <ul class="expandTableHead">
          <li class="expandCol toggle noshow"></li>
          <li class="expandCol facaColLarge">Agency</li>
          <li class="expandCol facaColLarge">Representation</li>
      </ul>
      <ul class='expandTable clear' id="faca" data-expand-url='{{ AGGREGATES_API_BASE_URL }}aggregates/org/{{ entity_info.id }}/faca/{id}.json?apikey={{ API_KEY }}&cycle={{cycle}}&callback=?' data-expand-template="#facaPopDownTemplate">
            {% for row in section.faca %}
            <li class="{% cycle 'even' 'odd' %} expandTableRow" data-expand-id="{{ row.agency_abbr }}">
                <a class="expandCol toggle">Toggle</a>
                <span class="expandCol facaColLarge">{{ row.agency_name }}</span>
                <span class="expandCol facaColLarge">
                    {{ row.member_count }} {{ row.member_count|pluralize:'person,people' }} on {{ row.committee_count }} committee{{ row.committee_count|pluralize }}
                </span>
                <div class="clear"></div>
                <div class="loading"></div>
                <div class="expandDocList"></div>
            </li>
            {% endfor %}
      </ul>
    {% endif %}
  </div>

<script type="text/html" id="facaPopDownTemplate">
<table>
  <tbody>
  <% for (var i = 0; i < documents.length; i++) { %>
    <tr class="<%=(i % 2 == 0 ? 'even' : 'odd')%>">
      <td>
        <strong><%=documents[i].committee_name%></strong><br />
        Members:
        <ul class="advisoryMembers">
            <% for (var j = 0; j < documents[i].memberships.length; j++) { %>
              <li><%=documents[i].memberships[j].member_name%> <span class="tip">(<%=documents[i].memberships[j].affiliation%>, <%=documents[i].memberships[j].start_date.split("-")[0]%>&ndash;<%=documents[i].memberships[j].end_date.split("-")[0]%>)</span><% if (j != documents[i].memberships.length - 1) { %>, <% } %></li>
            <% } %>
        </ul>
      </td>
    </tr>
  <% } %>
  </tbody>
</table>
</script>
