{% load humanize %}
{% load influence_extras %}

<div class="electionHeader">
    <h4 class="withTip">Latest FEC Data</h4>
    <span class="tip external">fundraising data updated weekly from FEC. independent expenditure data updated daily.</span>
</div>

<div class="clear"></div>
<li class="twoColumn">
    <h4 class="withTip">Independent Expenditures</h4>
    <span class="tip">money spent supporting or opposing a candidate</span>
    <table class="twoColumn">
        <thead>
            <tr>
                <th>Candidate</th>
                <th>Support/Oppose</th>
                <th>Total Spent</th>
            </tr> 
        </thead>
        <tbody>
        {% for indexp in section.fec_indexp %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td>
                {% if indexp.candidate_entity %}
                    <a href="/politician/{{indexp.candidate_name|slugify}}/{{indexp.candidate_entity}}?cycle={{ cycle }}">{{ indexp.candidate_name|standardize_politician_name }}</a>
                {% else %}
                    {{ indexp.candidate_name|standardize_politician_name }}
                {% endif %}</td>
            <td>{{ indexp.support_oppose }}</td>
            <td>${{ indexp.amount|floatformat:0|intcomma }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
</li>
<li class="twoColumn">
    <h4 class="withTip">Top Contributors</h4>
    <span class="tip">largest single contributions to the organization</span>
    <table class="twoColumn">
        <thead>
            <tr>
                <th>Contributor</th>
                <th>Date</th>
                <th>Amount</th>
            </tr> 
        </thead>
        <tbody>
        {% for row in section.fec_top_contribs %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td>{{ row.contributor_name }}</td>
            <td>{{ row.date }}</td>
            <td>${{ row.amount|floatformat:0|intcomma }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
</li>
<div class="clear"></div>



<a class="moreLink" href="{{ AGGREGATES_API_BASE_URL }}aggregates/org/{{ entity_info.id }}/fec_itemized.csv?apikey={{ API_KEY }}&cycle={{cycle}}">Download all contributions to {{ entity_info.name|standardize_name:entity_info.type }}</a>
<span class="tip">note: data comes from latest FEC filings and has not been cleaned or standardized. See section below for standardized data.</span>
<a class="moreLink" href="{{ AGGREGATES_API_BASE_URL }}aggregates/org/{{ entity_info.id }}/fec_indexp_itemized.csv?apikey={{ API_KEY }}">Download all independent expenditures made by {{ entity_info.name|standardize_name:entity_info.type }}</a>

<div class="clear"></div>
<hr class="section-divider" />