{% extends "entity_base.html" %}
{% load humanize %}

{% block extrajs %}
<script type="text/javascript" charset="utf-8"> 
  window.onload = function () {
  piechart("piechart_level", {{ level_breakdown|safe }}, "State vs. Federal");
  piechart("piechart_party", {{ party_breakdown|safe }}, "Republicans vs. Democrats");  
  barchart("recipients_barchart", {{ recipients_barchart_data|safe }}, "Top Recipients");  
  }
</script>
{% endblock %}

{% block contentHeader %}
<h2>{{ entity_info.name }}</h2>
{% endblock %}

{% block contrib_overview_amount %}
${{entity_info.contributions.contributor_amount|intcomma }} Given
{% endblock %}
{% block contrib_details_link %}
<a class="detailsLink" href="#">
  View Timeline Details
</a>
{% endblock %}

{% block chart1 %}
<h4>Top Recipients</h4>
<div class="graph" id="recipients_barchart">
  <!-- raphael charts here -->
</div>
{% endblock %}
{% block chart1_details %}
<a class="detailsLink" href="#">View All Recipients</a>
{% endblock %}


{% block chart2 %}
<h4 class="withTip">Republicans vs. Democrats</h4>
<span class="tip">in dollars</span>
<div class="graph" id="piechart_party">
  <!-- raphael charts here -->
</div>
{% endblock %}
{% block chart2_details %}
<a class="detailsLink" href="#">View Full Details</a>
{% endblock %}

{% block chart3 %}
<h4 class="withTip">State vs. Federal</h4>
<span class="tip">in dollars</span>
<div class="graph" id="piechart_level">
  <!-- raphael charts here -->
</div>
{% endblock %}
{% block chart3_details %}
    <a class="detailsLink" href="#">View Full Details</a>
{% endblock %}

{% block lobbying_hired_amount %}
{% if total_lobbying_hired %} 
    ${{ total_lobbying_hired|intcomma }} hired
{% endif %}
{% endblock %}

{% block lobbying_executed_amount %}
{% if total_lobbying_done %} 
    ${{ total_lobbying_done|intcomma }} executed
{% endif %}
{% endblock %}


{% block lobbying_tables %}

{% if lobbying_for_org %}
<div class="twoColumn chartWrapper">
  <h4>Lobbying On Behalf of {{ entity_info.name }}</h4>
  <table class="twoColumn">
    <thead>
      <tr id="titles">
        <th class="left">Firm</th>
        <th class="right">Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for row in lobbying_for_org %}
      <tr class="{% cycle 'even' 'odd' %}">
        <td>	    
	  {% if row.registrant_entity %}
	  <a href="/organization/{{ row.registrant_name|slugify }}/{{ row.registrant_entity }}?cycle={{cycle}}">{{ row.registrant_name }}</a>
	  {% else %}
	  {{ row.registrant_name }}
          {% endif %} 
        </td>
        <td class="right">${{ row.amount|intcomma }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if issues_lobbied_for %}
  <p id="description" class="clear">
    Issues Lobbied:     
    {{ issues_lobbied_for|join:", " }}
  </p>
  {% endif %}
</div>
{% endif %}

<div class="twoColumn chartWrapper">
  <h4>Lobbying Carried Out by {{ entity_info.name }}</h4>

  {% if lobbyists_employed %}
  <b>Lobbyists Employed</b>:
  {% for row in lobbyists_employed %}
  {% if row.lobbyist_entity %}
  <a href="/search?query={{ row.lobbyist_name|urlencode }}&cycle={{cycle}}"> 
    {{ row.lobbyist_name }}
  </a> 
  {% else %}
  {{ row.lobbyist_name }}
  {% endif %}

  {% if not forloop.last %}
  , 
  {% endif %}
  {% endfor %}
  {% endif %}

  {% if customers_lobbied_for %}
  <table class="twoColumn">
    <thead>
      <tr id="titles">
        <th class="left">Customer</th>
        <th class="right">Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for row in customers_lobbied_for %}
      <tr class="{% cycle 'even' 'odd' %}">
        <td>	    
	  <a href="/search?query={{ row.0|urlencode }}&cycle={{cycle}}">{{ row.0 }}</a>
        </td>
        <td class="right">${{ row.1|intcomma }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% endblock %}
