{% load humanize %}
{% load influence_extras %}

<li class="twoColumn chart">
    {% if section.industries_barchart_data %}
    <h4 class="withTip">Top Industries</h4>
    <span class="tip">OpenSecrets.org and FollowTheMoney.org classify contribution data into about 100 <a href="http://www.opensecrets.org/lobby/list_indus.php">industries</a>.</span>
    <div class="graph" id="industries_barchart">
      <!-- raphael charts -->
    </div>
    <span class="tip">{{ section.pct_known }}% of the total amount raised came from an identifiable industry.</span>
    {% endif %}
</li>

<li class="oneColumn chart">
    <h4 class="withTip">In State vs. Out of State</h4>
    <span class="tip">contributions from individuals, in dollars</span>
    <div class="graph piechart" id="piechart_local">
      <!-- raphael charts -->
    </div>
</li>

<li class="oneColumn chart">
    <h4 class="withTip">Individuals vs. PACs</h4>
    <span class="tip">in dollars</span>
    <div class="graph piechart" id="piechart_entity">
      <!-- raphael charts -->
    </div>
</li>

<li class="twoColumn chart">
    {% if section.contributors_barchart_data %}
    <h4 class="withTip key">Top Contributors</h4>
    <dl class="key">
        <dt class="employees">Employee Color Block</dt>
        <dd>Employees</dd>

        <dt class="pac">PAC Color Block</dt>
        <dd>PAC</dd>
    </dl>
    <div class="clear"></div>
    <span class="tip">Includes contributions from an organization’s employees, their family members, and its political action committee.</span>
    <div class="graph" id="contributors_barchart">
      <!-- raphael charts -->
    </div>
    {% endif %}
</li>

{% if section.bundling_data %}
    <li class="twoColumn">
        <h4 class="withTip">Bundled Lobbyist Contributions</h4>
        <span class="tip">Lobbyists and lobbying firms that raised money from multiple donors on behalf of the politician. Contributions from the lobbyist or firm itself are not included.</span>
        <table class="twoColumn">
            <thead>
                <tr>
                    <th>Bundler</th>
                    <th>Amount</th>
                </tr> 
            </thead>
            <tbody>
            {% for lobbyist_entity, lobbyist_name, firm_entity, firm_name, amount in section.bundling_data %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td>
                {% if lobbyist_entity and lobbyist_entity != firm_entity %}
                <a href="/individual/{{lobbyist_name|slugify}}/{{lobbyist_entity}}">{{ lobbyist_name|standardize_individual_name }}</a>,
                {% endif %}<a href="/organization/{{firm_name|slugify}}/{{firm_entity}}">{{ firm_name }}</a></td>
                <td>${{ amount|floatformat:0|intcomma }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </li>
{% endif %}

{% if section.partytime_data %}
    {% if section.partytime_data.past or section.partytime_data.upcoming %}
    <li class="twoColumn chartWrapper">
        <h4 class="withTip">Recent and upcoming fundraisers</h4>
        <span class="tip">Full invitations can be viewed at <a href="{{ section.partytime_link }}">Party Time</a></span>
        <table class="twoColumn">
            <thead>
                <tr id="partyTime">
                    <th>Date</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
            {% for type, events in section.partytime_data.items %}
              {% for row in events %}
                <tr class="{% cycle 'even' 'odd' %} {{ type }}">
                  <td>{{ row.date|date }}</td>
                  <td>
                    <dl>
                      <dt>Venue:</dt> 
                      <dd>{{ row.fields.entertainment }} at {{ row.fields.venue }}</dd>
                  
                      {% if row.fields.hosts %}
                        <dt class="clear">Hosted by:</dt>
                        <dd>
                        {% for host in row.fields.hosts %}
                          {{ host }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        </dd>
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
      </table>
  </li>
  {% endif %}
{% endif %}

<div class="clear"></div>
