{% extends "search_base.html" %}
{% load humanize %}
{% load influence_extras %}

{% block pagetitle %}
    Politicians | 
{% endblock %}

{% block extrajs %}
<script type="text/javascript" charset="utf-8"> 
$(document).ready(function() {
    Brisket.contribution_single_barchart("largest_donations_barchart", {% if largest_donations_in_last_month %}{{ largest_donations_in_last_month|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("top_pols_house_barchart", {% if top_by_receipts_for_house %}{{ top_by_receipts_for_house|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("top_pols_senate_barchart", {% if top_by_receipts_for_senate %}{{ top_by_receipts_for_senate|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("top_pols_president_barchart", {% if top_by_receipts_for_president %}{{ top_by_receipts_for_president|safe }}{% else %}{}{% endif %});
    Brisket.contribution_single_barchart("top_pols_governor_barchart", {% if top_by_receipts_for_governor %}{{ top_by_receipts_for_governor|safe }}{% else %}{}{% endif %});
});
</script>
{% endblock %}

{% block body_class %}politician{% endblock %}

{% block main %}
    <div id="contentHeader">
        <h2>Politicians</h2>
    </div>
    <div class="chartModule">
        <ul>
            <li class="twoColumn chart">
                {% if largest_donations_in_last_month %}
                <h4 class="withTip">Recipients of Largest Donations in Last Month</h4>
                <div class="graph" id="largest_donations_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_by_receipts_for_house %}
                <h4 class="withTip">Recipients of Most Money in House Races</h4>
                <div class="graph" id="top_pols_house_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_by_receipts_for_senate %}
                <h4 class="withTip">Recipients of Most Money in Senate Races</h4>
                <div class="graph" id="top_pols_senate_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_by_receipts_for_president %}
                <h4 class="withTip">Recipients of Most Money in Presidential Race</h4>
                <div class="graph" id="top_pols_president_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
            <li class="twoColumn chart">
                {% if top_by_receipts_for_governor %}
                <h4 class="withTip">Recipients of Most Money in Gubernatorial Races</h5>
                <div class="graph" id="top_pols_governor_barchart">
                    <!-- chart here -->
                </div>
                {% endif %}
            </li>
        </ul>
    </div>
    <div id="ltColumn">
        <p>The following politicians have received the greatest dollar amounts during the current election cycle.</p>
        <table id="mainPageTable" class="sortable">
            <thead>
                  <tr id="titles">
                      <th class="sort">Name</th>
                      <th class="sort">Position</th>
                      <th class="sort">Party</th>
                      <th class="sort">State</th>
                      <th class="sort">Received</th>
                  </tr>
              </thead>
              <tbody>
                  {% for result in top_n_politicians %}
                  <tr class="{% cycle 'even' 'odd' %}">
                      <td class="lawmakerName">
                          <a href="/politician/{{ result.name|standardize_politician_name|slugify }}/{{ result.id }}{{cycle|pretty_cycle}}">{{ result.name|standardize_politician_name }}</a>
                      </td>
                      <td>{{ result.seat|seat_label }}</td>
                      <td>{{ result.party }}</td>
                      <td>{{ result.state }}</td>
                      <td>${{ result.amount|floatformat:0|intcomma }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
        </table>
    </div>
{% endblock %}
