{% load humanize %}
{% load influence_extras %}

<h3>Latest FEC Data</h3>
<span class="tip external">covers through candidate's {{section.fec_summary.clean_date|date:"F j, Y"}} filing. data downloaded weekly from the FEC.</span>
<ul>

<li class="oneColumn fecStats">
    <h4 class="withTip">Summary</h4>
    <span class="tip">overview of how much the candidate raised and spent, and where that money came from</span>
    <div class="graph piechart" id="piechart_fec">
      <!-- raphael charts -->
    </div>
    <dl>
        <dt class="clear">Total Raised:</dt>
        <dd class="amount">
            ${{ section.fec_summary.total_raised|floatformat:0|intcomma }}
            <span class="blockedSpan tip">#{{section.fec_summary.total_receipts_rank}} of {{section.fec_summary.max_rank}} {{ entity_info.metadata.seat|seat_adjective }} candidates</span>
        </dd>

        <dt class="clear">Total Spent:</dt>
        <dd>
            ${{ section.fec_summary.disbursements|floatformat:0|intcomma }}
            <span class="blockedSpan tip">#{{section.fec_summary.total_disbursements_rank}} of {{section.fec_summary.max_rank}} {{ entity_info.metadata.seat|seat_adjective }} candidates</span>
        </dd>
        
        <dt class="clear">Cash on Hand:</dt>
        <dd>
            ${{ section.fec_summary.cash_on_hand|floatformat:0|intcomma }}
            <span class="blockedSpan tip">#{{section.fec_summary.cash_on_hand_rank}} of {{section.fec_summary.max_rank}} {{ entity_info.metadata.seat|seat_adjective }} candidates</span>
        </dd>
    </dl>
</li>
<li class="twoColumn">
    <h4 class="withTip">Contributions Over Time</h4>
    <span class="tip">reflects only contributions over $200, as smaller contributions are not individually reported. For some candidates a significant portion of their fundraising may not be captured by this chart.</span>
    <div id="timeline_fec"></div>
</li>
<div class="clear"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
$(function() {
    // pie chart
    Brisket.fec_piechart("piechart_fec", {
        "Individuals": {{ section.fec_summary.contributions_indiv }},
        "PACs": {{ section.fec_summary.contributions_pac }},
        "Party": {{ section.fec_summary.contributions_party }},
        "Self-Financing": {{ section.fec_summary.contributions_candidate }},
        "Transfers": {{ section.fec_summary.transfers_in }}
    });

    // line graph
    Brisket.timeline_chart("timeline_fec", {{ section.fec_timelines|safe }})
})
</script>

</ul>
<div class="clear"></div>
<hr class="section-divider" />