{% load humanize %}
{% load influence_extras %}

<div class="electionHeader">
    <h4 class="withTip">Latest FEC Data</h4>
    <span class="tip external">covers through candidate's {{section.fec_summary.clean_date|date:"F j, Y"}} filing. independent expenditures downloaded daily.</span>
</div>
<ul>

<li class="oneColumn fecStats">
    <h4 class="withTip">Summary</h4>
    <span class="tip">overview of how much the candidate raised and spent, and who contributed it</span>
    <div class="graph piechart" id="piechart_fec">
      <!-- raphael charts -->
    </div>
    <dl>
        <dt class="clear">Total Raised:</dt>
        <dd class="amount">
            ${{ section.fec_summary.total_raised|floatformat:0|intcomma }}
            <span class="blockedSpan tip">#{{section.fec_summary.total_receipts_rank}} of {{section.fec_summary.max_rank}} {{ entity_info.metadata.seat|seat_adjective }} candidates</span>
        </dd>

        <dt class="clear">Total Spent:</dt>
        <dd>
            ${{ section.fec_summary.disbursements|floatformat:0|intcomma }}
            <span class="blockedSpan tip">#{{section.fec_summary.total_disbursements_rank}} of {{section.fec_summary.max_rank}} {{ entity_info.metadata.seat|seat_adjective }} candidates</span>
        </dd>
        
        <dt class="clear">Cash on Hand:</dt>
        <dd>
            ${{ section.fec_summary.cash_on_hand|floatformat:0|intcomma }}
            <span class="blockedSpan tip">#{{section.fec_summary.cash_on_hand_rank}} of {{section.fec_summary.max_rank}} {{ entity_info.metadata.seat|seat_adjective }} candidates</span>
        </dd>
    </dl>
</li>
<li class="twoColumn">
    <h4 class="withTip">Contributions Over Time</h4>
    <span class="tip">reflects only contributions over $200, as smaller contributions are not individually reported. For some candidates a significant portion of their fundraising may not be captured by this chart.</span>
    <div id="timeline_fec"></div>
</li>
{% if section.fec_indexp %}
    <div class="clear"></div>
    <li class="twoColumn">
        <h4 class="withTip">Independent Expenditures</h4>
        <span class="tip">outside groups that spent money supporting or opposing the candidate</span>
        <table class="twoColumn">
            <thead>
                <tr>
                    <th>Committee Name</th>
                    <th>Support/Oppose</th>
                    <th>Total Spending</th>
                </tr> 
            </thead>
            <tbody>
            {% for indexp in section.fec_indexp %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td>
                    {% if indexp.committee_entity %}
                        <a href="/organization/{{indexp.committee_name|slugify}}/{{indexp.committee_entity}}?cycle={{ cycle }}">{{ indexp.committee_name|standardize_organization_name }}</a>
                    {% else %}
                        {{ indexp.committee_name|standardize_organization_name }}
                    {% endif %}
                <td>{{ indexp.support_oppose }}</td>
                <td>${{ indexp.amount|floatformat:0|intcomma }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </li>
    <div class="clear"></div>
{% endif %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
$(function() {
    // pie chart
    Brisket.fec_piechart("piechart_fec", {
        "Individuals": {{ section.fec_summary.contributions_indiv }},
        "PACs": {{ section.fec_summary.contributions_pac }},
        "Party": {{ section.fec_summary.contributions_party }},
        "Self-Financing": {{ section.fec_summary.contributions_candidate }},
        "Transfers": {{ section.fec_summary.transfers_in }}
    });

    // line graph
    Brisket.timeline_chart("timeline_fec", {{ section.fec_timelines|safe }})
})
</script>

</ul>

<a class="moreLink" href="{{ AGGREGATES_API_BASE_URL }}aggregates/pol/{{ entity_info.id }}/fec_itemized.csv?apikey={{ API_KEY }}&cycle={{cycle}}">Download all contributions to {{ entity_info.name|standardize_name:entity_info.type }}</a>
<span class="tip">note: data comes from latest FEC filings and has not been cleaned or standardized. See section below for standardized data.</span>
<a class="moreLink" href="{{ AGGREGATES_API_BASE_URL }}aggregates/pol/{{ entity_info.id }}/fec_indexp_itemized.csv?apikey={{ API_KEY }}">Download all independent expenditures for or against {{ entity_info.name|standardize_name:entity_info.type }}</a>

<div class="clear"></div>
