<div class="twoColumn chartWrapper"> 
  <div class="chart"> 
    {% if sectors_barchart_data %}
    <h4>Industry Sectors</h4>
    <div class="graph" id="sectors_barchart">
      <!-- raphael charts -->
    </div>
    {% endif %}
  </div>
</div>

<div class="oneColumn chartWrapper">
  <div class="chart">
    <h4 class="withTip">In State vs. Out of State</h4>
    <span class="tip">in dollars</span>
    <div class="graph piechart" id="piechart_local">
      <!-- raphael charts -->
    </div>
  </div>
</div>

<div class="oneColumn chartWrapper">
  <div class="chart">
    <h4 class="withTip">Individuals vs. PACs</h4>
    <span class="tip">in dollars</span>
    <div class="graph piechart" id="piechart_entity">
      <!-- raphael charts -->
    </div>
  </div>
</div>

<div class="twoColumn chartWrapper"> 
  <div class="chart"> 

    {% if contributors_barchart_data %}
    <h4 class="withTip key">Top Contributors</h4>
    <dl class="key">
        <dt class="employees">Employee Color Block</dt>
        <dd>Employee</dd>
        
        <dt class="pac">PAC Color Block</dt>
        <dd>PAC</dd>           
    </dl>    
    <div class="clear"></div>
    <span class="tip">Includes contributions from employees of the organization and contributions from the organization's PAC</span>
    <div class="graph" id="contributors_barchart">
      <!-- raphael charts -->
    </div>
    {% endif %}
  </div>
</div>

<div class="clear"></div>

