{% extends "entity_base.html" %}
{% load humanize %}
{% load influence_extras %}

{% block pagetitle %}
    {{ entity_info.name|standardize_politician_name }}
    {% if entity_info.metadata.party %}
        ({{entity_info.metadata.party}})
    {% endif %}
    {{entity_info.metadata.state}}
    {% if entity_info.metadata.yrs_of_service %}
        {{entity_info.metadata.yrs_of_service}}
    {% endif %}
    | 
{% endblock %}

{% block canonicalurl %}/politician/{{ entity_info.name|standardize_politician_name|slugify }}/{{ entity_info.id }}{% if request.GET.cycle %}?cycle={{ request.GET.cycle }}{% endif %}{% endblock %}

{% block body_class %}politician{% endblock %}

{% block extrajs %}
{% if not suppress_contrib_graphs %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    sparkline("sparklines", {% if sparkline_data %}{{ sparkline_data|safe }}{% else %}[]{% endif %});
    piechart("piechart_local", {% if local_breakdown %} {{ local_breakdown|safe }} {% else %} {} {% endif %} );
    piechart("piechart_entity", {% if entity_breakdown %} {{ entity_breakdown|safe }} {% else %} {} {% endif %} );
    barchart("sectors_barchart", {% if sectors_barchart_data %}{{ sectors_barchart_data|safe }} {% else %}[]{% endif %});
    barchart("contributors_barchart", {% if contributors_barchart_data %}{{ contributors_barchart_data|safe }} {% else %}[]{% endif %});
});
</script>
{% endif %}
{% endblock %}

{% block contentHeader %}


{% if entity_info.metadata.photo_url %}
<img alt="political photo" src="{{ entity_info.metadata.photo_url }}"/>
{% endif %}

<h2>{{ entity_info.name|standardize_politician_name }}</h2>
<dl>
  <dt class="noshow">Party</dt>

  <dt class="noshow">State</dt>
  <dd>{{entity_info.metadata.state}}</dd>

  {% if entity_info.metadata.seat %}
  <dt class="noshow">Seat</dt><dd>{{ entity_info.metadata.seat|seat_label }}</dd>
  {% endif %}

  {% if entity_info.metadata.party == 'D' %}
  <dd>Democrat</dd>
  {% else %}{% if entity_info.metadata.party == 'R' %}
  <dd>Republican</dd>
  {% else %}
  <dd>{{ entity_info.metadata.party }}</dd>
  {% endif %}{% endif %}

  {% if entity_info.metadata.yrs_of_service %}
  <dt>Years of Service:</dt>
  <dd>{{entity_info.metadata.yrs_of_service}}</dd>
  {% endif %}

</dl>
<div class="clear"></div>
{% endblock %}

{% if entity_info.metadata.bio %}
{% block description %}
{{ entity_info.metadata.bio|safe }}
{% if entity_info.metadata.bio_url and entity_info.meta.source_display_name != "Sunlight" %}
<p id="bio_source">Source: <a href="{{ entity_info.metadata.bio_url }}" target="_new">{{ entity_info.metadata.source_display_name }}</a></p>
{% endif %}
{% endblock %}
{% endif %}

{% block contributions %}
{% if contributions_data %}
{% include "contributions.html" %}
{% endif %}
{% endblock %}


{% block charts %}
{% endblock %} <!-- end charts block -->


{% block lobbying %}
{% endblock %}

