{% extends "entity_base.html" %}
{% load humanize %}
{% load influence_extras %}

{% block pagetitle %}
    : {{ entity_info.name|standardize_politician_name }}
    {% if metadata.party %}
        ({{metadata.party}})
    {% endif %}
    {{metadata.state}}
    {% if metadata.yrs_of_service %}
        {{metadata.yrs_of_service}}
    {% endif %}
{% endblock %}

{% block body_class %}politician{% endblock %}

{% block extrajs %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  sparkline("sparklines", {% if sparkline_data %}{{ sparkline_data|safe }}{% else %}[]{% endif %});
  piechart("piechart_local", {% if local_breakdown %} {{ local_breakdown|safe }} {% else %} {} {% endif %} );
  piechart("piechart_entity", {% if entity_breakdown %} {{ entity_breakdown|safe }} {% else %} {} {% endif %} );
  barchart("sectors_barchart", {% if sectors_barchart_data %}{{ sectors_barchart_data|safe }} {% else %}[]{% endif %});
  barchart("contributors_barchart", {% if contributors_barchart_data %}{{ contributors_barchart_data|safe }} {% else %}[]{% endif %});
});
</script>

{% endblock %}

{% block contentHeader %}


{% if metadata.photo_url %}
<img alt="political photo" src="{{ metadata.photo_url }}"/>
{% endif %}

<h2>{{ entity_info.name|standardize_politician_name }}</h2>
<dl>
  <dt class="noshow">Party</dt>

  {% if metadata.party == 'D' %}
  <dd>Democrat</dd>
  {% else %}
  {% if metadata.party == 'R' %}
  <dd>Republican</dd>
  {% else %}
  <dd>{{ metadata.party }}</dd>
  {% endif %}
  {% endif %}

  <dt class="noshow">State</dt>
  <dd>{{metadata.state}}</dd>

  {% if metadata.yrs_of_service %}
  <dt>Years of Service:</dt>
  <dd>{{metadata.yrs_of_service}}</dd>
  {% endif %}
</dl>
<div class="clear"></div>
{% endblock %}

{% if metadata.biography %}
{% block description %}
{{ metadata.biography }}
{% endblock %}
{% endif %}

{% block contributions %}
{% if contributions_data %}
{% include "contributions.html" %}
{% endif %}
{% endblock %}


{% block charts %}
{% endblock %} <!-- end charts block -->


{% block lobbying %}
{% endblock %}

