{% extends "search_base.html" %}

{% block main %}

	<div id="contentHeader">
	    <h2>Postcards</h2>
	</div>

	<div class="module">

	    <p>Thank you for your interest in Influence Explorer's election postcards. Now that the election is passed we are no longer taking orders. You can still share the same information that was on the postcards over email, Facebook or Twitter--just follow one of the links above or use the search box, then use the Share button at the top of any page.</p>
		
	</div>

{% endblock %}
