<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>Graph google spreadsheet data Raphael.js</title>
    <script src="/media/js/raphael-min.js"></script><!-- my copy -->
    <script src="/media/js/g.raphael-min.js"></script><!-- my copy -->
    <script src="/media/js/g.bar.patched.js"></script><!-- my copy -->
    <script type="text/javascript">
        /*
         * Specify the information about our spreadsheet
         */
        var spreadsheet_id = "tiRm6cBSE3AZJnyLC6Wlysw",
        worksheet_id = "od6";
        /*
         * Creates a script tag in the page that loads in the 
         * JSON feed for the specified key/ID. 
         * Once loaded, it calls loadGraphJSON.
         */
        function getJSON() {
          var script = document.createElement('script');
          
          script.setAttribute('src', 'http://spreadsheets.google.com/feeds/list'
                                 + '/' + spreadsheet_id + '/' + worksheet_id + '/public/values' +
                                '?alt=json-in-script&callback=loadGraphJSON');
          // insert the script tag into the header
          document.documentElement.firstChild.appendChild(script);
        }
        
        /**
         * Extract the information we need into 2 lists (data and labels)
         * We iterate over the rows (json.feed.entry) of the json object
         * and extract our day and distance columns.
         * Once this list created, we call drawChart to draw the graph
         */
        function loadGraphJSON(json) {
            var data = [];
            var labels = [];
            for (var i = 0; i < json.feed.entry.length; i++) {
                var entry = json.feed.entry[i];
                //this is our first column
                labels.push(entry["gsx$day"].$t);
                // this is our second column
                // We need to convert it to float because we get the data as string
                data.push(parseFloat(entry["gsx$distance"].$t));
            }
            drawChart(labels, data);
        }
        
        function drawChart(labels, data) {
            /* 
             * Create an instance of raphael and specify:
             * the ID of the div where to insert the graph
             * the width
             * the height
             */
            var r = Raphael("holder", 600, 300);
            
            /*
             * Create the chart at the position with the parameters:
             * * pos on the x axis where the drawing start
             * * pos on the y axis where is drawing start
             * * width
             * * height
             * * the values: it needs to be a list of list since you can have multiple data
             * * extra parameters:
             *      stacked: Putting stacked to false seems to create a problem with the labels
             *      type: the end of the bar, it can be: round sharp soft
             */
            var chart = r.g.barchart(10, 10, 580, 280, [data], {stacked: true, type: "soft"});
            
            /*
             * Create an hover effect to display the value when the mouse is over the graph.
             */
            chart.hover(function() {
                // Create a popup element on top of the bar
                this.flag = r.g.popup(this.bar.x, this.bar.y, (this.bar.value || "0") + " km").insertBefore(this);
            }, function() {
                // hide the popup element with an animation and remove the popup element at the end
                this.flag.animate({opacity: 0}, 300, function () {this.remove();});
            });
            
            /*
             * Define the default text attributes before writing the labels
             * you can find pore information about the available attributes at:
             *   http://raphaeljs.com/reference.html#attr
             * and in the SVG specification:
             *   http://www.w3.org/TR/SVG/
             */ 
            r.g.txtattr = {font:"12px Fontin-Sans, Arial, sans-serif", fill:"#000", "font-weight": "bold"};
            
            /*
             * We write the labels.
             * There is a bug not fixed at the time of writing this article. We added a patch to 
             * g.bar.js : http://github.com/DmitryBaranovskiy/g.raphael/issues#issue/11
             */
            chart.label(labels);
            
            /*
             * Set all the bar greater or equals than 15 to red
             */
            // iterate over all the bar
            for (var i = 0; i < chart.bars[0].length; i++) {
                var bar = chart.bars[0][i];
                // if the value of the bar is greater or equals to 15 we change the color to red
                if (bar.value >= 15) {
                    bar.attr("fill", "#bf2f2f");
                    bar.attr("stroke", "#bf2f2f");
                }
            }
        }
        
        window.onload = function() {
            getJSON();
        }   
    </script>
</head>
<body>
    <h1>Demo of google spreadsheet and raphael.js</h1>
    <div id="holder"></div>
</body>
</html>
