{% extends "base.html" %}

{% block js %}
{% block extrajs %}
<!-- extrajs is where the charts are loaded and must go *before* the --
  -- div is hidden -->
{% endblock %}
{% endblock %}
{% block body_class %}search{% endblock %}

{% block search %}

<div id="search">
  <form id="searchForm" action="{{ IE_BASE_URL }}search" method="get">
    {{ search_form.query }}
    <input type="hidden" name="from_form" value="1" />
    <button class="searchBtn_sm" type="submit">
      <span>Go</span>
    </button>
  </form>
  <div class="clear"></div>
  <span class="tip">Enter a politician, company or individual donor</span>
</div>

{% endblock %}

