/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ul { list-style: none; }
blockquote, q { 
	background:url('../images/quotes.png') 12px top no-repeat ;
	quotes: '»' '«' ;
	margin-left:30px;
    padding-left:35px;
    border-left: 1px solid #E5E4DB;
	color: #726B68; 
	margin-bottom: 1em;
	}
	
.pull_left, .pull_right { 
	background:url('../images/quotes_lg.png') 12px 12px no-repeat ;
	margin: 25px 65px 25px 30px;
	padding: 15px 0 15px 35px;
	color: #494442;
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-style: oblique; 
	font-size: 220%; 
	display: block;
	line-height: 38px;
	text-align: center;
	border-top: 1px solid #E5E4DB;
	border-bottom: 1px solid #E5E4DB;
	}
	
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; width: 100%;}
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

body { color: #666666; background: url(../images/bg.jpg) top left repeat-x #edede6; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 21px; font-size: 82%; } 
button.disabled { opacity: 0.3; filter: alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
p { margin-bottom: 1.3em;}

html { overflow-y: scroll; }

iframe { display: block; margin: 10px 0; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #0a6e92; text-decoration: none;}
a:hover { color: #0a6e92; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th, b { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; line-height:1px;}
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit] { cursor: pointer; } 
button, input, select, textarea { margin: 0; color: #58595b;}
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

.normalForm label { width: 120px; display: block; float: left; text-transform: uppercase; font-weight: bold;}
.normalForm input, .normalForm textarea { width: 300px;}
.normalForm { margin-top: 30px;}

::-moz-selection{ background: #CA5703; color:#fff; text-shadow: none; }
::selection { background:#CA5703; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #CA5703; } 

button, .buttonLink { width: auto; text-indent: -9999em; display: block; border: none; cursor: pointer; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both;}


.home p { margin-bottom: 1em;}
div#pageMain, footer { width: 960px; margin: 0 auto; }
.graph { position: relative; }

.tip, .searchBox .results, .topPages .results, .help { font-family: Georgia, Times New Roman, Times, serif; font-style: oblique; font-size: 100%; text-transform: lowercase; line-height: 17px; }
.tip { line-height: 17px; display: block; color: #827d7d; margin-bottom: 25px; max-width: 650px;}
.moreLink { font-style: italic; font-family: Georgia, Times New Roman, Times, serif; font-size: 120%; margin-bottom: 10px; display: block; background: url(../images/icon_viewMore.jpg) top left no-repeat; padding-left: 30px;}

/*headers*/
h1 { float: left; padding-top: 100px; margin-bottom: 5px; width: 440px; height: 61px; margin-left: 10px;}
h1 a { color: #000; text-decoration: none; font-size: 470%; text-transform: uppercase; line-height: 70px; text-indent: -9999em; display: block; background: url(../images/logo.png) top left no-repeat; width: 440px; height: 61px;}

h2 { font-family: Impact, Helvetica Neue, Helvetica, Arial, sans-serif; color: #000000; font-size: 380%; line-height: 45px; }
h2 big { text-transform: uppercase; margin-right: 10px;}
.overviewBar h3 { float: left;  margin-bottom: 0px;  margin-right: 25px;}
h3 { font-weight: bold; color: #3b3130; text-transform: uppercase; font-size: 160%; line-height: 25px; margin-bottom: 25px;}
h4, .h4 { color: #3b3130; font-size: 145%; margin-bottom: 15px; font-weight: normal; float: none; margin-right: 0px;}
h4.key { float: left; margin-right: 20px;}
h5, .h5 { font-size: 125%; text-transform: capitalize; float: none; margin-bottom: 15px; color: #59504f; font-weight: bold; line-height: 24px;}
h6, .h6 { font-size: 110%; font-weight: bold;}
.smTip { margin-bottom: 0;}

#FeatureText { background: url(../images/bg_feature.jpg) top left no-repeat; width: 893px; height: 262px; text-indent: -9999em; display: block; margin: -34px 0 0 10px;}
#featureContent li#explored { width: 100%;}
#featureContent li#tools { width: 415px;  float: left; }
#featureContent li#topPages { width: 505px; float: left; width: 415px; margin-right: 40px;}
#featureContent li li { width: auto;}
#featureContent li h3 { background: url(../images/bg_highlightCircle.png) left top no-repeat; padding-left: 35px;}
.shift { margin-left: 35px;}
.colOne.shift {padding-right:10px;}

#tools img { float: left; margin-right: 20px;}
.toolDes { float: left; width: 280px;}

#share-buttons { float: right; height: 16px; margin-bottom: 10px; margin-right: 18px; }
#share-buttons div.socialite { display: inline-block; margin: 4px; margin-bottom: 0px; }
#share-buttons a.facebook-share { background: url(../images/socialSprites.png) left -48px no-repeat !important; height: 16px; width: 16px; display: inline-block; }
#share-buttons a.facebook-share:hover { background: url(../images/socialSprites.png) left -32px no-repeat !important; }
#share-buttons a.twitter-simple { background: url(../images/socialSprites.png) left -16px no-repeat !important; height: 16px; width: 16px; display: inline-block; }
#share-buttons a.twitter-simple:hover { background: url(../images/socialSprites.png) left top no-repeat !important; }
#share-buttons .gig-share-button { padding: 4px 0px 0px 5px !important; }
#share-buttons .gig-bar-container table { margin-top: 0 !important; }

#newsTitle { color: #b5c6c3; text-transform: lowercase; font-weight: normal; margin-bottom: -10px; padding-left: 40px;}
#news {
    background: #e6f0ef;
    background: rgba(105,165,159,.17);
    border-top: 1px solid #eae9e9; border-bottom: 1px solid #eae9e9; padding: 25px 40px;
}
#newsWrapper { border-bottom: 1px dashed #e0e0df; border-top: 1px dashed #e0e0df; padding: 3px 0; margin-bottom: 50px;}

.colOne {
    -moz-column-count: 2;
    -moz-column-gap: 40px;
    -webkit-column-count: 2;
	-webkit-column-gap: 40px;
    column-count: 2;
    column-gap: 40px;
}

#header_tools { background: url(../images/bg_tools.jpg) right 8px no-repeat; padding: 10px 0 12px; margin-bottom: 25px;}
#header_explored { background: url(../images/bg_explored.jpg) right 8px no-repeat; padding: 10px 0 12px; }
.toolDescription { width: 365px; float: left;}

#topPages li, .bulleted li { float: none; list-style-type: disc; margin-left: 15px;}
#topPages span { display: block;}

.contentModule { margin-bottom: 40px;}

#contentHeader { border-bottom: 1px dashed #dcdcd8; margin-bottom: 15px; padding: 0 40px 10px; position: relative; z-index: 2;}
#contentHeader img { float: left; margin-right: 20px; border: 2px solid #e0e0df; width: 60px;}
#mainContent .interior { margin-bottom: 40px;}

#mainContent .corporateLogo { float: right; height: 45px; border: 0px; width: auto; max-width: 180px; max-height: 80px; margin-top: -40px; margin-right: 0;}

.searchBox ul { margin-top: 15px; }
.searchBox h3 { clear: both; }
.searchBox li { padding: 10px;}
.searchBox a { float: left; margin-right: 10px;}
.searchBox p.description a { float: none; margin-right: 0px; }
.searchBox p.description, #postcardDescription { font-style: oblique; font-family: Georgia, Times New Roman, Times, serif; color: #827d7d; width: 665px; margin-bottom: 25px;}

#search { float: right; padding-top: 20px; width: 370px;}

dl { margin-top: 15px;}
.noshow { display: none; }
dt { float: left; margin-right: 5px; font-weight: bold; }
dd { float: left; margin-right: 15px;}

.tdata dt { float: none;}
.tdata dd { margin-left: 25px; margin-bottom: 15px; float: none;}

table dl { margin-top: 0;}
table dd { width: 320px;}

/* main nav */
header nav { background: url(../images/nav_bg.jpg) top left no-repeat; height: 48px; margin: 0 10px;}
.flexwidth header nav { background: url(../images/nav_bgFlex.jpg) top left repeat-x; }
header nav > ul > li {
    float: left;
    background: url("../images/nav_tick.png") no-repeat top right;
    position: relative;
}
header nav > ul > li > a {
    display: block;
    height: 42px;
    margin-top: 2px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 24px 0px 24px;
    color: #000000 !important;
    border: 1px solid rgba(0,0,0,0);
}
header nav > ul > li > a:hover,
body.individual li#people > a,
body.group li#groups > a,
body.place li#places > a,
body.collection li#collections > a,
body.realtime li#realtime > a,
body.tdata li#data > a {
    border: 1px solid rgba(108, 98, 98, .14);
    background: rgba(90, 157, 141, .14);
}
nav li#data {
    float: right;
    background: url("../images/nav_tick.png") no-repeat top left;
}

/* sub-nav items */
header nav > ul > li > ul {
    position: absolute;
    top: 48px;
    z-index: 999;
    border: 1px solid rgba(108, 98, 98, .14);
    background: rgba(255,255,255,0.9);
    padding: 4px 0px 4px 0px;
    width: 160px;
    display: none;
}
header nav > ul > li > ul li a {
    display: block;
    border: 1px solid rgba(0,0,0,0);
    width: 110px;
    margin-left: -5px;
    padding: 4px 29px 4px 29px;
}
header nav > ul > li > ul li a:hover {
    background: rgba(90, 157, 141, .14);
    border: 1px solid rgba(108, 98, 98, .14);
}

input#id_query { background: url(../images/searchBox.png) top left no-repeat; display: block; width: 261px; height: 37px; margin-right: 10px; padding: 7px 10px 8px; border: none; float: left; font-size: 250%; text-transform: uppercase; font-family: Impact, Helvetica Neue, Helvetica, Arial, sans-serif;}

div#outerwrapper { background: url(../images/bg.jpg) top left repeat-x #edede6; }
div#wrapper { background: url(../images/corner.jpg) top right no-repeat;}

div#mainContent_top { background: url(../images/whitebox_top.png) top left no-repeat; height: 10px; margin-top: 4px; }
div#mainContent { background: url(../images/whitebox_middle.png) top left repeat-y; padding-top: 25px; padding-bottom: 55px;}
div#mainContent_bottom { background: url(../images/whitebox_bottom.png) center top no-repeat; height: 10px;}

#changeDates { background: url(../images/bg_currentView.jpg) top left no-repeat; height: 28px; padding-left: 115px; padding-top: 12px; position: absolute; top: 0px; left: 0px; width: 845px; }
#changeDates label { width: auto; font-weight: bold; margin-right: 15px;}
#changeDates select { float: left; margin-right: 15px;}

#description { font-style: oblique; font-family: Georgia, Times New Roman, Times, serif; color: #827d7d; width: 665px; margin-bottom: 25px; float: left}

.external { font-family: Georgia, Times New Roman, Times, serif; color: #827d7d; font-size: 85%; font-style: oblique; display: block; margin-top: 5px;}
.external a { padding-left: 5px; }

.overviewBar { background: url(../images/overviewBar_2.png) top left repeat; padding-top: 10px; height: 35px; margin: 30px 0 40px; }
.interiorMethodology { float: left; width: auto;}

.module { padding: 0 40px;}
.chartModule { padding: 0 5px 30px 40px; }
.withNav { padding-left: 115px;}
.chartModule li { margin-right: 35px; margin-bottom: 55px;}
.insideList li { margin-right: 0; margin-bottom: 0;}

.oneColumn { width: 240px; float: left;}
.twoColumn { width: 520px; float: right;}
.threeColumn { width: 785px; }
.chartWrapper table { margin-top: 15px;}

.chart { height: 290px; margin-bottom: 25px !important; overflow-y: hidden;}
.chartWrapper .tip, div.searchBox .results { display: block; color: #827d7d;}
.chart .tip { margin-bottom: 0px;}

#ltColumn { padding: 0 25px 0 40px; width: 565px; float: left; overflow: hidden;}
#rtColumn {
    background: #f1f2ed;
    background: rgba(199,203,183,0.25);
    padding: 45px 40px 80px 25px; width: 265px; float: left; overflow: hidden; margin-bottom: 50px;
}
#fullColumn { padding: 0 40px 80px 40px; }
#mainContent .withBg {
    background: #f1f2ed;
    background: rgba(199,203,183,0.25);
    margin-top: -25px; padding-top: 25px;
}

.pagination { margin-top: 10px; font-size: 110%; text-align: center; font-family: Georgia, Times New Roman, Times, serif; font-style: oblique; }
.pagination .prev { display: inline-block; width: 150px; text-align: left; }
.pagination .next { display: inline-block; width: 150px; text-align: right; }

#mainContent .withTabs { padding-left: 0;}

.piechart { margin-top: 20px;}
span.amount { float: left; margin-right: 5px;float: left; color: #797070; text-transform: uppercase; font-size: 140%; margin-right: 25px; margin-top: 1px;}
a.descriptor { float: left; margin-left: 5px; font-size: 80%; margin-top: 3px; text-indent: -9999em; display: block; background: url(../images/btn_info.png) bottom left no-repeat; width: 16px; height: 17px;}
#individualDisclaimer .descriptor { background: none; text-indent: 0; width: auto; font-size: 100%; text-align: right;}
div.descriptorText { position: absolute; padding: 15px; -moz-border-radius: 3px; -webkit-border-radius: 3px; width: 300px; text-transform: none; font-size: 65%; background-color: #FAFAF8; border:1px solid #E2E2DC; margin-top: 10px; z-index: 100000; display: none; }
#individualDisclaimer .descriptorText { font-size: 90%; }
div.descriptorText ol, body.flatText div#mainContent ol { list-style-type: decimal;}
ol li{ list-style-type: none; margin-left: 25px; margin-bottom: 10px;}
div.descriptorText ul, body.flatText div#mainContent ul { list-style-type: disc; margin-left: 20px;}
div.descriptorText p, div#description p, body.flatText div#mainContent p { margin-bottom: 1em;}
div.descriptorText a { float: none; }
.individualName { float: left; width: 580px;}
#individualDisclaimer { float: right; width: 300px;}
#piechart_fec { height: 135px; }
.section-divider { width: 800px; }

body.flatText div#mainContent ul li, body.flatText div#mainContent ol li, .chartModule .normalList li, .normalList li { margin-bottom: 10px;}
body.flatText div#mainContent ul, body.flatText div#mainContent ol { margin-bottom: 20px;}
strong, b { font-weight: bold; color: #3b3130;}
i, em{ font-style: oblique; }

dl.key { margin-top: 0px; padding-top: 2px;}
dl.key dt { text-indent: -9999em; width: 10px; height: 10px; display: block; margin: 5px 7px 0 0;}
dl.key dd { margin-right: 15px;}
dt.employees { background-color: #efcc01;}
dt.pac { background-color: #f27e01;}

.secondaryTitle { font-weight: bold; margin-bottom: 10px; color: #585352;}
.chartModule .interiorList li { float: left; margin-right: 10px; margin-bottom: 0;}

table .even, li.even, div.even{ background-color: #f5f4f4;}
td, .expandDocList th, th { padding: 10px;}
th, .expandTableHead li, { text-transform: uppercase; padding-bottom: 5px; color: #585352; font-weight: bold; text-align: left; }
th.left { padding-left: 10px;}
th.right { padding-right: 10px;}
.center, td.lawmakerName a { text-align: center;}
.right { text-align: right;}
td.lawmakerName a { float: none; margin-right: 0;}
th { text-align: left;}

table#mainPageTable { width: 100%; margin-top: 30px; border: none;}
table#mainPageTable img { border: 2px solid #e0e0df; width: 40px; }
td.photo { width: 50px;}
tr#titles th.photo { text-indent: -9999em;}
table#mainPageTable th, #earmarksTable th, #partyTime th, .tab-area table th  { padding: 0 10px 10px 15px;}
.mainTable th { padding: 10px;}
.mainTable, #mainTable { margin-bottom: 55px; border: none;}
.sort { background: url(../images/sortArrows.png) left 4px no-repeat; cursor: pointer; }
table { margin: 15px 0 30px; }

div.searchBox { width: 880px; margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px dotted #e6e6e4;}
body.search dt a { margin-right: 10px;}
body.search dt { width: 600px; margin-right: 20px; }
body.search dt span { font-weight: normal;}
body.search dd { text-align: right; width: 260px; margin-right: 0;}
body.search table { margin-top: 15px;}


/*buttons*/

button, .linkBtn { text-indent: -9999em; display: block; border: none; cursor: pointer;}

button.searchBtn { background: url(../images/btn_go.png) left top no-repeat; width: 75px; height: 55px; float: left; margin-top: 3px;}
button.searchBtn:hover { background: url(../images/btn_go.png) left -55px no-repeat; }
button.searchBtn_sm { background: url(../images/btn_go_sm.png) left 2px no-repeat; width: 68px; height: 51px; float: left; }
button.searchBtn_sm:hover { background: url(../images/btn_go_sm.png) left -49px no-repeat; }
button.submitBtn { background: url(../images/btn_submit.png) left top no-repeat; width: 106px; height: 46px; margin-left: 120px; }
button.submitBtn:hover { background: url(../images/btn_submit.png) left -46px no-repeat; }
.previewBtn { background: url(../images/btn_preview.png) left top no-repeat; width: 121px; height: 46px; margin-left: 225px; }
.previewBtn:hover { background: url(../images/btn_preview.png) left bottom no-repeat; }
button.contBtn { background: url(../images/btn_continue.png) left top no-repeat; width: 121px; height: 46px; margin-left: 225px; }
button.contBtn:hover { background: url(../images/btn_continue.png) left bottom no-repeat; }
button.searchPostcardBtn { background: url(../images/btn_postcardSearch.png) left top no-repeat; width: 90px; height: 29px; margin-top: 2px; float: left;}
button.searchPostcardBtn:hover { background: url(../images/btn_postcardSearch.png) left bottom no-repeat;  }
#checkingBtn { background: url(../images/btn_bookmarklet.jpg) left top no-repeat; width: 169px; height: 60px; float: right; margin-top: 20px;}
#checkingBtn:hover { background: url(../images/btn_bookmarklet.jpg) left bottom no-repeat; }
#learnMore { background: url(../images/btn_learnMore.png) left top no-repeat; width: 150px; height: 46px; margin-top: 20px; margin-bottom: 30px;}
#learnMore:hover { background: url(../images/btn_learnMore.png) left bottom no-repeat; }
#donateBtn { background: url(../images/btn_donate.png) left top no-repeat; width: 145px; height: 60px; margin-left: 20px;}
#donateBtn:hover { background: url(../images/btn_donate.png) left bottom no-repeat; }
#ltColumn #donateBtn { margin-left: 0; margin-top: 30px; float: none; margin-bottom: 30px;}
.signupBtn { background: url(../images/btn_signup.png) left top no-repeat; width: 90px; height: 30px; }
.signupBtn:hover { background: url(../images/btn_signup.png) left bottom no-repeat; }
.sendCardBtn { background: url(../images/btn_ecard.png) left top no-repeat; width: 259px; height: 45px; margin-left: 120px; margin-top: 20px;}
#cycle_submit { background: url(../images/btn_update.png) left top no-repeat; width: 78px; height: 24px;}

form#contact { margin-top: 45px;}
label { color: #0A6E92; width: 120px; display: block; float: left;}
input, textarea { border: 1px solid #e0e0df; padding: 5px; width: 300px;}
select { width: 310px;}
form#contact li, #postcardBox form li, #vdayForm li { margin-bottom: 15px;}
#postcardBox form { margin-bottom: 35px;}
.checkbox { width: 15px; margin-right: 10px; float: left; margin-top: 2px;}
.checkLabel { display: block; width: auto;  margin: 10px 0 0 120px; font-family: Georgia, Times New Roman, Times, serif; font-style: oblique;}

.radio { display: block; float: left; width: 15px; margin-right: 10px;}


/*footer*/

#footerLinks { background-color: #fafaf8; border: 1px solid #e2e2dc; padding: 15px 20px 20px;  margin: 2px 10px 40px; }
#footerLinks nav ul { border-bottom: 1px dashed #E0E0DF; text-align: center; padding-bottom: 10px;}
#footerLinks ul a { text-transform: uppercase; text-decoration: none; font-size: 120%; }
#footerLinks nav li { border-left: 1px solid #cecec9; padding-left: 20px; margin-left: 20px; display: inline;}
#footerLinks #aboutLink { border-left: none;}

#requestsContent { float: left; margin-right: 20px; margin-top: 3px;}

#sunlightRequests p { line-height: 18px; color: #999292; }
#sunlightRequests label { width: auto; margin-top: 3px; margin-right: 10px;}
#sunlightRequests { font-size: 90%; padding-top: 15px;}
#badgeHeader { text-indent: -9999em; display: block; background: url(../images/badge.png) center top no-repeat; width: 78px; height: 77px; margin-top: -20px; float: left; margin-right: 20px;}

#sunlightRequests input { padding: 3px 5px; color: #999292;}
#id_email{ width: 260px; }
#id_zip { width: 150px;}

#footerPolicy { margin-bottom: 70px;}
#footerPolicy a.logo { float: left; border-right: 2px dotted #dcdcd8; text-indent: -9999em; display: block; margin-left: 25px; padding-right: 25px;} 
#sunlightFoundation { background: url(../images/logo_sunlight.jpg) top left no-repeat; width: 162px; height: 49px; margin: 0 0 0 30px;}
#sunlightFoundation:hover { background: url(../images/logo_sunlight.jpg) left bottom no-repeat; }
#openSecrets { background: url(../images/logo_opensecrets.jpg) top left no-repeat; width: 172px; height: 60px;}
#openSecrets:hover { background: url(../images/logo_opensecrets.jpg) left -60px no-repeat; }
#followthemoney { background: url(../images/logo_followthemoney.jpg) top left no-repeat; width: 87px; height: 66px;}
#followthemoney:hover { background: url(../images/logo_followthemoney.jpg) left -66px no-repeat; }
#pogo { background: url(../images/logo_pogo.jpg) left 10px no-repeat; width: 325px; height: 66px; margin-top: 10px;}

#bottomFooter p { font-size: 90%; line-height: 16px; margin: 15px 0 40px 220px; text-align: center; width: 500px; }
#signupForm { float: right; width: 320px;}
#signupForm li { float: left; margin-right: 25px; margin-top: 2px;}
#signupForm label { text-indent: -9999em;}

.relationships { margin-top: 8px; font-size: 90%; line-height: 16px; }
.relationshipTitle { font-weight: bold; }
.relationship a { font-style: italic; padding-left: 8px; font-family: Georgia, Times New Roman, Times, serif; }

.error #ltColumn #search { float: none; background: #eaeaea; display: inline-block; padding: 10px; margin-top: 10px; margin-bottom: 10px; }
.error #ltColumn ul { list-style: disc; margin-left: 30px; }
.error #ltColumn ul li { margin-top: 10px; }
.section-error { padding:10px; width: 760px; margin-top:8px; border:2px solid #fbc2c4; background:#fbe3e4; color:#8a1f11; }

.no-padding { padding: 0 !important; }

.label-grant { width: 60px; text-align: center; padding: 2px; background: #f2e388; color: black; text-transform: uppercase; font-size: 75%; }
.label-contract { width: 60px; text-align: center; padding: 2px; background: #efcc01; color: black; text-transform: uppercase; font-size: 75%; }
.label-loan { width: 60px; text-align: center; padding: 2px; background: #f27e01; color: white; text-transform: uppercase; font-size: 75%; }
.label-support { width: 60px; text-align: center; padding: 2px; background: #f2e388; color: black; text-transform: uppercase; font-size: 75%; }
.label-oppose { width: 60px; text-align: center; padding: 2px; background: #f27e01; color: black; text-transform: uppercase; font-size: 75%; }

.cell-type { width: 65px; }
.cell-recipient { width: 165px; }
.cell-year { width: 65px; }
.cell-agency { width: 165px; }
.cell-description { width: 205px; }
.cell-amount { width: 95px; }

.cell-earmark-description { width: 690px; }

.cell-earmark-members li { list-style-type: disc; }
.earmark_mainDescription { margin-bottom: 8px; display: block;}
.moreEarmarks { font-family: Georgia, Times New Roman, Times, serif; font-style: oblique; margin-left: 15px;}
.lobbyistsOrgs li, .issuesLobbied li, .billsLobbied li, .earmark-requests li { float: left; margin-right: 10px; margin-bottom: 0px;}

.inArticle { float: left; width: 130px; background-color: #f9ea99; padding: 10px 15px; -moz-border-radius: 3px; -webkit-border-radius: 3px;  border:1px solid #EFCB01; }
.inArticle li { float: left; margin-right: 5px; margin-bottom: 8px; font-family: Georgia, Times New Roman, Times, serif; font-style: italic;}
.articleGraph { float: none; width: auto;}
.insideModule { padding-bottom: 40px; margin-bottom: 40px; border-bottom: 1px dotted #dbdbda;}
.section { margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px dotted #dbdbda;}
.interiorSection { margin-left: 25px;}

#articleContent { float: left; margin-right: 25px; width: 365px;}

#moreNews li { margin-bottom: 15px;}
.articleMetaData { margin-bottom: 25px;}
#moreNews { margin-top: 25px;}

.moneyTitle { margin-top: 6px; font-size: 105%;}
dt.moneyTitle { margin-top: 8px;}

#fdbk-contact-widget { margin-left: 40px; margin-right: 40px; margin-top: 20px; }

.tipHeight { margin-bottom: 25px; display: block;}

#grantsContracts, #earmarksTable { margin-bottom: 55px;}
#orderPostcards { margin-top: 10px; padding-top: 40px; border-top: 1px dashed #DCDCD8; }

#checkingLogo { background: url(../images/logo_checking.png) top left no-repeat; width: 211px; height: 80px; text-indent: -9999em; display: block; float: left;}

.standOut { font-family: Georgia, Times New Roman, Times, serif; font-style: oblique; font-size: 180%; color: #3b3130; line-height: 30px; width: 520px;}
.home a.standOut  { width: auto; font-size: 125%; line-height: 22px; color: #0A6E92; font-style: normal; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
#checkingPrivacy { margin-top: 30px; padding-top: 30px; border-top: 1px dashed #E2DFDF; color: #827d7d;}
#checkingPrivacy p { font-size: 88%;}
.toolImage { border: 3px solid #e2dfdf; float: left; margin-right: 25px; }
#bookmarkbarImage { border: 1px solid #e2dfdf; margin-bottom: 25px;}
#bookmarkTitle { margin-top: 40px;}
#mainContent .biggerBreak { margin-bottom: 25px;}

#facebookShare { width: 16px; height: 16px; background: url(../images/facebook.png) top left no-repeat; display: block; text-indent: -9999em; float: left; margin-right: 15px;}
#twitterShare { width: 16px; height: 16px;background: url(../images/twitter.png) top left no-repeat; display: block; text-indent: -9999em; float: left;}

.entryMetaData { font-family: Georgia, Times New Roman, Times, serif; font-style: oblique; margin-bottom: 15px; display: block;}
.author { float: left; margin-right: 15px;  font-family: Georgia, Times New Roman, Times, serif; font-style: oblique;}
.internalContent { margin-left: 50px;}

.regColSmall { width: 50px; }
.regColCount { width: 85px; }
.regColDate { width: 100px; }
.regColLarge { width: 400px; }
.facaColLarge { width: 320px; }
.expandCol { float: left; padding: 10px; }
.toggle { background: url(../images/toggle.png) bottom left no-repeat; width: 13px; height: 12px; margin-top: 22px; display: block; text-indent: -9999em; margin: 10px; padding: 0;}
.toggle.active { background: url(../images/toggle.png) top left no-repeat; }
.toggle.noshow { background: none;}
.regsTip { margin-bottom: 0; padding: 10px; padding-top: 0px; }

.expandDocList {
    display: none;
    margin-left: 100px;
}

.expandTableRow .loading {
    background: url('../images/loading_large.gif') center center no-repeat;
    height: 100px;
    border-top: 2px solid #e5e5e5;
    display: none;
    margin-left: 205px;
}

.expandDocList table{
    margin-right: 50px;
    margin-bottom: 25px;
    width: 660px;
    border-top: 2px solid #e5e5e5;
}

.expandDocList tbody tr.even { background-color: #FdFdFd; }
.expandDocList tbody tr.odd { background-color: #F5F5F5; }

#revolvingDoor {
    float:right; font-style: italic; margin-right: 0pt; text-transform: uppercase; font-weight: bold;
}
.individual #revolvingDoor{
    margin-top: 10px;
}
.individual #revolvingDoor{
    margin-top: 10px;
}
dl.related{
    margin-top: 0;
}

.advisoryMembers li { margin-left: 25px;}


/*EPA*/

span.numerous{
    font-weight: 700;
}

tbody.numerous{
    border-top: 4px solid #D5D4D5;
}

tr.numerous{
    font-style: italic;
    color: #949494;
}
tr.numerous a{
    color: #549ab3;
}

table .even.numerous{
    background-color: #f9f9f9;
}

.withCaps { text-transform: none; }

#floatingNavWrapper { height: 40px;}
#floatingNav { position: relative; }
#floatingNav.floating { position: fixed; top: -5px; z-index: 300; }

#miniNav { background: url(../images/bg_sideNav.png) top left repeat-y; width: 99px; padding: 10px 0; color: #fff; line-height: 15px; font-size: 90%; font-family: Georgia, Times New Roman, Times, serif; font-style: oblique;}
#miniNav li { margin-bottom: 10px; padding: 0 17px 2px 16px; margin-left: -10px;}
#miniNav li a { color: #fff; padding-top: 2px; display: block;}

#miniNavWrapper { background: url(../images/bg_miniNavCorner.png) top left no-repeat; padding-top: 6px; z-index: 3; position: absolute; top: 33px; }

#miniNav li.active, #miniNav li:hover { background: url(../images/bg_smNavActive.png) left center no-repeat;  }

.withTip { margin-bottom: 5px; }


/* Transparency Data */

#td_nav { background: url(../images/bg_tdNav.png) right top no-repeat; margin-top: -32px; padding: 14px 0 0 0; height: 42px; margin-bottom: 25px;}
#td_nav li { float: right; border-right: 1px solid #cacdce; padding: 0 25px; line-height: 15px; text-align: center;}
#td_nav li.last { border-right: none;}
#td_nav li:hover, .documentation #td_nav #documentation, .downloads #td_nav #downloads, .api #td_nav #api, .flexwidth #td_nav #searchTD, .searchTD #td_nav #searchTD{ font-weight: bold;}

#dataTabs { margin: 0 35px 40px -3px; border-right: 1px solid #DCDCD8; padding: 20px 0; width: 90px; line-height: 16px; font-size: 95%; float: left;}
#dataTabs li { padding: 10px 8px; border-top: 1px solid #DCDCD8; border-bottom: 1px solid #DCDCD8; border-left: 1px solid #DCDCD8; background-color: #f6f3f2;}
#dataTabs li.active, #dataTabs li:hover { background: #fff; font-weight: bold;  margin-right: -2px;}
#dataTabs a { text-decoration: none; }

#mainSearchFilter { margin-top: 45px; float: left; width: 780px;}

.leftIntro { float: left; width: 530px; padding-right: 29px; border-right: 1px dashed #DCDCD8;}
.rightIntro { float: left; margin-left: 30px; width: 180px; }

.previewButton { background: url(../images/btn_previewData.jpg) left top no-repeat; height: 39px; width: 137px;}
.previewButton.enabled { background: url(../images/btn_previewData.jpg) left -39px no-repeat; }
.previewButton.enabled:hover { background: url(../images/btn_previewData.jpg) left -78px no-repeat; } 

#mainSearchFilter li.intro { display: none; }

#mainSearchFilter fieldset { padding: 0 0 10px 15px; }
#mainSearchFilter fieldset label { width: auto; margin-right: 15px; font-weight: bold;}

.tdata #filters label { font-weight: bold; font-size: 120%; width: auto; } 

#filters { border-top: 1px dotted #c8c8c3; padding: 25px 10px 25px 65px; background: url(../images/tabGradient.jpg) left top repeat-x;}
#smLtColumn #filters { padding: 25px 0;}
.tdata #smLtColumn #filters select { width: 80%;}
.tdata #smLtColumn #filters input { width: 75%;}
.tdata #smLtColumn #filters label { width: 55%; padding-top: 10px;}

.mainLabel { font-size: 150%; }

#filters li { margin-bottom: 25px; border-bottom: 1px dotted #DCDCD8; padding-bottom: 5px;}
#filters li ul li { border-bottom: none; }

.remove, .add { float: right; text-indent: -9999em; display: block; width: 27px; height: 27px; }
.add { background: url(../images/btn_plus.png) left top no-repeat;  margin-right: 5px;}
.add:hover { background: url(../images/btn_plus.png) left bottom no-repeat; }

.remove { background: url(../images/btn_minus.png) left top no-repeat; }
.remove:hover { background: url(../images/btn_minus.png) left bottom no-repeat; }

.fields .remove { background: url(../images/btn_minusSm.png) left top no-repeat; width: 21px; height: 21px;}
.fields .remove:hover { background: url(../images/btn_minusSm.png) left bottom no-repeat; }

.flexwidth #mainContent_top, .flexwidth #mainContent_bottom { visibility: hidden; height: 0;}
.flexwidth #mainContent {  background: #fff; border: 1px solid #deded8; padding-top: 35px;}
.flexwidth #header { margin: 0 auto; width: 960px; }
.flexwidth #pageMain, .flexwidth footer  { margin: 0 2%; width: 96%; min-width: 940px;}

.flexwidth #footerLinks { margin: 2px 0 60px; } 
.flexwidth #footerPolicy { margin: 0 auto 70px; width: 930px;}

#lgRightColumn { width: 86%; float: left;}

#lgRightColumn table { width: 100%; margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px dashed #DCDCD8;}
#smLtColumn select, #smLtColumn input { width: 100%;}

.tdata table { border: none;}
.tdata table td { border: 1px solid #E5E4DB;}

.module { margin-bottom: 20px;}
.module p { margin-bottom: 1em;}

#loading { font-size: 160%; display:none; font-weight: bold; background: url("../images/ajax-loader.gif") no-repeat scroll left top transparent; padding-left: 30px; margin: 40px 0;}
#nodata { display: none; font-size: 140%; font-weight: bold; margin-bottom: 30px; }
#tableScroll { display: none; position: relative; }

#lgRightColumn table th { padding: 0 10px 10px;}

.license { font-size: 93%; line-height: 19px; color: #827D7D;}

#filterselect { margin-bottom: 30px;}

.operator_field select, .dualdropdown_field select { margin-bottom: 10px;}
.daterange_field input { width: 100px; margin-right: 10px;  margin-bottom: 10px;}

.filterTitle { width: 380px; float: left;}

.flexwidth #datafilter { background-color: #F5F4F4; padding: 15px; border: 1px solid #DCDCD8; margin-bottom: 40px;}
.flexwidth #filters { padding: 0; }
.flexwidth #filters li { padding: 25px 15px; width: 29%; float: left;  border-right: 1px dotted #DCDCD8; border-bottom: none;}
.flexwidth #filters li li { padding: 0; border-right: 0; margin-bottom: 0; width: 100%;}
.flexwidth #dataTabs { width: 8%; }
.flexwidth .filterTitle { width: 160px;}
.flexwidth select, .flexwidth input { width: 160px;}
.daterange_field input { width: 70px;}
.flexwidth #filterselect { width: 300px;}
.flexwidth .col-1 { clear: both; }

#displayCount { float: left; margin-top: 15px;}
.downloadButton { background: url(../images/btn_download.jpg) left top no-repeat; height: 39px; width: 137px; float: right;}
.downloadButton.enabled { background: url(../images/btn_download.jpg) left -39px no-repeat; }
.downloadButton.enabled:hover { background: url(../images/btn_download.jpg) left -78px no-repeat; }

#tableDescriptors { border-bottom: 1px dashed #DCDCD8; }

#infoPopup { background-color: #fbfbd0; border: 3px solid #ebe912; padding: 15px 20px 5px; font-family: Georgia, Times New Roman, Times, serif; font-style: oblique; margin: 0 40px 40px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
#closeBtn { background: url(../images/btn_close.png) top left no-repeat; width: 33px; height: 33px; float: right; top: -27px; position: relative;}
#closeBtn:hover { background: url(../images/btn_close.png) bottom left no-repeat; }

.tdata .pre, .tdata pre.literal-block { display: block; white-space: nowrap; overflow: auto;}
.ui-dialog button { text-indent: 0; display: inline;}

.fecStats { margin-bottom: 20px !important; }
.blockedSpan { display: block; margin-bottom: 15px; }
.fecStats dd { float: right; text-align: right; width: 50%; font-weight: bold;}
.fecStats dd span { font-weight: normal;}

.electionHeader { margin-top: 40px; border-bottom: 1px dashed #DCDCD8; margin-bottom: 25px;}
.electionHeader h4 { font-weight: bold;}
.electionHeader .tip { margin-bottom: 5px;}

.downloadLinks { margin-bottom: 40px; margin-right: 35px; font-size: 95%;}
.downloadLinks a { display: block; text-align: right; background: url(../images/down_16.png) bottom left no-repeat; padding-left: 20px; height: 16px; clear: both; float: right;}
.downloadLinks a:hover { background: url(../images/down_16.png) top left no-repeat; }

.chartModule .withTip { margin-bottom: 5px;}


#featureBox p span.differentText,
.tk-proxima-nova-extra-condensed,
h1 a#logo,
h2,
input#id_query,
input#id_search {
    font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-weight: normal !important;
}
